[2018-10-02 15:47] Themanwithoutaplan commented on #1172
I have no experience with private repos but I think you just have to make sure the GIT_URL is exposed. See https://bitbucket.org/openpyxl/openpyxl/addon/pipelines/home#!/results/543 (I'm using Mercurial so have to expose it explicitly).

[2018-10-02 16:01] solkimicreb commented on #1172
Thanks, I will try that!

[2018-10-02 18:04] bytewalls commented on #1195
@Themanwithoutaplan thanks for the report, we have identified what is causing this issue and are working on rolling out a fix.

[2018-10-03 06:14] js-um opened #1196 "Can't contact customer service"
- I signed up 'Coveralls Trial' for my private Github team before 4~5 months.
- A day or two later, I thought I would not use Coveralls,
1. I changed my Github primary E-mail address several times.
2. I removed my account from Coveralls.
- I don't remember which is first.
- When I realized that Coveralls payment would continue,  I resynced Coveralls with my Github account, but my private teams sta

[2018-10-03 12:14] chapterjason opened #1197 "How to read the reports?"
Hey, I always see the `Branches [[5, 1]] missed.` and `Branches [[6, 0]] missed.`

What does this numbers mean?

[2018-10-04 19:11] salaros commented on #1141
bump

[2018-10-04 19:40] bytewalls commented on #1195
@Themanwithoutaplan a bug fix was released and it looks as though your builds are back to working as expected.

[2018-10-04 19:40] #1195 closed

[2018-10-04 19:56] bytewalls commented on #1141
@salaros Can you try removing the global `COVERALLS_RUN_LOCALLY` environment variable and let me know if that solves your issues? Running locally will result in it pulling the git information directly from the travis build environment and being report as `php-coveralls` service name.

Travis does often run in a HEAD detached state as opposed to on the branch being tested. In order to solve this we

[2018-10-04 19:59] Barryrowe opened #1198 "Coveralls updates check status, but doesn't provide Comment on PR"
This is likely related to #1183 but I'm seeing the exact opposite where the coveralls status is reporting fine, but I never get a comment on the PR.

Status Reporting:
<img width="780" alt="screen shot 2018-10-04 at 3 55 32 pm" src="https://user-images.githubusercontent.com/1013426/46499398-fc5e1180-c7ed-11e8-90b2-9d6f1b514cf8.png">

No Comment over several commits and builds:
<img width="796" alt

[2018-10-04 20:02] Barryrowe commented on #1198
The PR in question is: https://github.com/Barryrowe/android-coveralls-example/pull/1

[2018-10-04 20:44] bytewalls commented on #1198
@Barryrowe, we don't leave comments on the first build of the repo. In this instance since there is no build on the branch you are merging into, comments will not be made.

The reason for this is that the comments just don't make sense or provide meaningful information without a comparison build.

[2018-10-04 20:44] #1198 closed

[2018-10-04 20:53] Barryrowe commented on #1198
@bytewalls Thanks, this makes sense.

[2018-10-04 21:07] salaros commented on #1141
You are right, it was `COVERALLS_RUN_LOCALLY=1` and `COVERALLS_REPO_TOKEN=<my token>` 😞
probably when I tested Travis for the first time I haven't managed to get it working without these two variables, the strange thing is that locally it worked correctly (with vars set), but even if I did the same via `.travis.yml` it still failed to retrieve Git branch and `.coveralls.yml` in the root folder of

[2018-10-08 14:31] wkschwartz commented on #281
I'm also having this problem. Passing builds: [at Travis](https://travis-ci.org/wkschwartz/wrapitup/jobs/438438505). Coveralls has received the data but not showing any results: [at Coveralls](https://coveralls.io/jobs/40982337)

[2018-10-10 11:30] Idanshenhav opened #1199 "Coveralls Entrerprise trial request error"
Hi,

New trial request sent, Email was confirmed, but as I try to login I get an error message "Huston we have a problem".

Please advise.

[2018-10-11 12:52] lifenautjoe commented on #552
Anyone has successfully integrated CircleCI and coveralls yet? 🤷‍♀️

[2018-10-11 15:42] kenske commented on #552
I did, but ended up moving to codecov because the coveralls reports took too long (sometimes hours)

[2018-10-11 16:43] giovannipizzi opened #1200 "Parallel builds do not work (public repo, TravisCI, no token)"
We applied the changes as suggested in #1139 but we don't see the PR comment appearing from Coveralls.io, as it instead happens for non-parallel builds.

We tried this already in PR aiidateam/aiida_core#1977 without success. Just to verify that this was not caused by the fact the PR had been opened before the changes to Coveralls, we just created a new PR aiidateam/aiida_core#2051 but with no succ

[2018-10-11 16:54] muryanto1 commented on #552
coveralls is working for me with circleci 2.0.
+ add my repo to coveralls, get the "TOKEN" for that repo, and
+ add "COVERALLS_REPO_TOKEN" environment variable in Circleci setting for my project.
+ run "coverage xml" after running my tests with coverage on <-- I think this is needed.
+ run 'coveralls' in circleci

[2018-10-12 07:54] lifenautjoe commented on #552
Hi all, thanks for the replies! @muryanto1 your answer worked! However I also found CodeClimate a better documented tool which I integrated easily and with code quality analysis included too.

Would recommend giving it a look :-)

[2018-10-12 13:09] dss-osc opened #1201 "Coveralls badge not working for master branch"
Hi, hope someone can help. Im having trouble with the coveralls badge, coverage seems to be reporting fine, however the badge returned when `branch=master` is passed always says `Unknown`. It returns the correct number if a commit hash is passed as the value, but that would mean id need to update the badge on every commit which doesn't seem correct.

https://coveralls.io/github/disneystreaming/pg2

[2018-10-12 15:49] cjw296 commented on #1145
Looks to have been transient.

[2018-10-12 15:49] #1145 closed

[2018-10-12 15:51] cjw296 commented on #1139
@bytewalls - any news on this? I now have a PR failing CI because of this, see https://github.com/Simplistix/testfixtures/pull/91

[2018-10-15 20:56] ain commented on #1191
Thanks a lot @bytewalls, I'll test and report back with the results.

[2018-10-16 07:37] skypjack opened #1202 "Job is hanging since two days ago and coverage isn't updated as a consequence"
For a project of mine, coveralls is hanging on [these](https://coveralls.io/jobs/41211519) [jobs](https://coveralls.io/jobs/41211742) and coverage isn't updated since a few days ago.
The dark _loading..._ message in the center of the screen looks like something went wrong and it's not capable of recovering.

The project is [`EnTT`](https://coveralls.io/github/skypjack/entt), it's a public one. As

[2018-10-16 08:41] shiyunjin commented on #1202
Our private projects have not been updated

[2018-10-16 08:48] shiyunjin commented on #1202
yes ，all new commit hanging while loading

[2018-10-16 10:36] datadidit opened #1203 "Coveralls Response time on"
We recently moved to a mono repo for some of our Python projects. Things were working fine but in the last 2-3 days we appear to be getting slow response times at this url: https://coveralls.io/github/PhilliesAnalytics/phy . It either responds slowly or we get a gateway timeout.
<img width="1609" alt="screen shot 2018-10-16 at 6 33 06 am" src="https://user-images.githubusercontent.com/10933169/470

[2018-10-16 11:05] linkdata opened #1204 "Coveralls job hanging."
Travis passed fine. Coveralls job is hung.

https://coveralls.io/jobs/41245920

Previous job seems to be incomplete?

https://coveralls.io/jobs/41245046

[2018-10-16 12:18] ohmybrew commented on #1204
I am having the same issue, all jobs simply say "Loading..." but they say they are completed.

[2018-10-16 12:40] msylvestre opened #1205 "Can't pay my bill and can't open a zendesk account"
Hi guys, things aren't going very well this morning.  I saw the bill failed to get paid on Monday as we had an issue with the credit card.  It's fixed this morning, but every time I try to update my subscription, it crashes the web site :-/

They I clicked on "feedback", but it asks me to log in with a zendesk account.  Click to "get a password", but never received the email.

What's going on this

[2018-10-16 12:41] msylvestre commented on #1205
When I say crash, I'm not joking...
![image](https://user-images.githubusercontent.com/6956436/47017081-51b7ee00-d11f-11e8-9509-5e06ac28b209.png)

[2018-10-16 13:58] dansteele commented on #1203
We have the same issue

[2018-10-16 13:59] dansteele commented on #1203
The page was returning the above error

Tried to go to the homepage instead of my app URL. Same issue.

Checked the status website, all seems fine

Deleted my cookies, home page loaded fine

Visited my app url, the 'HALT' page loaded fine

Tried to sign in via GitHub,issue arose again

[2018-10-16 16:08] rowanseymour commented on #1202
Same here, e.g. https://coveralls.io/jobs/41251634

Last build that worked for that project (golang using goveralls) was Saturday 13th

[2018-10-16 17:20] hbursk commented on #1202
I'm seeing the same issue on our repos. No coverage data being reported as of two days ago and all GitHub checks are hanging as a result. Coveralls.io is also loading very slowly.

[2018-10-16 17:52] bytewalls commented on #1202
Thanks all for the reports, we found an issue causing degraded performance, and have released a bug fix.

There is a backlog of data to process, but we are back up to full capacity and will continue to monitor the situation. Sorry for the inconvenience.

[2018-10-16 17:54] bytewalls commented on #1203
Thanks all for the reports, we found an issue causing degraded performance, and have released a bug fix.

There is a backlog of data to process, but we are back up to full capacity and working on getting through the backlog. We will continue to monitor the situation. Sorry for the inconvenience.

[2018-10-16 18:10] erayerdin commented on #281
I'm developing [this project](https://github.com/erayerdin/pyairmore) and [the job in my Travis build](https://travis-ci.org/erayerdin/pyairmore/jobs/442301118) seems to send the data below to coveralls successfully (taken with `--verbose`).

[code]

And it gives the output:

[code]

which means coveralls can take the data successfully. However, it shows neither on [the project's coveralls page](h

[2018-10-16 18:11] skypjack commented on #1202
@bytewalls It sounds great. Thank you very much.
If it's fine for you, I'll check it tomorrow and close the issue if the problem is solved.

[2018-10-16 19:24] datadidit commented on #1203
Any idea on when all the backlog data will be processed? Just trying to see when I should expect the GUI to perform normal again.

[2018-10-16 19:28] msylvestre commented on #1205
Guys any news ?  IT's crash after crash today and none of my build end up successful due to that.

[2018-10-17 02:06] ageekymonk opened #1206 "Coveralls not updating the coverage"
Hi,

  I am sending coverage details and it is not updated. https://coveralls.io/jobs/41274794
Can you guys help me with this

Thanks
Ramz

[2018-10-17 08:39] linkdata commented on #1204
It's caught up. Closing as resolved.

[2018-10-17 08:39] #1204 closed

[2018-10-17 14:58] bytewalls commented on #1203
@datadit sorry for delayed response, everything is performing as usual again now.

[2018-10-17 16:34] msylvestre commented on #1205
This morning I get a new error message. Any support folks working for that company ??
![image](https://user-images.githubusercontent.com/6956436/47101764-fa8e4800-d208-11e8-8911-9360453ea6ee.png)

[2018-10-17 17:51] datadidit commented on #1203
@bytewalls thanks

[2018-10-18 08:35] kapilt opened #1207 "coveralls not responding on pull requests / python"
Hi Folks,

for the last week or so, coveralls has not been responding on our pull requests on our project. Its currently a mandatory check there.  We're directly pushing to coveralls from travis ci. Any suggestions on how to rectify would be appreciated.

Project
https://github.com/capitalone/cloud-custodian/pulls

Some pull requests as examples
https://github.com/capitalone/cloud-custodian/pull/3

[2018-10-18 08:40] kapilt commented on #1207
underlying issue documentation
https://github.com/urllib3/urllib3/issues/1456

looks like requests package is prepping for a release that will address
https://github.com/requests/requests/pull/4835

[2018-10-18 22:46] rowanseymour opened #1208 "Can't remove coveralls from repo"
I'm unable to remove coveralls from [this repo](https://github.com/nyaruka/goflow) and it's still appearing as a check on PRs e.g. https://github.com/nyaruka/goflow/pull/426

I deleted the repo on the coveralls side so it no longer exists there:

https://coveralls.io/github/nyaruka/goflow -> 404
https://coveralls.io/github/nyaruka/goflow/settings -> 500

[2018-10-18 22:47] bytewalls commented on #1208
Coveralls is set as a required check on your github repo, github is creating the check as soon as the PR is created since it is required.

[2018-10-18 22:47] #1208 closed

[2018-10-19 14:05] afzalSH-moneysmart commented on #1191
We have the below structure for our new project

[code]

The handlers are ruby gems and I run their rspec tests in a workflow, each job in the workflow handling a particular gem's tests. The builds run fine but I just can't manage to hit coveralls.

In my circle ci project environment vars, I have `COVERALLS_PARALLEL = true` and after following this answer below is my circleci config;

[code]

All

[2018-10-19 21:32] courtney-miles commented on #1194
Is there another way to get support here?

I can't see that there's any fault with our setup between Travis CI and Coveralls.

I have enjoyed Coveralls until now. But with no support and us no longer getting any useful coverage reports from Coveralls anymore, we will have no choice but to take our business elsewhere.

[2018-10-21 01:36] kapilt commented on #1207
resolved upstream

[2018-10-21 01:36] #1207 closed

[2018-10-22 22:52] courtney-miles commented on #1141
I'm having the same issue and have raised #1194 but have not received any support. I am on the verge of finding an alternative service, but am doing my best to exhaust all option before I do.

I'm using Coveralls with a private repo.  I don't have `COVERALLS_RUN_LOCALLY=1` set.  This is the contents of my `.coveralls` file.

[code]

I'm using Travis CI to generate the coverage and [php-coveralls/p

[2018-10-23 01:40] jbarrieClassy commented on #1189
Hi I also have the same question the documentation is very lacking. I would like to see the coverage percentage by lines, like it is displayed in the ui report.

[2018-10-23 06:18] petar-andrejic commented on #975
Seems to be happening on the [Julia repo](https://coveralls.io/github/JuliaLang/julia) as well, here's a screenshot of what it looks like on my end, the files listed are most definitely not those of the Julia programming language. The recent builds list seems to be correct though...
![screen shot 2018-10-23 at 7 16 28 pm](https://user-images.githubusercontent.com/17103815/47339595-2e310c80-d6f8-11

[2018-10-23 10:56] prologic commented on #1189
Was my original request not clear? I want the same data that can be retrieved from:

[code]

Using the Coveralls API. AFAICT my work-around shell pipeline:

* Uses the `.json` resource of the repository
* Requires access to a `repo_token` for private repositories

[2018-10-23 13:49] Danon opened #1209 "I changed an owner of my repository, can't change the source."
Previously, I was the owner of a repository, coveralls link: https://coveralls.io/github/Danon/T-Regx .
Now, I transfered the repository to an organization, coveralls link: https://coveralls.io/github/T-Regx/T-Regx

When that happened, Travis CI immediately recognized the changed and moved builds history to the new repo.

I tried to use "Change source" option in coverrals, but it doesn't help.
1.

[2018-10-23 17:49] andyfleming commented on #1090
It looks like you have to re-enter the card to update the email address.

[2018-10-23 17:49] #1090 closed

[2018-10-24 16:37] #1203 closed

[2018-10-25 07:47] ltalirz commented on #1139
Looking at the issue tracker, it seems like coveralls & @bytewalls have a lot on their hands at the moment and need to prioritize, which is completely understandable and normal for open source projects.

In order to help them make these tough decisions, I suggest that everyone affected by this issue +1 the [comment by @cjw296 above](https://github.com/lemurheavy/coveralls-public/issues/1139#issuec

[2018-10-25 19:08] kimberlythegeek opened #1210 "Include alt text for generated RST badge"
The auto-generated RST markup for the Coveralls badge does not include alternative text

[2018-10-25 19:09] kimberlythegeek commented on #1210
Current:

[code]

fix:
[code]

[2018-10-26 14:07] RickCarlino commented on #1167
@bytewalls I am experiencing a similar situation. For the sake of demonstration, I wrote a stub function that has no tests to intentionally drop coverage. Instead of comparing itself to our default branch (`staging`), we think it is comparing coverage to itself (`intentionally_drop_coverage` branch).

Code available [here](https://github.com/FarmBot/Farmbot-Web-App/pull/1025). The issue started ar

[2018-10-30 17:57] tswiftma opened #1211 "Error while initializing daemon"
After installing Coveralls Enterprise on CentOS 7.4.1708 (core) I get an error bringing up the browser https://(IP):8800/initializing?redirect=/

"Error while initializing daemon: Error cannot GET /api/v1/status/retraced/await (500)"

I saw a warning about SELinux running in enforcing mode so I disabled that mode and reinstalled but I still get the same error.

![image](https://user-images.githubu

[2018-10-30 18:56] rayjlinden opened #1212 "Can't get to work with drone.io"
+ goveralls -coverprofile=cover.profile -service=drone.io -repotoken $$COVERALLS_TOKEN
Bad response status from coveralls: 422
{"message":"Couldn't find a repository matching this job.","error":true}

Using private gut hub and private enterprise version of drone.io.

Any ideas of how to debug the issue?

ray

[2018-10-31 15:15] weiyunlu opened #1213 "Coveralls does not consider #:nocov; upgrading gem makes coveralls not run."
Hello,

It appears that coveralls is not seeing the :nocov: tag in our Ruby on Rails app and is still including it in coverage reports.

A link to an affected file:
https://coveralls.io/builds/19829973/source?filename=lib/ext/string.rb

A link to a previous ticket for the same problem that does not appear resolved:
https://github.com/lemurheavy/coveralls-public/issues/1122

One thing we tried in t

[2018-10-31 15:18] weiyunlu opened #1214 "Change timezone?"
Hello,

Coveralls displays time zone in UTC and we would like to change this to EST to match the time zone of our office.  We have not found anything in the documentation, settings, or a google search that indicates how to do this.  Is it possible?

[2018-10-31 16:40] phptuts opened #1215 "Is your service pci compliant"
Hello,

I am looking for a code coverage service that is pci compliant?  The company I work for requires everything to be pci compliant.

Thank you

Noah

[2018-11-01 22:16] Hixie commented on #1103
This is still broken. Flutter's coveralls page hasn't shown reasonable data since at least as far back as last April.

[2018-11-01 23:40] #214 closed

[2018-11-02 06:13] moshfeu commented on #1065
@bytewalls It still happening :\

[2018-11-02 13:18] Totktonada opened #1216 "Badge detection blocks using the service"
https://coveralls.io/github/tarantool/tarantool-java?branch=connector-1.8.jdbc

![image](https://user-images.githubusercontent.com/92749/47917373-57048f00-deba-11e8-8f1f-ab5edcdd1bc6.png)

I have added the badge with using reference link syntax (I don't like to mix text and links), but it does not detected and I cannot show coverage. Also I don't understand: do I obligated to add the badge to use

[2018-11-02 20:09] moshfeu commented on #1065
A workaround is just add queryString param to the badge image url, for instance: `<img src="https://coveralls.io/repos/github/spread-the-code/git-commiter-nodejs/badge.svg?branch=master&kill_cache=1" />`

[2018-11-04 17:33] PetrKryslUCSD opened #1217 "Coverage calculation seems to be broken"
![image](https://user-images.githubusercontent.com/9855832/47967658-a959c300-e014-11e8-8cff-46b394cd93dc.png)
Notice that some lines are marked red, which is an impossibility since there is no branch.

[2018-11-05 02:50] #1196 closed

[2018-11-05 16:00] Tornquist opened #1218 "Multipackage Coverage File Paths are Incorrect"
**Summary**

I have a JS project set up as a multipackage repository using Lerna. I am currently running the tests and generating the coverage on each package individually. I am then moving the coverage files to the top level, summing them, and sending to coveralls.

The coverage is all accurate, but because the tests know their subdirectory as root, the listed files in the source view are all inc

[2018-11-05 16:01] Tornquist commented on #1218
Note, the coverage summing is based on changes here: https://github.com/tkrotoff/react-form-with-constraints/pull/19/files

[2018-11-05 16:18] Tornquist commented on #1218
I was also able to set the `Git repo sub directory:` through the website, but that doesn't really fix the issue.

It works for a single package, but I need it per tree.

[2018-11-05 17:30] Totktonada commented on #1216
Now it works. Don't sure what was the reason of the problem.

[2018-11-05 17:30] #1216 closed

[2018-11-05 18:09] tswiftma commented on #1211
Only occurs on CentOS install not on Ubuntu

[2018-11-05 18:09] #1211 closed

[2018-11-06 13:33] Tornquist commented on #1218
I'm mixing up/getting confused on sources. This issue is not addressable just for coveralls. I'll re-open as-needed.

[2018-11-06 13:34] #1218 closed

[2018-11-06 17:43] bhazelton commented on #1081
We are experiencing this same issue now on our public repo.
See this [PR](https://github.com/RadioAstronomySoftwareGroup/pyuvdata/pull/485).
The coveralls build number is listed in the Travis log as 41913860
When I go to [build page](https://coveralls.io/jobs/41913860) it says `pending completion`

[2018-11-06 20:08] weiyunlu commented on #1213
Hi, any updates on this issue?

[2018-11-06 20:08] weiyunlu commented on #1214
Any updates on this?

[2018-11-07 17:44] milind-shakya-sp commented on #1026
@nickmerwin  any update on this?

[2018-11-07 23:43] codingrhythm commented on #1166
@bytewalls I've tried to generate an API token from my account, and set as auth header. still gives me 403

[2018-11-07 23:55] codingrhythm opened #1219 "How to authenticate get request?"
Similar to closed issue #1166 however nothing works.

this is what I am doing

[code]

always returns 403

[2018-11-08 17:05] mgedmin opened #1220 ""Source not available" for mgedmin/check-manifest"
Here's a recent build that shows this problem: https://coveralls.io/builds/19988219 (although, as far as I can tell, all builds have it).

Near the bottom of the page it shows a list of source files, but when I click on my sole source file, I get a [page](https://coveralls.io/builds/19988219/source?filename=check_manifest.py) that says SOURCE NOT AVAILABLE.

If instead I click on any _job_ in this

[2018-11-08 17:17] mgedmin opened #1221 "GitHub commit status not updated for mgedmin/check-manifest"
I cannot figure out why pull requests for mgedmin/check-manifest never get the commit status updates from coveralls.  Here's a sample pull request: https://github.com/mgedmin/check-manifest/pull/88

It shows statuses from Travis and Appveyor, nothing from Coveralls.

Coveralls itself has a build corresponding to that commit: https://coveralls.io/builds/19988219

I have granted the Coveralls app th

[2018-11-09 12:27] tarzan opened #1222 "New reports are not being processed"
Do service just stopped working for our Repo yesterday. What's happening? I don't see anything on the status page and you guys don't have regular support?

[2018-11-12 10:10] wafendy commented on #1222
I'm having the same issue.

[2018-11-12 15:13] chrisma opened #1223 "Deprecated usage of SimpleCov::Formatter::MultiFormatter in docs"
In https://docs.coveralls.io/ruby-on-rails#simplecov-customization usage of `SimpleCov::Formatter::MultiFormatter` for using multiple formatters is recommended.

Using coveralls (0.7.1), simplecov (0.16.1), rails (~> 5.2.1), this is no longer supported:
![image](https://user-images.githubusercontent.com/1652117/48356144-e0c01380-e695-11e8-8e83-ea7645a9d638.png)

The recommended way of specifying m

[2018-11-13 10:47] cjw296 opened #1224 "Problems with coverage checks for parallel builds on Travis CI for PRs from forks"
So, I need to combine coverage information from a build matrix in Travis CI, as some code paths are only covered in certain versions of Python.

I had been using `COVERALLS_PARALLEL=true` and [poking the webhook ](https://github.com/cjw296/coveralls-check/blob/master/coveralls_check.py#L41-L61) to let coveralls know the jobs was done.

However, this doesn't work for PRs from forks, because Travis

[2018-11-13 17:52] somentelucas commented on #1096
Having the same issue here, did you find any solution for this?

[2018-11-14 12:30] dmitry-ivanov opened #1225 "Folders with the PHP Interfaces are shown as 0%"
While the PHP Interfaces are marked as 100%, the folder is marked as 0%.

Would be nice to have the folders marked as 100% too.

https://coveralls.io/builds/20097697 (see the "Contracts" folder)

![contracts](https://user-images.githubusercontent.com/1286821/48482439-57d1e500-e819-11e8-98c7-7c4294aaa0cf.png)

[2018-11-14 17:05] launay12u commented on #1078
Same here

[2018-11-16 19:36] PaulRBerg commented on #632
Just for the record, this also happens when you change the repo's name. Deleting, resyncing and toggling did the trick in my case.

[2018-11-19 21:38] cjw296 commented on #1224
Discussion on the Travis CI side of this appears to now be happening on [this thread](https://travis-ci.community/t/how-can-i-share-coverage-information-between-build-stages-in-prs-from-forks/859/4) in their forum.

[2018-11-19 21:39] cjw296 commented on #1139
@ltalirz - you may wish to follow up on this forum thread: https://travis-ci.community/t/how-can-i-share-coverage-information-between-build-stages-in-prs-from-forks/859/4

[2018-11-23 00:44] jonhoo commented on #1220
From what I can tell, this has been the case in a bunch of repositories for a while. #263 was the first, but [all of these](https://github.com/lemurheavy/coveralls-public/issues?utf8=%E2%9C%93&q=%22source+not+available%22) are basically the same. I just wish they'd fix it..

[2018-11-25 11:52] gustavosizilio opened #1226 "Access to Open Source project data"
Hello, I am a student and have plans of studying the test practices in open source companies. My interest with Coveralls is to get the list of open source that is using the platform to analyze coverage data.

However, I saw some references to API docs hosted on zendesk and I could not get access to the organization.

How can I get access to the public data: list of public repos using coveralls and

[2018-11-25 16:59] p8ul commented on #984
Had the same issue too. But fixed it by adding a `.coveralls.yml` file and added the token from coveralls `repo_token: <your-repo-token-from-coveralls-details>`

[2018-11-27 08:14] arkadyt commented on #971
@Quantum-35, I confirm. Clearing cookies worked.

[2018-11-28 15:50] williamcroberts commented on #1129
I'm having similar issues with only the first build (Sep 26) data being displayed despite numerous uploads to the server.

Details on:
https://github.com/tpm2-software/tpm2-pkcs11/issues/93

[2018-11-28 15:52] williamcroberts commented on #1206
I'm having similar issues with only the first build (Sep 26) data being displayed despite numerous uploads to the server.

Details on:
tpm2-software/tpm2-pkcs11#93

[2018-12-01 11:29] kotovalexarian commented on #1213
I confirm the issue. While no lines are highlighted with red, the total file coverage is less than 100%.

https://coveralls.io/builds/20397862/source?filename=app/policies/application_policy.rb

[2018-12-04 10:34] cckrause opened #1227 "Does not sync any public repos from github"
When i try to add a repo its showing: "Your repos are syncing..." and nothing is happening. I tried to hit the manual button to sync again. I logged out and in, i tried to delete the account and revoked permissions on github.com. Also signed up again with github.

Services seem to be OK.
https://status.github.com/messages
http://status.coveralls.io/

My Github account is PRO and my account doesn't

[2018-12-04 13:38] joshuaquek commented on #780
same here :(

[2018-12-04 13:39] joshuaquek commented on #972
same here... the label "Your repos are syncing..." keeps spinning forever

[2018-12-04 14:47] arbulu89 commented on #1227
Same issue here. Synchronization is still in progress since 3-4 hours ago.

[2018-12-05 13:57] ehmicky opened #1228 "`500` errors when retrieving source files, and coverage percentage is `null`"
Coverage information does not show up for my repository anymore. However my LCOV file is valid, and `coveralls --verbose` shows that `source_files` are correctly sent. `500` server errors are returned when retrieving the job's source files.

[Build `20466082`](https://coveralls.io/builds/20466082) screenshot (notice `no data available in table`):

![build](https://user-images.githubusercontent.com

[2018-12-05 14:32] lizz24 commented on #780
me too, it is syncing forever

[2018-12-05 16:03] msylvestre commented on #1205
Hey guys, you think you gonna look at this issue at some point ?
I got a mail from your support that my payment failed, but each time I try to update ANYTHING in the subscription screen, it just crash as it does since last october....
thx

[2018-12-05 16:13] mcfilib commented on #1228
similarly, i've just added coveralls to a private project and i'm unsure if this is why i'm not seeing any coverage data (https://coveralls.io/jobs/42919631.json).

[2018-12-05 16:21] ehmicky commented on #1228
I have sent an email to the main person who has been replying GitHub issues in the past. It seems like to GitHub issues has been replied to by Coveralls members since end of September.

Considering some users have problems paying for the premium service, this leaves me wondering if Coveralls is still actively maintained?

[2018-12-05 16:21] alnutile opened #1229 "Syncing Private Repos is Sloooooooow"
We have thousands of repos so maybe do what some other app do is just allow the user to enter the owner/repo-name instead of sync

[2018-12-05 17:00] ismay commented on #1227
I'm having the same problem. Syncing takes forever. Hasn't finished yet. Also tried signing out and in like @cckrause.

[2018-12-05 17:11] hardlydifficult commented on #1228
I'm having the same issue.

Last successful build: 04 Dec 2018 10:27PM UTC
Then a build reports null data at 05 Dec 2018 12:48AM UTC
And now no build appears on coveralls at all.

[2018-12-05 18:17] mcfilib commented on #1228
@ehmicky thanks for doing that. fingers crossed things get back up and running soon!

[2018-12-05 22:09] amastracci commented on #1149
Hi @bytewalls We are currently seeing a similar issue on our repos. Travis successfully completes the build step to push coverage reports to coveralls.io, however, we never get a coverage report generated nor do we see github checks completed. This is currently blocking our CI/CD pipeline.

Please see the bluzelle/swarmdb public repo configuration.

Please let us know if there is a potential worka

[2018-12-06 01:45] adambratt opened #1230 "Coverage has stopped running"
On all of our PRs in the last 24 hours or so it looks like Coveralls is just completely hanging and never responds back:

![image](https://user-images.githubusercontent.com/674271/49555674-84779a80-f8b5-11e8-91fb-b19db58c98c5.png)

I'm not seeing anything wrong with the configuration so I'm not sure why this is happening

[2018-12-06 02:16] hardlydifficult commented on #1228
FYI it appears they are working on the issue.  See http://status.coveralls.io/

[2018-12-06 05:31] senthilrch commented on #1206
I am facing the same issue for my public github repo. I have coveralls integrated with Travis-CI. All was working fine till a couple of days back. Since yesterday, coveralls has stopped working, though travis-ci successfully launches the coveralls job. But the coveralls job has no coverage data. See here:-

- https://coveralls.io/github/senthilrch/kube-fledged

[2018-12-06 06:34] yurenji commented on #1230
+1 same problem here

[2018-12-06 07:34] maxsam4 commented on #1230
Facing the same issue since the 4th of December.

[2018-12-06 09:43] purbanow commented on #1230
Same here +1

[2018-12-06 14:43] pkiraly commented on #1230
Same here +1

[2018-12-06 14:49] datadidit commented on #1230
+1 also is it possible to update the webapp(http://status.coveralls.io/) to not say operational when stuff like this is going on. Or maybe have operational be `yellow` since the fix is being implemented.

[2018-12-07 01:05] DarkGhostHunter commented on #1230
Still happening. I have no coveralls metrics or nothing all this day.

[2018-12-07 11:01] seunkoko commented on #780
me too!!

[2018-12-07 13:00] Peter554 commented on #1227
Same issue here

[2018-12-07 14:52] aleclarson commented on #632
I tried using the free TravisCI Github app (which might be Travis Pro?), and Coveralls doesn't like it, even after adding a `.coveralls.yml`. I've tried deleting the Coveralls repo, disabling TravisCI and re-enabling via the "Legacy Services Integration" page. Next I guess I'll try renaming the Github repo. 😢

[2018-12-07 22:47] mcfilib commented on #1228
looks like it’s all good now.

[2018-12-07 23:17] ehmicky commented on #1228
I have migrated to codecov, so I cannot unfortunately not confirm whether my initial problem issue was solved.

Based on their status update, I will close this issue.

[2018-12-07 23:17] #1228 closed

[2018-12-10 09:48] duerlund opened #1231 "Can't access subscription settings"
When we log in and go to [subscriptions](https://coveralls.io/subscriptions), it only says "Account managed by:".

[2018-12-10 12:57] peteremiljensen opened #1232 "Bad response 500: Build processing error"
I'm getting error:
`Bad response: 500 {"message":"Build processing error.","error":true,"url":""}`
When uploading to coveralls using node-coveralls.
It worked a day ago. Is this related to #1230?

[2018-12-10 13:35] peteremiljensen commented on #1232
My bad. I forgot I renamed the issue :)

[2018-12-10 13:35] #1232 closed

[2018-12-10 20:41] TransLocOps opened #1233 "Coveralls Trial Plan; CC required?"
I'd like to use the Coveralls Trial plan to sync a single private repository from our GitHub organization. The repo screen keeps saying to Add Pro to sync private repositories and it sees the total number of repositories in our organization. However, nothing syncs. I clicked Add Pro and it took me to a plan management page where it shows that I have Coveralls Trail selected, but wants CC informati

[2018-12-11 19:38] adamdavis40208 opened #1234 "Add label to passing/failing PR?"
A nice-to-have would be: coveralls tagging PRs as passing or failing. This way, the various automations (like probot/stale) that are setup can be told to ignore passing PR labels (so "stale" but passing PRs can be kept around longer)

Some uses for this:
* Quite a few of the automated bots can key off labels for actions. A non-passing label could be treated differently than a passing PR
* Label se

[2018-12-12 17:41] #607 closed

[2018-12-13 19:12] mdarby commented on #1050
Same issues nearly a year later? I've wasted half a day on this?

[2018-12-14 23:54] jywarren opened #1235 "Files reported as zero"
We've been using Coveralls for quite a while and recently noticed it's erroring, showing a broken graph and reporting zero files:

https://coveralls.io/github/publiclab/plots2

![screen shot 2018-12-14 at 6 48 00 pm](https://user-images.githubusercontent.com/24359/50035586-0ca22200-ffd1-11e8-8e93-750384f0f040.png)

We hadn't noticed due to the checks passing and the badge showing 91% coverage: [![

[2018-12-15 00:11] jywarren commented on #1235
Also note in the output for one recent build:

[code]

Is it possible api v1 isn't supported? We're on Travis, so i assumed it was a pretty standard setup.

[2018-12-15 18:28] electro-box opened #1236 "No info about coverage for my project"
Hi,

I seem to have done everything to enable Coveralls for my project, but there's still no info about coverage for my project.
https://github.com/electro-box/flowers

https://coveralls.io/github/electro-box
'There have been no builds for this repo'

Travis make build
https://travis-ci.org/electro-box/flowers
Help me please.

[2018-12-15 20:07] skion commented on #1182
Oddly the status is back again on [this PR](https://github.com/oauthlib/oauthlib/pull/630), but missing on e.g. [this](https://github.com/oauthlib/oauthlib/pull/617) or [this](https://github.com/oauthlib/oauthlib/pull/627).

[2019-01-01 16:48] najamelan opened #1237 "The coveralls gem fails in ruby if an up to date thor gem is installed"
`/usr/lib/ruby/2.5.0/rubygems/specification.rb:2332:in `raise_if_conflicts': Unable to activate coveralls-0.8.22, because thor-0.20.3 conflicts with thor (~> 0.19.4) (Gem::ConflictError)`

I suppose coveralls insists on having a thor version lower than 0.20 in it's gem file. This prevents me from requiring coveralls in my gem.

[2019-01-03 21:46] eyal0 opened #1238 "Chrome extension only works sometimes"
I'm still having problem with the chrome extension to get coverage in github.  It works on some pages but not others.  This one works:

https://github.com/pcb2gcode/pcb2gcode/blob/master/available_drills.hpp

This one doesn't:

https://github.com/pcb2gcode/pcb2gcode/blob/master/autoleveller.cpp

I can see the problem in the javascript: It's not taking coverage from the latest build, it's using the

[2019-01-04 03:55] mikedoan opened #1239 "coveralls could not access to private repo."
Already paid for the service but it's not working

[2019-01-04 15:38] Ana06 opened #1240 "JSON::ParserError in Ruby 2.6"
From https://travis-ci.org/rantly-rb/rantly/jobs/475352120:

[code]

For Ruby 2.5.1, Ruby 2.4 and Ruby head (unreleased Ruby 2.7), it does work: https://travis-ci.org/rantly-rb/rantly/builds/475352117

[2019-01-04 20:44] eyal0 commented on #1238
This solved my problem:

[code]

[2019-01-05 09:51] tdmalone commented on #971
Since this issue has the `legacy` label which I guess means it's not gonna be looked at anymore, see also #1120, which appears to be a newer issue for this problem.

[2019-01-08 16:16] p-snft commented on #1217
I have seen something similar in https://coveralls.io/builds/20962916/source?filename=src/PS/PhaseSpace.cpp#L463:
![grafik](https://user-images.githubusercontent.com/4871848/50843355-d2763700-1368-11e9-983f-96231eda858b.png)

[2019-01-08 20:45] cedx commented on #897
Closing this issue as it's not a priority, and I'm starting to doubt that it will be fixed one day (it has been open for more than 2 years). On the other hand, we already have an alternative solution (see comment from @andreskrey) that personally satisfies me.

[2019-01-08 20:45] #897 closed

[2019-01-09 20:32] Hixie commented on #1103
Since this continues to be broken I guess we'll have to stop trying to use coveralls.

[2019-01-11 09:53] fingolfin opened #1241 "Multiple coverage PR comments added by coveralls"
(I am seeing lots of similar issues, like #1037, or #1095, but none of them give me a hint how to fix it:

We recently started using coveralls on https://github.com/gap-system/gap but various things don't work. Most annoying right now is that we get multiple PR comments by coveralls. Example: https://github.com/gap-system/gap/pull/3175 where the bot left 5 identical comments.

We are using Travis

[2019-01-11 10:02] fingolfin opened #1242 "Coveralls gets confused by double slash in paths"
It seems that coveralls gets confused by paths containing a double slash. The expected behaviour would be that a double slash (or really, an arbitrary number of consecutive slashes) is treated like a single slash. At least that's how it works in POSIX.

Example: on https://coveralls.io/builds/21014216 you can see in the main file list the files `mockpkg.gd` and `mockpkg.gi` which really don't belo

[2019-01-11 10:14] fingolfin opened #1243 "API documentation: which `service_name` values are supported?"
On <https://docs.coveralls.io/supported-ci-services> you list a bunch of CI services you support. On <https://docs.coveralls.io/api-introduction> it is explained that one may need to set `service_name` to indicate the CI service being used.

But we could not find any place that documented the actual values supported by `service_name`. As with most parts of the API "documentation", only some exampl

[2019-01-11 10:16] fingolfin opened #1244 "API documentation: how to use service_pull_request ?"
On https://docs.coveralls.io/faq it says:

But no indication is given to what value one should / could set it, and the API "documentation" does not mention it either.

[2019-01-11 10:31] fingolfin opened #1245 "Bad links to branches from external repositories"
On <https://coveralls.io/github/gap-system/gap> (or any other Coveralls repository page), under "Recent Builds", there is a column "branch" with the name fo the branch from which the build was made; that name also is a hyperlink to the GitHub page for that branch.

Except that link is broken whenever the branch is not in the main repository (here: `gap-system/gap`), but rather comes from a fork (a

[2019-01-12 05:41] msangel commented on #632
the error message is very not informative, please make it better
so
for getting it work on public repo I had to do 2 things:
1) add empty .coveralls.yml file to repo
2) push **because it not working from local pc, only from within travis-ci**

[2019-01-12 16:19] subhankarc opened #1246 "Coverage result from different travis job"
Hi,

I have a travis matrix which has two jobs, one of NodeJs and another of Golang. I want to combine both the coverages and show a resultant one. Can you please let me know how do I achieve that? My travis.yml is [here](https://github.com/cloudfoundry-incubator/service-fabrik-broker/pull/540/files).

Now, it seems to be taking only one job and commenting on the PR, which ever reports first.

[2019-01-14 16:34] pathaugen opened #1247 "Not Detecting TravisCI.com Open Source Builds"
So I've been experimenting with Coveralls however the service doesn't detect and work with TravisCI.com builds.

Example:
https://travis-ci.com/pathaugen/doitall-golang
https://coveralls.io/github/pathaugen/doitall-golang

From the documentation, public builds on Travis should be detected and work so I'm not sure the issue here. I'm aware of config files but in public repos Coveralls recommends tw

[2019-01-16 13:23] micheljung opened #1248 "GitLab Support ETA?"
I've been reading "Gitlab support coming very soon!" on the front page for quite a while now.
Is there any ETA?

[2019-01-16 14:26] ILyaCyclone opened #1249 "Documentation should point to travis-ci.com"
According to https://blog.travis-ci.com/2018-05-02-open-source-projects-on-travis-ci-com-with-github-apps Travis CI os migrating from https://travis-ci.org to https://travis-ci.com.

Coveralls documentation (e.g. https://docs.coveralls.io) should be pointing to .com site instead of .org.

[2019-01-16 18:22] bcullman commented on #1120
we are still seeing this in our repo:

https://github.com/SAP/fundamental-react

89% in the readme.md, 92% at the coverall.io site.

[2019-01-16 23:10] ledio opened #1250 "Billing quetion"
I'm trying to close an account, and I can't seem to be able to do it.  I have a separate github account that it used to manage billing, and I can't seem to be able "unsubscribe" to anything, so it can stop charging me.  Who do I talk to about this?

[2019-01-17 00:37] jessica-pixvana commented on #610
Im having the same issue as @Flamefire

[2019-01-18 23:54] pallavi2209 opened #1251 "Github status stuck with "Expected — Waiting for status to be reported""
Hi,
Our open source project on GitHub usually works with Coveralls, but it gets stuck with following error now and then (nothing updated recently):
<img width="779" alt="screen shot 2019-01-18 at 3 50 20 pm" src="https://user-images.githubusercontent.com/11909235/51418533-ce040800-1b38-11e9-8e80-dd57b0ed5ae6.png">

I have tried following:
1. Restarting Travis CI build multiple times.
2. Closing an

[2019-01-19 02:01] xster commented on #1103
I think there are 2 separate issues.
https://coveralls.io/builds/21162782 etc are still showing the right per build data we're sending up to https://coveralls.io/api/v1/jobs. It's just not connecting to any metadata at the https://coveralls.io/github/flutter/flutter level.

Behind the scene, what data does coveralls retrieve from various CI's APIs based on `service_name`? Can we provide everything

[2019-01-23 11:49] anders-wind opened #1252 "Running coveralls in docker in jenkins"
## Our problem:
We are using Coveralls for our private repo. We use Jenkins for CI and Jenkins builds and tests our project in docker.
We do not get any error messages when we run coveralls but neither do we get any updates on our coveralls.io page.

## Our Setup:
We have a _.coveralls.yml_ file in our project root, containing the `repo_token` and we runt he dockerfile with  `docker run -e 'COVERA

[2019-01-24 06:01] jimsimon opened #1253 "Source code still not found after setting the subdirectory setting"
See: https://coveralls.io/builds/21246681/source?filename=lib/src/stocks_app_state.dart

I've added "mobile" as the repo subdirectory to use and it doesn't appear to be working.

Thanks!

[2019-01-25 03:59] poncianodiego opened #1254 "Check not even showing on GH PRs"
coverage/coveralls check is not even showing on PRs for our private repo, all info is on coveralls.io but no check showing only our CircleCi checks are showing.

[2019-01-27 18:41] tambien opened #1255 "Getting a 406 error on page"
This page used to work: https://coveralls.io/github/Tonejs/Tone.js, but now i get a 406 error each time.

The individual build pages still work, but the main landing page is a 406. Was that page moved?

Could be related to #6

[2019-01-28 22:41] jay opened #1256 "Coverage decreased (-75.7%) to 0.0%"
We have a coverage failure in curl/curl#3501 that says the coverage decreased to 0% but we're at a loss to explain why given the light change in the commit, and all CI is passing. The coverage report says "0 of 0 relevant lines covered (NaN%)".

/cc @bagder

[2019-01-29 14:42] danielleballas opened #1257 "Waiting for response from coveralls bot to comment permissions"
I'm not able to see comments on my PR's.
Can you approve my request for coveralls bot?

[2019-01-29 19:42] nickmerwin commented on #1257
Hi @danielleballas ok the request has been approved. Thanks!

[2019-01-29 19:42] #1257 closed

[2019-01-30 16:30] rjriel opened #1258 "Cannot reference coverall repo by name"
I've added one of our open source repos to coveralls. I am able to find the repo by repo number:

https://coveralls.io/repos/247499

But for some reason I can't reference the repo by repo name in the URL:

https://coveralls.io/github/Qlik-Branch/tesseract.js

Unfortunately all links that coveralls.io references is the latter rather than the former

[2019-01-30 16:37] rjriel commented on #1258
An update on this in case it helps. Referencing sub pages like settings:
https://coveralls.io/github/Qlik-Branch/tesseract.js/settings
seems to work. It's just the main page that doesn't

[2019-01-30 17:23] rjriel commented on #1258
Couple more pieces in case they're useful...

it gives a 406 HTTP error when attempting to view this on chrome, however when I use Postman I get a 200 code and everything seems fine.

Also I can reproduce the problem with a different repo: https://coveralls.io/github/qlik-oss/halyard.js

[2019-01-31 18:13] JetFault commented on #1254
same with our repo for the last month

[2019-02-01 05:08] ioquatix opened #1442 "Why use json_file?"
I don't understand how this makes any difference.

Can't you just set your transfer-encoding to gzip and send the json as the post data?

[2019-02-01 06:51] moensch opened #1259 "Buildkite support"
Will Coveralls add Buildkite support? I am more than happy to work with you to provide you the necessary information to help get this done.

The only "complication" from what I can tell is that a `job` doesn't have an attribute for a build URL, and with Buildkite you can't construct the build URL from the repo info.
However, Buildkite does provide an env var that could be posted when submitting re

[2019-02-01 10:57] ioquatix opened #1439 "URL in response doesn't seem to be valid"
Posting to the coverage API returns:

[code]

But going to that URL returns 404.

[2019-02-01 11:00] ioquatix opened #1441 "Browsing source code gives 500 error"
Trying to browse:

https://coveralls.io/builds/21399462/source?filename=lib/async/terminal.rb

as linked from the coverage report gives me error 500.

[2019-02-04 01:55] abbychau opened #1260 "Rust projects are showing ruby set up documentations"
my repo: https://coveralls.io/github/abbychau/diesel_cli_ext?branch=master

expected: rust documentations
<img width="1072" alt="screen shot 2019-02-04 at 10 55 16" src="https://user-images.githubusercontent.com/350283/52186560-66092d80-286b-11e9-899a-41bf8a7d4ec8.png">
these seem to be for ruby

[2019-02-05 12:41] nomadster commented on #1201
I've tried all the above but my badge still display "coverage:unknown"

[2019-02-06 18:55] davidsoederberg commented on #1255
I have the same problem with a repo using a dot in the name

[2019-02-06 22:52] nick-woodward commented on #1248
I've noticed a couple of updates over on coveralls.io. Not exactly sure when they were implemented.

* Linking your GitLab account with Coveralls is now supported.
* Syncing your repositories from GitLab also seems to work.

This isn't documented anywhere in the Coveralls docs (it still says "Gitlab support coming very soon!").
Also upon attempting to publish to GitLab I get the following error.

[2019-02-07 11:00] lucaong opened #1261 "Instructions for JavaScript repo setup erroneously show Ruby setup"
I am adding a JavaScript repo to Coveralls. The setup page title correctly says "JavaScript set up for Coveralls", but it shows the Ruby instructions instead (add gem to Gemfile, etc.).

[2019-02-10 10:09] Lanfei opened #1262 "Got a `406` error when the repository name ends with `.js`"
I have a project names [playable.js](https://github.com/Lanfei/playable.js), but I can't visit the detail page because I got a `406` error:

https://coveralls.io/github/Lanfei/playable.js

[2019-02-10 18:42] Jacksonmwirigi commented on #1065
Hi, i also had same problem where my badge shows 45% but on /coveralls.io page actually was 74%.
 I cleared my browser cache for the last 7 days and it worked.

[2019-02-12 12:10] nick-woodward commented on #1247
**Hitting the same issue:**

* https://github.com/salte-io/salte-auth-angularjs/pull/213
* https://coveralls.io/builds/21585670

Everything seems to be getting sent correctly, it just isn't sending a status back to the PR.

[2019-02-13 21:17] cedx commented on #1262
Confirmed on my side: all my projects whose name ends with `.js` results in a HTTP 406 error.
Some examples:

- https://coveralls.io/github/cedx/cookies.js
- https://coveralls.io/github/cedx/coveralls.js
- https://coveralls.io/github/cedx/free-mobile.js
(and the list goes on....)

This reminds me another issue: #897
(two years after, it is still not resolved... I gave up)

[2019-02-15 18:00] Flamefire opened #1263 "Coverage missing for random builds"
On some builds the coverage data seems to be completely missing.

Recent example: https://coveralls.io/jobs/45247903

Logs don't show anything bad:

[code]

We are building C++ code and uploading the generated coverage.info from lcov:

[code]

Any ideas?

[2019-02-17 01:31] kortschak opened #1264 ""Couldn't find a repository matching this job." status 422 for public repo"
Today I have seen a series of Coveralls build failures for a public repository with CI builds being done by Travis-CI. This appears to be a long standing recurrent issue #715, #408, #984 etc.

Travis-CI [log for build](https://travis-ci.org/gonum/exp/jobs/494373885).
[code]

Though [other builds](https://travis-ci.org/gonum/exp/builds/494373883) for the same PR succeed.

[2019-02-17 01:35] kortschak commented on #1264
Resyncing the repo at coveralls did not fix this.

[2019-02-17 04:43] ElliotNB commented on #632
I had this same issue as well for an open source project. I did not need to add an empty `.coveralls.yml`, but I did need to log in and out of Coveralls.io with my GitHub account a couple of times and disable/re-enable the GitHub apps integration.

[2019-02-17 14:35] jacktuck commented on #1264
I'm intermittently getting the same error

[code]

[2019-02-17 18:43] youtux commented on #632
Same issue here

[2019-02-17 18:46] chrisgleissner commented on #1264
Same here. Had to detach a few builds from coveralls for now to bypass the issue which breaks them.

[2019-02-18 01:20] fishcharlie commented on #632
This is happening to me as well. For some reason restarting the builds seems to work most of the time. Any idea how to fix this?

[2019-02-18 12:35] rauny-brandao opened #1265 "Branch master commiter web-flow"
Hello there,

In one of our repositories, the branch master is being build by the user **web-flow**.

![screenshot_2019-02-18 coveralls io - test coverage history and statistics](https://user-images.githubusercontent.com/13734862/52951406-81426580-3360-11e9-9b71-3ac60940328f.png)

But we don't have any user with this name, where do I find this configuration?

Thank you!

[2019-02-18 13:37] chrvadala commented on #1264
I have the same issue here https://travis-ci.org/chrvadala/mqtt-dispatcher.

[2019-02-18 16:03] jmhansen commented on #1078
+1

[2019-02-18 20:30] jeromesimeon commented on #1264
Having the same issue, the last few days. On https://travis-ci.org/accordproject/cicero Restarting the build often works.

[2019-02-18 20:34] kortschak commented on #1264
@jeromesimeon restarting never works for me with this.

[2019-02-18 20:37] jeromesimeon commented on #1264
@kortshack Thanks. It might be a different issue then, but the symptoms are the same and it started a few days ago. Definitely intermittent for us.

[2019-02-18 20:59] kortschak commented on #1264
Yeah, I don't doubt it's the same cause. I don't understand how the differences arise. My approach for now is to just make the coveralls failure a warning event rather than an error event.

[2019-02-19 02:11] zmckinnon commented on #1264
Getting similar here: https://travis-ci.org/zmckinnon/dice-tower
[code]

[2019-02-19 06:35] srepollock commented on #984
@p8ul I hope you didn't publish your `.coveralls.yml` file, it's not good to push your token to open source for privacy concerns.

[2019-02-19 06:45] srepollock commented on #1264
I've just started running into the same problem on my own builds. I've added a `COVERALLS_REPO_TOKEN` with my API key as an environment variable with Travis to keep it secure, yet I'm still getting the same issue. Is there another token name that Coveralls looks for? I'm trying not to put the token in plain text and commit it...

Also, is this a duplicate of #984? Has this been going on since June

[2019-02-19 08:13] kortschak opened #1266 "Docs & Support link now broken"
http://support.coveralls.io/ now lands at [this page](https://www.zendesk.com/help-center-closed/?utm_content=support.coveralls.io&utm_source=helpcenter-closed&utm_medium=poweredbyzendesk), "Oops, this help center no longer exists".

[2019-02-19 08:55] kanekotic opened #1267 "node project coveralls travis-ci integration is broken"
Since today all my builds that integrate node coveralls in travis-ci are failing. More users have been reporting the same issue so seems to be a more general situation. Has there been any changes in the last hours on how to integrate with travis?

https://github.com/nickmerwin/node-coveralls/issues/166

[2019-02-19 09:07] ericmorand commented on #1267
Same here, with all my projects.

[2019-02-19 09:10] kortschak commented on #1264
The situation has degenerated. I am now seeing 100% failure in this mode.

[2019-02-19 09:18] kortschak commented on #1264
@anjin @nickmerwin Is anyone home?

[2019-02-19 09:58] kortschak commented on #1267
Dup of #1264?

[2019-02-19 10:03] kanekotic commented on #1267
yes, duplicate....sorry

[2019-02-19 10:03] #1267 closed

[2019-02-19 10:05] kanekotic commented on #1264
there seems to be a general issue, it happens in all my repos, and also other people are having the same issue.
https://github.com/nickmerwin/node-coveralls/issues/166

[2019-02-19 10:06] ericmorand commented on #1264
@kortschak, Same here, 100% failures now.

[2019-02-19 10:11] kortschak commented on #1264
We are now investigating moving to codecov.

[2019-02-19 10:19] davedoesdev commented on #632
Same here except restarting the build doesn't work, nor removing and adding the project in coveralls.io.
https://travis-ci.org/davedoesdev/browser-http2-duplex/builds/495194847

[2019-02-19 10:49] sb10 commented on #1264
Also getting failures for my public repo starting today. Yesterday was fine.

[2019-02-19 11:15] techoner opened #1268 "Couldn't find a repository matching this job."
$ $HOME/gopath/bin/goveralls -service=travis-ci
Bad response status from coveralls: 422
{"message":"Couldn't find a repository matching this job.","error":true}
The command "$HOME/gopath/bin/goveralls -service=travis-ci" exited with 1.

[2019-02-19 11:26] MrSwitch commented on #1268
This has occurred for me since between 14 to 20 hours ago.

[2019-02-19 11:28] MrSwitch commented on #1268
Duplicate of #1264

[2019-02-19 14:36] maheshsubramanian opened #1269 "Unable to publish report to coveralls"
We have been using coveralls for all repos (public) in our organisation (https://github.com/CJSCommonPlatform).  Since last evening, we are noticing issues with publishing report to coveralls.  These are existing repos which already have coveralls information published.

Coveralls link for existing repo: https://coveralls.io/github/CJSCommonPlatform/framework-api

Sample failure on travis for abov

[2019-02-19 14:39] agbeltran commented on #1264
We are having a similar (same?) issue here: https://travis-ci.org/FAIRsharing/jsonldschema/jobs/495412051

[code]

[2019-02-19 16:53] qcoumes commented on #1264
Also gettings 100% failure here.

[2019-02-19 16:56] jeromesimeon commented on #1264
Same.

[2019-02-19 17:03] leakingtapan commented on #632
Same here https://travis-ci.org/aws/aws-fsx-csi-driver/builds/495534059

[2019-02-19 17:08] gregnb commented on #632
I'm affected by this as well https://travis-ci.org/gregnb/mui-datatables

[2019-02-19 17:13] nickmerwin commented on #632
Hi all, we've identified this as an intermittent Travis API failure and are working on a solution.

[2019-02-19 18:10] alex-w commented on #1264
Also gettings 100% failure

[2019-02-19 18:40] mischah commented on #1264
Same here.

You can fix your Travis builds be moving coveralls to the `after_success` lifecycle hook like this:
https://github.com/micromata/generator-baumeister/commit/acf06820f03cc09635b08c6e98888f67853fd2ec

You won’t get coverage updates as long as coveralls is broken, but your builds won’t fail because the exit code of `after_success`, `after_failure`, `after_script`, `after_deploy` and subse

[2019-02-19 19:20] nickmerwin commented on #1264
Hi all, we've identified this as an intermittent Travis API failure and are working on a solution.

[2019-02-19 19:39] srepollock commented on #1264
A few notes everyone: instead of spamming "same" let's make use of some sweet emojis to show support! We all get these emails and it just ends up spamming the inbox. We can always reference the issue in our own project's issues that don't spam everyone but still keeps the track record :+1:. Just a good habit to carry into other projects as well and start early!

Aside, as you can see in the thread

[2019-02-19 20:02] nickmerwin commented on #1264
Hi everyone, turned out we had our webserver IPs accidentally blacklisted by Travis, so we couldn't query their API to get job info as coverage data was posted.

Apologies for the gap in service here! We're adding failsafes to warn us early about this in the future.

[2019-02-19 20:02] #1264 closed

[2019-02-19 20:03] nickmerwin commented on #632
Hi everyone, turned out we had our webserver IPs accidentally blacklisted by Travis, so we couldn't query their API to get job info as coverage data was posted.

Apologies for the gap in service here! We're adding failsafes to warn us early about this in the future.

[2019-02-19 20:24] nickmerwin commented on #984
Hi all, we had an issue re: Travis API accidentally blocking our webserver IPs. This is fixed now, thanks.

[2019-02-19 20:24] #984 closed

[2019-02-19 20:30] nickmerwin commented on #1269
Hi @maheshsubramanian, turned out we had our webserver IPs accidentally blacklisted by Travis, so we couldn't query their API to get job info as coverage data was posted.

Apologies for the gap in service here! We're adding failsafes to warn us early about this in the future.

[2019-02-19 20:30] #1269 closed

[2019-02-19 20:31] nickmerwin commented on #1268
Hi @techoner, turned out we had our webserver IPs accidentally blacklisted by Travis, so we couldn't query their API to get job info as coverage data was posted.

Apologies for the gap in service here! We're adding failsafes to warn us early about this in the future.

[2019-02-19 20:31] #1268 closed

[2019-02-19 20:33] nickmerwin commented on #1263
Hi @Flamefire there may have been a lag in processing that job; coverage data is there now.

[2019-02-19 20:33] #1263 closed

[2019-02-19 20:44] nickmerwin commented on #1265
Hi @rauny-brandao could you email us the repo name please? support@coveralls.io

[2019-02-19 20:44] #1265 closed

[2019-02-19 20:48] anjin commented on #1266
The new docs URL is http://docs.coveralls.io/ and for issues we are using GitHub as you already know. Where did you see a support.coveralls link still live?

[2019-02-19 20:54] analog-nico commented on #632
Thanks a lot @nickmerwin ! Works like a charm again.

[2019-02-19 21:44] kortschak commented on #1266
It's on https://blog.coveralls.io/.

[2019-02-19 22:15] anjin commented on #1266
Thanks!

[2019-02-19 22:15] #1266 closed

[2019-02-20 15:16] nickmerwin commented on #1265
To recap, @web-flow turned out to be a Github owned account::

https://github.com/web-flow

[2019-02-20 16:00] taras commented on #1262
Same here: https://coveralls.io/github/microstates/microstates.js

[2019-02-20 17:13] nickmerwin commented on #1262
Hi all, repo names with extensions are supported now!

The only caveat is that appending `.json` to the repo url won't behave as expected. You'll need to use `https://coveralls.io/repos/:id.json` instead.

[2019-02-20 17:13] #1262 closed

[2019-02-20 20:40] rauny-brandao commented on #1265
Thank you @nickmerwin!

[2019-02-24 01:55] ntucker opened #1270 "Can't find repo I am admin of on coinbase account"
Repo is open: https://github.com/coinbase/rest-hooks
I am admin of said repo.
I am publicly known to be a member of coinbase org: https://github.com/orgs/coinbase/people

I can see repos for other people's projects that they gave me only write access to, but not rest-hooks.

Note: they did not authorize the private data access; but that doesn't seem needed for public repos, right?

[2019-02-24 17:51] rdthom opened #1271 "Billing: Can't access invoice PDFs"
https://coveralls.io/invoices - access denied when I try access invoices for my subscription (I am the account manager)

[2019-02-24 17:57] asottile opened #1272 "Setup for azure-pipelines"
I'm interested in (and would assist where possible!) helping set up / and or document first-class support for azure pipelines

[2019-02-24 21:07] Bilge commented on #623
Also have this problem except it doesn't even show up for owner any more, either.

[2019-02-26 11:04] tosyama opened #1273 "SOURCE NOT AVAILABLE"
Hi,
I can’t see my repo’s source by “SOURCE NOT AVAILABLE” from travisCI trouble before a week.
https://coveralls.io/builds/21532635/

I predicted github auth information mismatch because I did something to try to fix repo not found error.

So, I tried login and logout many times. But it not works. I also changed and back some related settings, but not improved neither.

I give up now.
Is there an

[2019-02-26 15:26] #1209 closed

[2019-02-26 23:02] nickmerwin commented on #1273
Hi @tosyama, ok I've reassigned the repo to your correct user. Thanks!

[2019-02-26 23:02] #1273 closed

[2019-02-26 23:03] nickmerwin commented on #1272
Hi @asottile that's great, we'd really appreciate the help!

Have you been able to get a proof of concept working yet?

[2019-02-26 23:04] nickmerwin commented on #1271
Hi @rdthom what organization is this for? Closing the issue, you can email us the details at support@coveralls.io

[2019-02-26 23:04] #1271 closed

[2019-02-26 23:08] nickmerwin commented on #1270
Hi @ntucker, we only show repos on your Coveralls dashboard that we know you have write access for. I checked your account and it appears Coveralls can't see your Coinbase repos (only other ntucker repos), likely due to 3rd party access restrictions on the org.

[2019-02-26 23:08] #1270 closed

[2019-02-26 23:09] asottile commented on #1272
not yet, I believe it needs some api work from the coveralls side(?) to associate the build / PR

I can set up a demo repo on how I think it ~should work -- would that be helpful?

[2019-02-26 23:12] nickmerwin commented on #1259
Hi @moensch, thank you -- we'd really appreciate the documentation help!

Those environment variables could be used to manually set the ones that most Coveralls integration libraries pick up:

[code]

Have you been able to get a build working yet?

[2019-02-26 23:14] nickmerwin commented on #1272
@asottile we should be able to get the build / PR numbers from environment variables here:

https://docs.microsoft.com/en-us/azure/devops/pipelines/build/variables?view=azure-devops&tabs=yaml

Then it would just be a matter of setting the standard CI vars that most Coveralls integration libraries pick up:

[code]

[2019-02-26 23:15] asottile commented on #1272
just because I'm curious: what's the difference between travis/circle and others which makes the former credential-less?

[2019-02-26 23:25] nickmerwin commented on #1272
We built that credential-less feature back when Travis was the only CI offering free builds for public repos, in order to match the job ID to the repo via their public API.

Now that Circle, etc have freemiums, it could definitely be worthwhile to add that option too.

[2019-02-27 00:08] asottile commented on #1272
awesome, I'd love to help get that working for azure devops too :)

[2019-02-27 00:36] nickmerwin commented on #623
@Bilge could you link me to the url?

[2019-02-27 03:05] tosyama commented on #1273
@nickmerwin, Now, I able to see my source code again! Thanks.

[2019-02-27 11:51] ruscon commented on #1120
+1, not fixed

[2019-02-27 15:28] nickmerwin commented on #1120
@ruscon can you link to the repo in question?

[2019-02-27 15:29] ruscon commented on #1120
https://github.com/go-parrot/geocoder

[2019-02-27 15:30] nickmerwin commented on #1120
@ruscon thanks, i'm seeing both as 90%, are you showing otherwise?

![image](https://user-images.githubusercontent.com/1129/53501720-850d7080-3a61-11e9-9501-8fb9ed73b51c.png)

![image](https://user-images.githubusercontent.com/1129/53501730-8b035180-3a61-11e9-9dc7-da85a2b99a05.png)

[2019-02-27 15:31] ruscon commented on #1120
84%
http://take.ms/IYRtr

[2019-02-27 15:46] nickmerwin commented on #1120
@ruscon could you copy the image address on Github, then `curl -I` it like so?

[code]

[2019-02-27 15:48] ruscon commented on #1120
[code]

[2019-02-27 15:49] nickmerwin commented on #1120
@ruscon ah actually meant the badge on the Github repo:

https://github.com/go-parrot/geocoder

[2019-02-27 15:52] ruscon commented on #1120
[code]

[2019-02-27 15:54] ruscon commented on #1120
I opened it on incognito and it became 90%
Browser cache

[2019-02-27 15:54] nickmerwin commented on #1120
Ok thanks @ruscon I'll close the issue for now.

[2019-02-27 15:54] #1120 closed

[2019-02-27 20:34] Bilge commented on #623
@nickmerwin https://coveralls.io/builds/21868698/source?filename=src/ExponentialBackoffExceptionHandler.php

[2019-02-27 21:01] nickmerwin commented on #623
Thanks @Bilge ok this is fixed, I'm closing the issue for now.

[2019-02-27 21:01] #623 closed

[2019-02-27 22:25] Bilge commented on #623
Thanks @nickmerwin. Good to see someone is still keeping this project alive.

[2019-02-27 23:43] danielcondemarin opened #1274 "Coverage unknown"
I believe having set up correctly coveralls for my repo, but no matter what I try always says coverage unknown. The repo is https://github.com/danielcondemarin/serverless-nextjs-plugin

Can you advice please?  Thanks!

[2019-02-28 00:01] ericmorand commented on #1274
I have the same issue with this project:

https://coveralls.io/github/NightlyCommit/stromboli

I have been able to find the build by adding log to the npm coveralls package:

https://coveralls.io/builds/21893721

Everything looks fine in that build except it doesn't have a coverage value and it doesn't appears on the project page.

[2019-02-28 00:23] nickmerwin commented on #1274
Hi @danielcondemarin @ericmorand your builds are processed now, we had a brief queue backlog that they got stuck behind.

Thanks!

[2019-02-28 00:23] #1274 closed

[2019-03-01 13:21] lucasgcb commented on #1261
This also shows up for Python.
Instructions for Travis are also very unclear.
Pretty messy.

[2019-03-01 14:23] NathanWailes commented on #97
I seem to be encountering the same issue.

[2019-03-01 14:37] NathanWailes opened #1275 "New branch not showing up in the UI?"
I seem to be encountering the same issue described [here](https://github.com/lemurheavy/coveralls-public/issues/97) and [here](https://github.com/lemurheavy/coveralls-public/issues/788):

![Screenshot of what I'm seeing](https://i.imgur.com/1364ypK.png)

Here's the view from the TravisCI build:
![Screenshot of the TravisCI build](https://i.imgur.com/wrBft9v.png)

[2019-03-01 19:08] drydmat commented on #1206
@senthilrch What was the problem? I'm having this issue now.

[2019-03-01 20:02] nickmerwin commented on #1206
hi @drydmat could you link me to the repo in question?

[2019-03-01 20:02] nickmerwin commented on #1275
Hi @NathanWailes could you link me to that repo please?

[2019-03-01 21:16] drydmat commented on #1206
hi @nickmerwin unfortunately it's a private repo so I don't have a link to give.

We run tests from Circle and Coveralls gives back a status of 200 with a build URL so it's working in that respect but Coveralls is reporting no data for all the files for some reason.

[2019-03-01 21:47] nickmerwin commented on #1206
@drydmat ok you can email us here with the private repo details and we'll check now: support@coveralls.io

[2019-03-01 21:47] #1206 closed

[2019-03-02 08:47] NathanWailes commented on #1275
@nickmerwin https://coveralls.io/github/Doohken/DKPlayer

Thanks for your help!

[2019-03-02 19:48] nickmerwin commented on #1275
Hey @NathanWailes, thank you for the link -- your other branches will populate once there's a non-PR build. That's to prevent branch name pollution from PR builds on forks.

Closing for now, let me know if it's still not populating after a non-PR build.

Thanks!

[2019-03-02 19:48] #1275 closed

[2019-03-04 14:03] NathanWailes commented on #1275
@nickmerwin Thank you for your help!  Can you give some more explanation of what needs to be done?  A build on *any* branch should make it work?  I'm not seeing Coveralls update, despite builds on various branches.

How the repo works:
- There is a "master" branch which is very rarely updated at the moment.
- There is a "dev" branch which we submit all PRs to.
- There are numerous "DKPLAYER-###" b

[2019-03-04 15:19] briwa opened #1276 "Empty page on the repo"
Hello, not sure if my setup is wrong but for some reason the coverage page is showing an empty page:
https://coveralls.io/github/briwa/js-jest-pkg-starter

The build is fine and the coverage is reporting properly on Travis:
https://travis-ci.org/briwa/js-jest-pkg-starter

I did syncing and deleting the repo from Coveralls and adding it back, re-run the build in Travis. However the results are the

[2019-03-04 19:12] nickmerwin commented on #1276
Hi @briwa your builds have processed now, apologies for the delay!

[2019-03-04 19:12] #1276 closed

[2019-03-04 19:17] nickmerwin commented on #1275
@NathanWailes without seeing your Travis setup, it sounds like non-PR branch builds aren't being posted to Coveralls. You could check the build output logs of those to confirm.

[2019-03-04 21:13] nozkok commented on #1254
@poncianodiego @JetFault
did you find any solution?

[2019-03-04 21:26] nickmerwin commented on #1254
@poncianodiego @JetFault @nozkok could you add the names of the repos in question?

[2019-03-04 21:54] nozkok commented on #1254
@nickmerwin    useinsider/alfred  (it is private repo)

[2019-03-04 22:35] nickmerwin commented on #1254
@nozkok ok looks like the user that added that repo is no longer in the system, so I've assigned it to you and re-triggered the build statuses. Can you confirm they came through?

[2019-03-04 22:35] #1254 closed

[2019-03-04 23:14] JetFault commented on #1254
@nickmerwin   perka/cloverdotcom

[2019-03-04 23:55] nickmerwin commented on #1254
@JetFault ok same issue, I've re-assigned the repo to your user.

[2019-03-05 01:49] briwa commented on #1276
@nickmerwin Thanks for the fix! Appreciate it.

[2019-03-05 07:53] nozkok commented on #1254
@nickmerwin   thanks a lot 👍

[2019-03-05 07:57] NathanWailes commented on #1275
@nickmerwin
Below is the Travis CI log for a commit I pushed directly to the `dev` branch without doing a PR.  The build succeeded, the `coveralls` command seemed to get run, and the `coveralls` command seems to have taken a while to complete.

![2019-03-04 23_49_13-build 40 - doohken_dkplayer - travis ci](https://user-images.githubusercontent.com/1755791/53789032-469c0980-3ed8-11e9-8bde-3e4bd47b0

[2019-03-05 13:29] antoinehage commented on #519
all of a sudden started getting this and tried all the possible solutions and no luck :(

travis_time:start:0bcb86ed
[0K$ $HOME/gopath/bin/goveralls -coverprofile=coverage.out -service=travis-pro
Bad response status from coveralls: 422
{"message":"Couldn't find a repository matching this job.","error":true}
travis_time:end:0bcb86ed:start=1551700526157886345,finish=1551700528717789475,duration=255

[2019-03-05 17:37] nickmerwin commented on #519
@antoinehage can you email us the name of the repo in question to support@coveralls.io please? Since it's a private one we can take it from there.

[2019-03-05 17:40] nickmerwin commented on #1275
@NathanWailes it looks like there's already a PR opened on the `dev` branch, so any builds that come in from it are considered to be PR builds.

One option would be to create a new branch and build on it before creating a PR.

[2019-03-06 22:49] danieljabailey opened #1277 "Coverage report contains no data, despite line coverage listings being complete"
I have a build that has completed and the file view shows which lines are covered but the report contains no data.
Same as issue #579

https://coveralls.io/jobs/45897103/source_files/12228095

![image](https://user-images.githubusercontent.com/4355293/53919206-39f6ed00-4061-11e9-82ec-524fac09f55f.png)

[2019-03-06 23:47] DivineOmega opened #1278 "Page showing no coverage data"
The coverage page for one of my repositories was not updating at all. After disabling and re-enabling the repo on Coveralls, the page for the project is not showing any coverage data (percentages, graphs, etc.).

The problematic page is as follows.

https://coveralls.io/github/DivineOmega/laravel-extendable-basket

The builds on Travis are correctly submitted coverage data, as shown below.

https:

[2019-03-07 00:44] nickmerwin commented on #1277
Hi @danieljabailey sorry about that, we had a queue backlog. Your build is processed now.

[2019-03-07 00:44] #1277 closed

[2019-03-07 00:45] nickmerwin commented on #1278
Hi @DivineOmega, sorry about that, we had a queue backlog earlier today. Your build is processed now.

[2019-03-07 00:45] #1278 closed

[2019-03-07 08:39] jonatasbaldin opened #1279 "Removing repository does not clean coverage data"
Hey there, how are you doing?

I accidentally committed a coverage file with the data from my whole `venv`, which put the stats to 44%.

I removed the repo from Coveralls, created it again and send the correct coverage data, but the old data from the `venv` is still there.

This is a private repo running Python and Pytest.

How can I clean that old data?

Thanks!

[2019-03-07 19:20] nickmerwin commented on #1279
Hi @jonatasbaldin, as owner of the repo you can delete individual builds from their details pages.

If there's still an issue, please email us with the name of the repo here: support@coveralls.io

Thanks!

[2019-03-07 19:20] #1279 closed

[2019-03-07 22:08] aangairbender commented on #1272
I have Azure DevOps .net build that reports coverage to Coveralls. Feel free to ask me any questions.

[2019-03-07 22:12] asottile commented on #1272
@aangairbender can you share your repository?

[2019-03-11 11:45] aangairbender commented on #1272
@asottile yes, [repo](https://github.com/AniRPG/AniRPG/tree/features/ANI-10) it's now in feature branch, will be merged to master today/tomorrow. Idk whether you have access to repo on azure devops. [azure](https://dev.azure.com/anirpg/AniRPG/_build/results?buildId=107&view=logs). Still have some issues, but code coverage is being sent to coveralls successfully. I hope those issues are related jus

[2019-03-11 11:49] aangairbender commented on #1272
One issue is idk why, but [Moq](https://github.com/moq/moq4) dll is also included to coverage (despite it's just referenced as nuget). Another issue is that badge title is "Unknown" (but coveralls website shows me some numbers).

[2019-03-11 15:57] asottile commented on #1272
I see, you're not using the azure pipelines yaml

[2019-03-11 16:54] nickmerwin commented on #1272
Hi @aangairbender it looks like the branch name, build number, and commit info aren't coming over in the coverage data post:

![image](https://user-images.githubusercontent.com/1129/54141785-8fc1f100-43e3-11e9-8013-6b08880e2cb0.png)

https://coveralls.io/github/AniRPG/AniRPG

[2019-03-11 17:02] ElliotNB commented on #329
@nickmerwin Would be great to have this feature. Every project is different.

[2019-03-11 20:57] aangairbender commented on #1272
So if we need yaml for creating Azure Coveralls task, I can rewrite everything to yaml.

[2019-03-12 08:22] viniciuskneves opened #1280 "Coveralls bot not commenting"
Hello,

Yesterday I've setup Coveralls for my private organization repo. The coverage reports seem to be working as I can see them on Coveralls dashboard.

The problem is that the bot is not commenting the coverage reports back to my PR. I've granted READ access to @coveralls (only for the specific repository) and it has been accepted. I've also enabled comments on Coveralls repo settings. Will it

[2019-03-12 13:48] viniciuskneves commented on #1280
All of the sudden it started working now! 🤷‍♂️

[2019-03-12 13:48] #1280 closed

[2019-03-12 15:21] calumcraig opened #1281 "Coverage decreased then restored after changes to README"
We recently experienced a large drop in reported coverage after a [PR](https://coveralls.io/builds/21881299) which only made a very minor change to the README. Upon a subsequent [PR](https://coveralls.io/builds/22026135) which again made change only to the README the coverage returned to the previous level:
![image](https://user-images.githubusercontent.com/44327924/54211903-faedef00-44d9-11e9-8ee

[2019-03-12 17:37] bsarrazin opened #1282 "Reported code coverage is incorrect"
![image](https://user-images.githubusercontent.com/1077441/54222453-d559e900-44cb-11e9-9fec-8bb8bf6a97a1.png)

Yet the local version has the proper values:
![image](https://user-images.githubusercontent.com/1077441/54222494-e86cb900-44cb-11e9-994c-17b71451ae18.png)

Sample repo can be found here:
https://github.com/bsarrazin/Coveralls-iOS

[2019-03-12 18:55] marcj commented on #632
I get it again :O
https://travis-ci.com/marcj/marshal.ts/jobs/184281038
Any idea?

[2019-03-12 21:27] aangairbender commented on #1272
Eventually I managed to solve all my issues. There is coverage badge with correct number on a repository page. Also I send all commit info to coveralls. Seems working well.

[2019-03-12 21:58] simonhf opened #1283 "How to integrate open source project with coveralls?"
Hello! I'm building a CI coverage version of an open source project here [1] using the command "make release coverage" and outputs the following lines "make: coverage: Lines executed:96.63% of 800". How to integrate this open source project with coveralls?

[1] https://travis-ci.org/simonhf/sharedhashfile

[2019-03-13 19:25] colecrtr commented on #834
Just received a 504 error after submitting coverage.

[code]

[2019-03-14 11:33] marinakr commented on #888
I get same error in elixir
https://travis-ci.org/edenlabllc/ds.api/jobs/506199980

[2019-03-14 15:38] kbakk opened #1284 "Source not available - private org repo"
Hi,

We've set up Coveralls and have coverage report sent over, but there seems to be issues with connecting to our GitHub repo (private, belongs to org).

E.g. [this page](https://coveralls.io/builds/22178615/source?filename=maestro/maestro.py) shows this error:

The path to the file exists in our repo

Hope you can help figuring out what causes this issue.

[2019-03-14 19:05] nickmerwin commented on #1284
Hi @kbakk since this is a private repo, we'll continue the discussion over email.

Thanks!

[2019-03-14 19:05] #1284 closed

[2019-03-14 19:11] nickmerwin commented on #888
@marinakr could you re-run your build with the verbose flag so we can see exactly what's posting to Coveralls?

[2019-03-14 19:13] nickmerwin commented on #834
@colecrtr could you link to your repo and CI build please?

[2019-03-14 21:34] AndreasAZiegler opened #1285 "coveralls & circleci Updates are ignored"
I have a github repository (https://github.com/AndreasAZiegler/poly-exploration) for which I use circleci and coveralls among other tools.

So far I only go coveralls working if I changed the token and updated it within ```.coveralls.yml```. Any updates are ignored.

I use the following commands in the circleci to run coveralls (You can also look in the repo .circleci/config.yml):

[code]

[2019-03-14 23:00] colecrtr commented on #834
@nickmerwin Sadly I cannot, it is a private repo & CI pipeline.

[2019-03-15 13:48] marinakr commented on #888
https://travis-ci.org/edenlabllc/ds.api/jobs/506762479

[2019-03-15 14:55] marinakr commented on #888
actually problem coveralls was not active in coveralls, problem was on my side

[2019-03-15 15:19] marinakr commented on #888
https://travis-ci.org/edenlabllc/ds.api/jobs/506815647

[2019-03-15 19:45] nickmerwin commented on #888
@marinakr ok it appears that empty data is being posted to Coveralls:

`{"git":{"branch":null},"service_job_id":null,"service_name":"travis-ci","source_files":[]}`
https://travis-ci.org/edenlabllc/ds.api/jobs/506815647#L3342

We need the `service_job_id` to find the project on Travis.

Can you re-check your configuration? Closing issue for now.

[2019-03-15 19:45] #888 closed

[2019-03-15 20:03] nickmerwin commented on #834
@colecrtr ok you can email us here: support@coveralls.io

We'll take it from there, thanks!

[2019-03-15 20:03] #834 closed

[2019-03-15 20:06] nickmerwin commented on #1285
Hi @AndreasAZiegler I see a build on your repo here:

https://coveralls.io/github/AndreasAZiegler/poly-exploration

Closing for now, but please let me know if there's still an issue. Thanks!

[2019-03-15 20:06] #1285 closed

[2019-03-15 20:13] nickmerwin commented on #632
Hi @marcj could you re-run your build with the `--verbose` flag added to Coveralls?

[2019-03-15 20:15] nickmerwin commented on #1283
Hi @simonhf I see that your latest build on Travis posted successfully to Coveralls:

https://coveralls.io/jobs/46186300

https://coveralls.io/github/simonhf/sharedhashfile

Closing the issue for now, let me know if you have any additional questions.

Thanks!

[2019-03-15 20:15] #1283 closed

[2019-03-15 20:17] nickmerwin commented on #1272
Hi @aangairbender great to hear it's working! Were you able to create a yaml or do you have notes we could add to our documentation?

Closing the issue for now, thanks!

[2019-03-15 20:17] #1272 closed

[2019-03-15 20:18] asottile commented on #1272
@nickmerwin this is **NOT** working, there needs to be tokenless support for anyone to use this in a reasonable capacity

[2019-03-15 20:19] marcj commented on #632
It worked a couple of hours later. 👍

[2019-03-15 20:20] nickmerwin commented on #1282
Hi @bsarrazin it looks like the data you're posting to Coveralls is incomplete; there's no line-by-line coverage hits, nor branch/commit info.

Questions:
1) What Coveralls integration library are you using?
2) Are you building on a CI or locally?

[2019-03-15 20:23] nickmerwin commented on #1272
@asottile shouldn't secret variables suffice for now?

https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch#secret-variables

We'd like to get the manual setup working and added to our documentation, then we can add the tokenless API consuming feature to our development queue.

[2019-03-15 20:24] asottile commented on #1272
They don't work because you cannot submit coverage on PRs which is half of the point of using coveralls.

A malicious actor could craft a PR which edits the azure-pipelines.yml template to `print(rot13(TOKEN))` and then the token is compromised

[2019-03-15 22:02] aangairbender commented on #1272
@nickmerwin I used [this sample](https://github.com/csMACnz/Coveralls.net-Samples/blob/xunit-dynamiccodecoverage-appveyor/appveyor.yml). Idea is the same.

1. Set some environment variables (I am not sure whether it's mandatory step).

 - **CI_NAME** as "Azure DevOps" (value is up to you)
 - **CI_BRANCH** as $(Build.SourceBranch)  (maybe it's better to use $(Build.SourceBranchName))
 - **CI_BUILD_

[2019-03-15 22:16] aangairbender commented on #1272
@asottile Personally I don't like when repository has _.yml_ file for CI/CD. As for me, it is something unrelated to project content.
@nickmerwin as you said, I store token inside secret variable.

In our [small repository](https://github.com/AniRPG/AniRPG) we add new code by making pull requests. Works great.
![showcase](https://user-images.githubusercontent.com/6932307/54464767-b59f1b00-4780-11e

[2019-03-15 22:25] asottile commented on #1272
@aangairbender even without yaml, I could make a PR which causes one of your tests to print that as a side effect and you're equally pwnd

[2019-03-15 22:49] aangairbender commented on #1272
@asottile but project doesnt even know that it's inside any CI. How can you access pipeline secret variable from test?

[2019-03-15 22:52] asottile commented on #1272
You have to expose the secrets to the coveralls uploader one way or another, usually by environment variables

[2019-03-15 23:00] aangairbender commented on #1272
As I said, [here ](https://github.com/csMACnz/Coveralls.net-Samples) we see examples for other CI platforms. Seems like they also expose token to coveralls uploader. So it's problem of way of sending coverage, not particular of my approach with AzureDevops.

[2019-03-15 23:39] asottile commented on #1272
Right, what I'm saying is until there is a token less upload there is not a solution. I'm cautioning you that if you're uploading PR coverage you are effectively exposing your token

[2019-03-16 05:59] AndreasAZiegler commented on #1285
The build you mentioned is the first and only build that was recognized by coveralls. As you can see in the screenshot below, there were quite a few builds happening on circleci after this first build which coveralls did not get.

![Uploading Screenshot 2019-03-16 at 06.56.33.png…]()

[2019-03-16 06:02] AndreasAZiegler opened #1286 "Hi @AndreasAZiegler I see a build on your repo here:"
Hi @AndreasAZiegler I see a build on your repo here:

https://coveralls.io/github/AndreasAZiegler/poly-exploration

Closing for now, but please let me know if there's still an issue. Thanks!

_Originally posted by @nickmerwin in https://github.com/lemurheavy/coveralls-public/issues/1285#issuecomment-473424138_

[2019-03-16 06:02] AndreasAZiegler commented on #1286
The build you mentioned is the first and only build that was recognized by coveralls. As you can see in the screenshot below, there were quite a few builds happening on circleci after this first build which coveralls did not get.

<img width="1675" alt="Screenshot 2019-03-16 at 06 56 33" src="https://user-images.githubusercontent.com/6949508/54471451-78a34a80-47b9-11e9-9640-bd4553cc25ad.png">

[2019-03-16 21:13] dlech opened #1287 "Independance day?"
Maybe this is a case of "its not a bug, its a feature"... but I find it a bit odd that the president's speech from the movie _Independence Day_ is on the [Support for Private Repos](https://docs.coveralls.io/support-for-private-repos) page.

![Selection_017](https://user-images.githubusercontent.com/963645/54481701-318f7680-4806-11e9-9421-1bb87687a608.png)

[2019-03-17 02:22] dotronglong opened #1288 "Coveralls is not working with public travis CI"
I have set up travis-ci.org correctly and passed test, however it does not show on coveralls
Travis CI: https://travis-ci.org/dotronglong/dart-api-client
Coveralls: https://coveralls.io/github/dotronglong/dart-api-client?branch=master

Do you know what was wrong here?

[2019-03-18 21:23] nickmerwin commented on #1288
Hi @dotronglong it's not clear from your Travis logs that a test suite is actually running during the build:
https://api.travis-ci.org/v3/job/507653287/log.txt

I also don't see anything regarding coveralls integration here:
https://github.com/dotronglong/dart-api-client/blob/master/.travis.yml

You'll need to use the Coveralls dart package here:
https://pub.dartlang.org/packages/coveralls

[2019-03-18 21:23] #1288 closed

[2019-03-18 21:31] nickmerwin commented on #1286
@AndreasAZiegler can you please try switching to https://github.com/nickmerwin/node-coveralls as the integration library?

cpp-coveralls doesn't support CircleCI at this time, only Travis for open-source.

Thanks!

[2019-03-18 21:31] #1286 closed

[2019-03-20 06:19] AndreasAZiegler opened #1289 "coveralls c++ support with circleci"
According to a previous issue I created, I have to use the node-coveralls integration library to be able to use coveralls with c++ and circleci. As I'm not familiar with node, I don't see how I can use node-coveralls with my c++ project. Is there any tutorial or another c++ integration library that one can use for coveralls?

[2019-03-20 12:23] nickmerwin commented on #1289
Hi @AndreasAZiegler you can use the setup instructions here:
https://github.com/nickmerwin/node-coveralls

Since Circle comes with node installed, you'll just need add this line to your Circle config:

`npm install coveralls --save-dev`

Then add a the command at the end of your build to cat your lcov file to the coveralls exectuable:

`cat ./coverage/lcov.info | ./node_modules/coveralls/bin/cover

[2019-03-20 12:23] #1289 closed

[2019-03-20 18:16] nickmerwin commented on #1281
Hi @calumcraig the drop in coverage on Coveralls is consistent with the displayed coverage summary from your Travis logs:

https://travis-ci.com/maidsafe/safe_app_nodejs/jobs/180949463

[code]

https://travis-ci.com/maidsafe/safe_app_nodejs/jobs/182833010

[code]

This implies the issue occurred during that build, as opposed to a calculation error on Coveralls.

You can delete the specific build f

[2019-03-20 18:16] #1281 closed

[2019-03-21 08:50] dotronglong commented on #1288
From what I am seeing in the documentation of coveralls at https://coveralls.io/github/dotronglong/dart-api-client?branch=master I don't need to insert any thing to project if I am using travis ci public. Hence, I don't understand, what's wrong here, I eventually put coveralls as devDependecies and run tests again but not working @nickmerwin

[2019-03-21 09:18] calumcraig commented on #1281
OK, thanks for the confirmation @nickmerwin.

[2019-03-21 09:25] dotronglong commented on #1288
I added both COVERALLS_REPO_TOKEN and COVERALLS_TOKEN as runtime environment in Travis CI, but still not working.

[2019-03-21 16:52] nickmerwin commented on #1288
@dotronglong you'll need to add the command to run coveralls after your Travis build completes:

https://dev.belin.io/coveralls.dart/usage/cli/

[2019-03-22 08:24] dotronglong commented on #1288
Thank you @nickmerwin , however, I am referring to this project https://github.com/dart-lang/shelf and I don't see any configuration regarding coveralls but they still have coveralls, I guess it should be something else meanwhile from the document I see that TravisCI does not need extra information to have coverage.

[2019-03-22 16:38] nickmerwin commented on #1288
@dotronglong ok that repo looks to be currently misconfigured, as the latest builds are showing 0 files (https://coveralls.io/github/dart-lang/shelf). The most recent correct build is:

https://coveralls.io/builds/5294462

In which this script is used to call coveralls:

https://github.com/dart-lang/shelf/blob/55067ed3fe2547334190dec621fce88e6ff3707f/tool/travis.sh

[code]

You can see the output

[2019-03-23 18:33] mathstuf commented on #1248
The homepage says that GitLab is supported now, but does this mean just `gitlab.com`? Or are self-hosted public instances also supported?

[2019-03-26 11:54] chuckdumont commented on #1095
@joroshiba - I'm having the same problem with my open source project.  I tried accessing the link you provided on coveralls.zendesk.com, however, I'm not able to access it because I don't have credentials to log in and the site apparently does not offer a self-registration option.  Can you please provide the relevant information where it is accessible to all?  Thanks.

[2019-03-26 18:12] Pr0methean commented on #613
I'm having the same problem using a build matrix in Azure Pipelines, since jacoco:report-aggregate doesn't seem to be working properly there.

[2019-03-28 03:05] apanzerj commented on #1044
Too bad it never got added. I took our org and switched to a competitor. It's not as sexy but it works.

[2019-03-28 03:05] #1044 closed

[2019-04-01 12:35] nickmeldrum opened #1290 "Cannot create a public access token"
On the page: https://coveralls.io/account

I click the button: `'Create new token'`

It just directs me to page: https://coveralls.io/account/personal_access_tokens

with the text:

I am on the free account as I am using coveralls for open source projects hosted on github.

I can see nothing in the documentation saying that I would need a different level account?

Looking on the https://status.cov

[2019-04-05 17:40] nickmerwin commented on #1290
@nickmeldrum do you have javascript enabled in your browser?

Could you check your javascript console for errors?

Thanks.

[2019-04-09 11:44] jwillemsen commented on #592
Have a similar issue when having a directory with only C++ header files, each header has 100% but the directory stays at 0%, would expect that to be 100%, see https://coveralls.io/github/DOCGroup/ACE_TAO
![coveralls_dir](https://user-images.githubusercontent.com/47353/55797764-940a2880-5acd-11e9-87ba-287b96d54978.png)

[2019-04-10 07:11] courtney-miles commented on #1062
I submitted an invitation for "Read" access to https://github.com/coveralls for our private repo last year.  It is still listed as **Pending**.

Anything I can do to prompt it to accept? (seems posting here has worked for others.)

[2019-04-11 01:01] giannif commented on #1174
@aadityataparia any chance your repo is public and I can take a look? When I set up my monorepo, I decided to run `lerna run test` to run my `test` script in each package. I think I did this because I needed different `jestconfigs`. Wondering if you tried that approach and decided against it for any reason?

[2019-04-11 04:15] aadityataparia commented on #1174
@giannif I am using yarn workspaces, and wrote my own custom script to run tests in each package.

https://github.com/sifrr/sifrr/blob/8bde3336df2dfe59e733604b91610412d21732af/scripts/test/runall#L11-L18

[2019-04-11 08:18] amaurymartiny commented on #1174
@giannif If you're interested, have a look at https://github.com/paritytech/js-libs:
- each package has a `yarn test` command which runs `jest`
- in the root package.json, I would have loved to run `lerna run test` to run all tests, but then I don't get the overall coverage, so I'm just running `jest` for now.

[2019-04-12 05:53] gow opened #1291 "The commit wasn't found on the repo"
I recently setup coveralls in our CircleCI builds.  I followed the instructions provided here - https://github.com/mattn/goveralls. But I'm running into this issue (debug info below).
The mentioned git commit does exist on the master branch. Is this a permission issue? Am I missing something?
[code]

[2019-04-12 09:57] shargon opened #1292 "Wrong coverage percentage"
We have a problem with our coverage percentage in https://github.com/neo-project/neo-vm , is more than i expected in certains classes.

We have a big `switch` inside `ExecutionEngine` class https://codecov.io/gh/neo-project/neo-vm/src/master/src/neo-vm/ExecutionEngine.cs#L860 there are a lot of unit test left, for example `CHECKSIG` or `CHECKMULTISIG` are not tested, you can verify that `Crypto` m

[2019-04-12 18:49] Wokoro commented on #568
I am similiar issue also.

I have my codebase  on my `develop` branch but can't access it on **coveralls**.

[2019-04-12 18:49] cleemullins commented on #1272
We have a solution this that we're trying today:
1. As part of the Fork Build, we create the .coverage files. Our "Build" DOES NOT have the API Key.
2. At the end of the build, we push the .coverage files into the Pipeline Artifacts
3. We have a Release that triggers at the end of the build.
4. The Release Pipeline has the API Key in it. That pulls the .coverage files and calls the coveralls scrip

[2019-04-12 18:59] aminnairi opened #1293 "Configuration file extension"
Coveralls wont work if using the following syntax:

[code]

Even though it is a valid YAML extension, but will work if using this syntax:

[code]

It should support any valid YAML extension.

[2019-04-12 19:18] cleemullins commented on #1272
Regardless, of what others are doing - and I agree with you that I see this behavior as well - it still exposes the token and is a vector of attack. I think we've got a workaround, and we'll test it today.

[2019-04-12 21:42] BruceHaley commented on #1272
We have it working: the CI build runs code coverage, then triggers a release which picks up the coverage results and publishes them to the Coveralls site. That completely isolates the Coveralls upload token from the CI build.

[2019-04-14 13:31] forstmeier opened #1294 "Golang files not appearing in Coveralls report"
### Description
I've configured a `travis.yml` file in my project [Heupr](https://github.com/heupr/heupr) but I'm only seeing three of the five files with actual code appearing in the Coveralls output [here](https://coveralls.io/github/heupr/heupr). Am I missing a configuration in the `travis.yml` file that would make sure all files are reported on?

[2019-04-14 18:47] aangairbender commented on #1272
I am pretty sure it's easy to take part of build pipeline of my approach (mentioned above) and move that to release pipeline. The problem was that we pass token to uploader eventually. See this https://github.com/lemurheavy/coveralls-public/issues/1272#issuecomment-473465613

[2019-04-15 16:48] cleemullins commented on #1272
@aangairbender By removing the token from the Build Pipeline, there is no secret exposed to code in the repo. Unit tests, even "Evil" ones, cannot see the token.

By having the Release Pipeline just do the publish of the .coveralls file - and having the key stored in the Release Pipeline - we never expose the key to code that can steal it. Passing the key into the Coveralls tool doesn't worry me a

[2019-04-16 11:02] dawlib opened #1295 "Coverage from CircleCI builds doesn't appear in Coveralls"
I'm struggling with making Coveralls working properly with CircleCI parallel builds that run RSpec and Cucumber tests.

I created the repo in Coveralls, set up the app configs, created on GitHub a PR with a custom branch into the master branch and received the first commit that was triggered, but that's it. Coveralls receives builds information, at least the number of builds is incrementing in the

[2019-04-16 18:27] micheljung commented on #1248
@mathstuf where did you see that? One can sign up/in with GitLab, but https://docs.coveralls.io/ still says `Gitlab support coming very soon!`

[2019-04-16 18:46] mathstuf commented on #1248
coveralls.io has an icon in the top-left saying that Bitbucket and GitLab are now supported.

[2019-04-17 14:56] gyulavoros opened #1296 "Kotlin support"
Is there any ongoing effort around supporting Kotlin?

[2019-04-22 19:29] kk7ds commented on #1065
This is still broken for me. It's not related to browser cache, AFAICT. I can hand-edit the url all the time, but that's a terrible solution. This isn't broken for other badges, just coveralls...

[2019-04-23 00:47] stevenvachon commented on #613
Anyone give a shit?

[2019-04-23 01:40] tobslob commented on #973
@MBARIMike please were you able to solve the problem? if yes how?

[2019-04-24 08:00] xPaw commented on #1262
@nickmerwin `.php` still throws 403 though: https://coveralls.io/github/xPaw/SteamID.php

And I noticed that the served `content-type` changes depending on the type.

https://coveralls.io/github/test/test.js sends javascript content-type
https://coveralls.io/github/test/test.png sends image/png content-type

[2019-04-24 13:47] mjenj opened #1297 "Can't see private repos in gitlab"
I've been trying to access my companies private repo on gitlab from coveralls. The account links correctly but when I re-sync or refresh private repos I get the message "There are no repos available to add".

I tried using the api to add a repo as well, however with that I get a "500 internal server error".
Any help would be appreciated

[2019-04-26 21:54] ObiWahn commented on #1034
This does not work well at all! The suggested python module does not handle builds created with CMake correctly. I have tried it for a few hours. Now I will either fork the tool and make it work for my usecase or maybe I just use the CDash coverage.

[2019-04-30 19:32] michaelsbradleyjr opened #1298 "Coveralls main page and badge for my project are "stuck""
See: https://coveralls.io/github/embark-framework/embark

It reports the "last build" as happening on 1 April 2019, and the coverage badge is stuck at the percentage for that build too.

If you scroll down to the "recent builds" section, it's clear that the system has continued to process builds since April 1.

[2019-04-30 19:46] nickmerwin commented on #1298
hi @michaelsbradleyjr it appears the coverage data from your CI is no longer including a branch name.

Here's the last build from `master`:
https://coveralls.io/builds/22528100

Did your configuration change after that?

[2019-04-30 19:49] michaelsbradleyjr commented on #1298
As of April 1 we finished moving from Travis and AppVeyor to Azure Pipelines, but didn't otherwise change our coverage configuration. I will do a search re: AzP and coveralls but if you know a quick fix, that would be great!

[2019-04-30 19:53] nickmerwin commented on #1298
Ok simplest update would probably be to set `COVERALLS_GIT_BRANCH=$(Build.SourceBranchName)`  and `COVERALLS_SERVICE_NAME=azure`.

Also, here's an example of another possible solution:

https://github.com/gulpjs/gulp/blob/master/.ci/.azure-pipelines-steps.yml#L17

Closing for now, let me know if you run into any roadblocks. Thanks!

[2019-04-30 19:53] #1298 closed

[2019-04-30 22:05] michaelsbradleyjr commented on #1298
In case someone else has the same problem and comes across this issue later:

Based on @nickmerwin's suggestion, I got it working: https://github.com/embark-framework/embark/pull/1556/commits/86e50ff24f4f298f520f772fdda032a01ac4d189

A slightly tricky thing is that my team tends to use branch names that are prefixed with things like `fix/` and `refactor/`. Per the docs for [Build.SourceBranchName]

[2019-05-01 01:11] michaelsbradleyjr commented on #1298
@nickmerwin is there a way, with environment variables or cli options, that I can get the type to switch to pull as seen with https://coveralls.io/github/zeit/next.js ?

[2019-05-01 10:46] ajfisher opened #1299 "BUILD SHA NOT FOUND - CircleCI coverage details doesn't appear in coveralls"
I have coverage data being created as part of my build process and until now I've been simply uploading all of the coverage data as artefacts in circleci. This is on a private repo.

I've created a job which *should* be sending the data across to coveralls. My token has been configured as an environment variable.

the command I'm using is `cat coverage/lcov.info | ./node_modules/.bin/coveralls`

T

[2019-05-01 15:32] nickmerwin commented on #1298
@michaelsbradleyjr `CI_PULL_REQUEST` should be all that's needed to differentiate a PR. Could you link me to an attempt that didn't work?

[2019-05-01 15:34] nickmerwin commented on #1299
Hi @ajfisher since this is on a private repo, can you please send us the details here: support@coveralls.io

Thanks.

[2019-05-01 15:34] #1299 closed

[2019-05-01 16:11] michaelsbradleyjr commented on #1298
I didn't try `CI_PULL_REQUEST` but will do so.

[2019-05-01 16:56] michaelsbradleyjr commented on #1298
It works, thanks so much @nickmerwin!

[2019-05-02 18:41] #755 closed

[2019-05-03 22:10] Pessimistress commented on #1259
@moensch Did you get it working?

I set `COVERALLS_REPO_TOKEN` in the buildkite pipeline settings. Using the `coveralls` npm package for reporting, which seems to pull information from the correct [environment variables](https://github.com/nickmerwin/node-coveralls/blob/master/lib/getOptions.js#L96).

I'm getting `Bad response: 422 {"message":"Couldn't find a repository matching this job.","error"

[2019-05-03 22:26] nickmerwin commented on #1259
@Pessimistress could you run using the `--verbose` flag so we can see if the command is picking up your env vars correctly?

[2019-05-03 22:39] Pessimistress commented on #1259
@nickmerwin You are right, we need to explicitly expose the env vars. https://github.com/uber/xviz/pull/441/files

That got rid of the error, but reporting doesn't seem to be going through:
https://coveralls.io/jobs/48085155

[2019-05-03 22:48] nickmerwin commented on #1259
@Pessimistress ok that implies there wasn't any source file coverage data in the POST to Coveralls. Can you confirm that the lcov files are present in the build at the step where `coveralls` is invoked? I ask because sometimes those files are removed in intermediate steps.

[2019-05-03 22:57] Pessimistress commented on #1259
The debug info:

[code]

![image](https://user-images.githubusercontent.com/2059298/57169537-298e9480-6dbc-11e9-9df9-f6b9810bc725.png)

[2019-05-03 23:12] nickmerwin commented on #1259
@Pessimistres ok that looks correct. I've removed the builds on Coveralls, could you trigger another build on Buildkite?

[2019-05-03 23:27] Pessimistress commented on #1259
https://coveralls.io/jobs/48086462

[2019-05-03 23:37] nickmerwin commented on #1259
Thanks, it's not clear why those files aren't coming across to Coveralls even though they're showing up in the log output. We're going to set up a development environment to try and reproduce this.

@moensch were you able to get your repo working?

[2019-05-04 03:37] Clayton7510 opened #1300 "Coveralls not showing coverage for new builds."
Coveralls hasn't registered any new builds today. The first one i did today was about 6.5 hours ago. I have since triggered about 4 additional builds today off of the same branch trying to get the coverage info to show up in Coveralls. It shows that Coveralls API was contacted in TravisCI logs and successfully published. But no updates in Coveralls and of course GitHub is not receiving any updated

[2019-05-04 15:16] devinivy opened #1301 ""No data" in builds on a new repo"
I recently created a new repository, and I've been able to see new builds from TravisCI, but those builds have no coverage data.  Here's an example: https://coveralls.io/builds/23189127

I send coverage to Coveralls using the following command: `lab -r lcov test/index.js | coveralls`, which is a command I've been using on projects for a long time.  TravisCI indicates no failures.  I'm using the no

[2019-05-04 15:18] nickmerwin commented on #1300
@Clayton7510 sorry about that, we had a queue backup from an underlying infrastructure performance degradation.

Your build should be processed now, please open another issue if not.

Thanks!

[2019-05-04 15:18] #1300 closed

[2019-05-04 17:01] nickmerwin commented on #1301
@devinivy could you add the `verbose` flag to coveralls and run your build again please?

[2019-05-04 17:08] Clayton7510 commented on #1300
Yep, I see it in there. Thanks. Next time I'll wait until the following morning before I raise an issue ;)

[2019-05-04 17:11] devinivy commented on #1301
Sure thing!  The output can be seen here: https://travis-ci.org/devinivy/lalalambda/jobs/528211394#L521

[2019-05-04 17:34] nickmerwin commented on #1301
@devinivy ok from the logs `{"source_files":[]` implies that the lcov file did not contain any individual file info. Could you check your configuration to ensure they’re being picked up?

[2019-05-04 17:35] nickmerwin commented on #1301
Closing for now, let me know if you’re still not able to get it working.

Thanks!

[2019-05-04 17:35] #1301 closed

[2019-05-04 18:00] nickmerwin commented on #1259
@Pessimistress turns out we had an unrelated infrastructure issue yesterday that since been mitigated, so your builds are processed now and source files are showing.

Thank you for the debugging, glad we got it working!

[2019-05-04 19:29] devinivy commented on #1301
Turns out the serverless framework was using `chdir()` to change the current working directory, which threw-off the filenames reported in lcov output.  Thanks for the help!

[2019-05-06 02:37] klahnakoski opened #1302 "vendor directory is not reported"
I can not get the `vendor` directory to report coverage for my project https://coveralls.io/github/mozilla/ActiveData

Here is the current config

[code]

it woks fine locally

[code]

this next config shows the `tests` directory just fine, but still not the `vendor` directory

[code]

A few other permutations did not work either:
https://github.com/mozilla/ActiveData/commit/6d001486a711136e385e84

[2019-05-06 15:30] nickmerwin commented on #1302
Hi @klahnakoski, sorry for the confusion -- we're going to add a setting at the Repo level that will allow `/vendor` files to be included on Coveralls' side. I'll let you know when that's live, later today most likely.

[2019-05-06 15:56] nickmerwin commented on #1302
@klahnakoski ok that's live now, you can toggle it from your repo's settings page:

![image](https://user-images.githubusercontent.com/1129/57237322-ced38380-6fdb-11e9-8ca3-6ae03a9a154c.png)

Please let me know when you have a chance to re-run the build and confirm it's working as expected. Thank you!

[2019-05-06 15:56] #1302 closed

[2019-05-06 17:24] klahnakoski commented on #1302
Thank you !  That was fast!

But, there seems to be a problem with UI showing in tree form:

![image](https://user-images.githubusercontent.com/2334429/57242710-3dc3d300-7002-11e9-86aa-5ec2b5213f36.png)

[2019-05-06 18:16] nickmerwin commented on #1302
Hi @klahnakoski it's looking correct now:

![image](https://user-images.githubusercontent.com/1129/57245739-6c38b280-6ff0-11e9-9eae-7eeb342f942d.png)

Can you confirm?

[2019-05-06 20:39] cabello commented on #1189
I am facing similuar issues as @prologic .

I want to get reports from all of my repos by hitting `GET https://coveralls.io/repos.json?page=N` until I hit an empty page then hit `GET https://coveralls.io/github/org/username.json?branch=master` for each repo to get the latest report.

With that data I will prepare a report for my organization.

The issue we are facing:
- Using `Authentication` head

[2019-05-07 13:39] cabello commented on #1189
I can get coverage result hitting `GET https://coveralls.io/github/org/username.json?branch=master` if I use the `repo_token` parameter, however there is no API call to fetch all repo tokens, so I hit a dead end for automation.

[2019-05-07 20:52] klahnakoski commented on #1302
@nickmerwin  confirmed

[2019-05-07 23:57] bizob2828 commented on #1172
@solkimicreb I have this working by using https://github.com/nickmerwin/node-coveralls.  I had to add the `COVERALLS_REPO_TOKEN` env var to my bitbucket administration dashboard.  I'm trying to fork that repo and get it to report PRs and such

[2019-05-09 22:58] BruceHaley commented on #1272
I found a simpler solution to protecting the coveralls repo token from malicious tests: Until the tests and the code coverage report are completed, leave the token undefined. Once they are completed, then define the token and upload the coverage report to coveralls.io. That requires putting the coverage report generation and the coverage report upload into two separate steps. It obviates the need

[2019-05-13 14:56] TheFirstAvenger commented on #1167
@joroshiba We are seeing this issue also. Is it possible for coveralls to use the default repo branch as the base comparison if no branch information is available? Alternatively, updating the comparison when that PR is opened would also be helpful. As it stands now, most of our single commit PR's are missing the critical comparison to master.

[2019-05-13 21:07] pkoz opened #1303 "GitLab Subgroups are not supported"
Subscribed to Pro just only to realize that Coveralls does not support GitLab Subgroups.
https://docs.gitlab.com/ee/user/group/subgroups

Repos from subgroups do not appear on the list or repositories.
An attempt to send a POST request to API ended up with "Internal Server Error"
An attempt to send the coverage from local ended up with "Couldn't find a repository matching this job."

Any idea abou

[2019-05-14 00:12] BrendanChou opened #1304 "Public Repos in Private Organizations are no longer working"
The page deals a "Halt!" message and the repos do not show up in the "Repos" page even though they show up as "active" in the "Add Repo" page

[2019-05-15 17:08] andykais commented on #568
similar issue, requesting that this issue be re-opened. If it helps, here is my coveralls repo https://coveralls.io/github/andykais/scrape-pages. It only shows master, but I have coveralls running on an open pr. Do pr branches get excluded from branches perhaps? When I log into coveralls I can see coverage information for said branch per each build https://coveralls.io/repos/256446/builds, but the

[2019-05-16 23:19] coderanger commented on #1019
Having this same issue with goveralls and CircleCI.

[2019-05-17 16:31] b3b00 opened #1305 "coveralls links to file not found"
Hello,

i 've just setup my github project [CSLY](http://github.com/b3b00/csly) to use coveralls.
It all works well except when browsing coveralls report down to a file , I've got a "source file not found".

the paths to the file are weird though : "/C/projects/sly/sly/EnumConverter.cs" for example instead of "sly/EnumConverter.cs".

here is the opencover coverage file :
[coverage.opencover.txt](h

[2019-05-17 18:59] b3b00 commented on #1305
Solved. I Was using coveralls.net without the --useRelativePaths flag

[2019-05-19 04:25] lunny opened #1306 "Gitea.com support"
Gitea is a painless self-hosted Git services. We will move our development to https://gitea.com and we are finding a suitable coverage tool/service. Currently we are using codecov but it doesn't support gitea's OAuth2 API. If you can support login with https://gitea.com(The API is similiar with Github) that's great and we could drop codecov and use overalls.

[2019-05-19 11:26] jbrekelmans opened #1307 "Links to line coverage in source code files are not proper links"
Context
In the following screenshot the details of a job are shown. The tree allows one to drill down into the source code files which is badly covered. When clicking the file names (leaves of the tree, dotted underline) a new view is opened with the source code, but chrome does not recognise the file names as hyperlinks (so I cannot open in a new tab in one click, for example).
<img width="799" a

[2019-05-19 17:05] joelethan commented on #552
@lifenautjoe and @muryanto1 Could you please share how you set up the config.yml. I am abit stuck configuring circleCI with coveralls. Thank you.

[2019-05-19 19:45] lucianopaz opened #1308 "Coverage does not sum across test environments"
I wrote a small [python package](https://github.com/lucianopaz/compress_pickle) that has to run on python 3.5 and higher.

The code has a part that runs exclusively on python 3.5 and another branch that runs if the python version is higher. I made three test environments that run on [travisCI](https://travis-ci.org/lucianopaz/compress_pickle). The [coverage report](https://coveralls.io/github/luci

[2019-05-20 11:04] lucianopaz commented on #1308
Closing as this issue is intermittent. After new pushes that did not affect the tests at all, the coverage correctly summed 100%

[2019-05-20 11:04] #1308 closed

[2019-05-21 12:44] ViceIce commented on #632
same here

[2019-05-21 13:31] cbj4074 commented on #1201
I seem to have the same issue.

I've noticed that that problem seems to manifest only in a repository in which all changes are merged-in via merge/pull requests, i.e., we do not commit directly to `master`. Possibly related is the fact that all commits merged in this fashion show [GitHub `web-flow`](https://github.com/web-flow) as the committer, whereas in other repositories to which we commit dir

[2019-05-23 17:56] cabello commented on #1189
@prologic I ended up resorting into using Cookie based authentication in order to obtain the coverage data I needed, I extracted a single file script people can use to build on top of it: https://gist.github.com/cabello/678142fac8ccb4244b2749831621ee7f

It's not ideal as obtaining the Cookie value requires logging in on the website but it works for now.

[2019-05-27 00:20] kevinawoo opened #1309 "I can't see my org"
I can't seem to see my org https://github.com/armory-io, but I do see https://github.com/armory org which both orgs have public and private repos.

I thought it might be the org name collision, but I tried changing it and nothing happened.

[2019-05-27 00:21] kevinawoo commented on #1309
Also, when I visit https://coveralls.io/repos/new?name=armory-io&service=github, I get
<kbd>![](https://cl.ly/fef700401163/Image%202019-05-26%20at%2017.21.34.png)</kbd>

[2019-05-27 00:27] kevinawoo commented on #1309
nvm, I seemed to have `coveralls pro` 3rd party access approved, but not `coveralls`. Closing as it was a mistake on my end. thanks!

[2019-05-27 00:27] #1309 closed

[2019-05-28 11:05] #1305 closed

[2019-05-29 09:06] arshdeeptinna commented on #1304
I am having same issue. @BrendanChou did you find a fix?

[2019-05-29 13:53] FabioNardelli opened #1310 "Badge not working (but coverage is correct)"
Hi, I have problems with a private GitHub repo I'm working on: coverage badge doesn't work, both on GitHub and on Coveralls itself.  Coverage is correct though.
I read (https://github.com/lemurheavy/coveralls-public/issues/477#issuecomment-78301407) that it may be caused by the fact that tha builds on my repo are for pull requests only. How can I solve it? Thanks in advance.

[2019-05-29 23:50] jeffrey-hokanson commented on #1095
Trying to solve the same problem, I managed to find what I think is the same documentation: https://docs.coveralls.io/parallel-build-webhook

These instructions have successfully cleared up this issue for me.

[2019-05-30 00:06] BrendanChou commented on #1304
Had to delete and re-add the repo which wiped the history but I couldn't wait

[2019-05-30 13:04] FabioNardelli commented on #1310
I solved the problem by getting a new token.

[2019-05-30 13:04] #1310 closed

[2019-05-31 01:20] ionelmc opened #1311 "Coverage data from travis and appveyot do not get merged"
I have this problem on https://coveralls.io/github/ionelmc/python-hunter

[2019-06-01 03:51] josephspurrier commented on #237
I was able to achieve this for Go and JavaScript (Vue) by converting Go to lcov format (https://github.com/josephspurrier/covfmt), concatenating with the lcov generated by Jest, and then using the coveralls node module to upload (https://github.com/nickmerwin/node-coveralls). You can see the coverage combined here: https://coveralls.io/github/josephspurrier/govueapp?branch=master. The travis examp

[2019-06-02 18:32] scalableprototyping commented on #592
Exact same problem here, any walk around?

[2019-06-05 14:22] deepakkt opened #1312 "How do I get the repo token for my repo via API?"
The API to submit coverage to coverall needs a repo token.

How can I get the token for my rep via API?
The API documentation makes no reference to this.

[2019-06-06 04:57] msolimans commented on #1291
@gow were you able to fix this issue, any one knows how to fix this?

[2019-06-06 05:14] gow commented on #1291
No. We just stopped using the service.

On Wed, Jun 5, 2019 at 9:57 PM Muhammad Soliman <notifications@github.com>
wrote:

[2019-06-06 08:53] vigenere92 opened #1313 "Coveralls bot not commenting on pull requests"
We added coveralls bot as a collaborator to our app - https://github.com/synup/app, but still the bot is not commenting on the pull requests, though coverage reports are generated and are visible on the coveralls dashboard.

[2019-06-06 10:40] kowalk commented on #632
same here: https://travis-ci.org/jorge07/symfony-4-es-cqrs-boilerplate/builds/542196995

[code]

[2019-06-06 15:29] TomasVotruba commented on #982
Outdated

[2019-06-06 15:29] #982 closed

[2019-06-06 16:01] msolimans commented on #1291
@nickmerwin would you please help, any suggestions?

[2019-06-07 00:33] troex commented on #1313
same for us on private repository attribution/attribution

[2019-06-07 01:56] StoneCypher commented on #1272
@nickmerwin - why is this closed?  there's no instructions anywhere on how to do this

i am trying to switch from travis to azure pipelines right now, because travis was bought by predatory venture capitalists, fired all its core staff, and now has a history of multiple day outages

the only thing i don't have done is getting coveralls moved over

[2019-06-08 15:25] msolimans commented on #1291
I was able to fix this by changing the service to `circle-ci`

[2019-06-08 18:43] thirtytwobits opened #1314 "gzip upload is broken"
I'm unclear if this is a regression since #52 is actually still open but if I try to upload gzip compressed json I get :

[code]

cpp-coveralls appears to be broken so I wrote my own (with branching support). Here's the line where I attempt to upload using gzip compression:

(see [the full source here](https://github.com/UAVCAN/libuavcan/blob/uavcan-v1.0/docker/coveralls/info_to_coveralls#L92))

[

[2019-06-11 22:09] colecrtr opened #1315 "500 Server Error is not operational"
[code]

Yet the Coveralls status page shows everything as "Operational": https://status.coveralls.io/

[2019-06-12 11:08] Krolken opened #1316 "500 error on viewing code hosted on Bitbucket"
I am having problem viewing code that is hosted on BitBucket. (python code)

I am using CircleCI to push the coverage report and get ok from coveralls. Everything seems fine in web UI until I want to view code. Then I get 500 error. On all files.

Ran a build on another project where the code is hosted on Github and there was not problem.

[2019-06-12 12:29] Krolken commented on #1316
Update:
Not able to log in via Bitbucket either after logging out to check github projects.

[2019-06-12 14:18] lsanders opened #1317 "500 Build processing error. while reporting."
We've been getting this error for about 24 hrs. Synchronizing repos had no affect. Coveralls status page indicates no problems in last 24 hours.

Build's coming from bitbucket pipelines, if that matters.

[2019-06-12 14:20] lsanders commented on #1316
#1315 is duplicate

[2019-06-12 14:21] lsanders commented on #1315
#1317 is also a duplicate

[2019-06-12 15:03] tym-network commented on #1316
Same problem here, unable to login using Bitbucket account (500 error) and unable to run Coveralls from Bitbucket Pipeline
`Bad response: 500 {"message":"Build processing error.","error":true,"url":""}`

[2019-06-12 18:57] rsaftoiu commented on #1316
Same here.

[2019-06-13 13:43] Krolken commented on #1316
Update. Can log in via Bitbucket. When i try to view my files I don't get a 500, instead message in the view:

SOURCE NOT AVAILABLE
Sorry, the **Github API** returned an internal server error, please try refreshing this page in a moment.

[2019-06-13 19:11] nickmerwin commented on #1316
Hi all this is resolved now, BitBucket recently deprecated an API endpoint we relied on.

Apologies for the fire drill!

[2019-06-13 19:11] #1316 closed

[2019-06-13 19:12] nickmerwin commented on #1317
Hi @lsanders can you trigger another build now please?

[2019-06-13 19:13] nickmerwin commented on #1315
Hi @colecrtr we recently fixed an issue with a deprecated BitBucket API endpoint -- can you trigger another build now please?

[2019-06-13 20:47] colecrtr commented on #1315
Hey @nickmerwin, Coverage is now submitting perfectly. Thanks for being so responsive :+1:

[2019-06-13 20:47] #1315 closed

[2019-06-14 14:03] eldruin opened #1318 "Incorrect coverage displayed when reported both via travis-ci and travis-ci.com"
First, thank you very much for your great service.

I have noticed an issue when a job run is reported twice once via travis-ci and also via travis-ci.com. This leads to the coverage to drop for no apparent reason. When one looks into the report, they both contain a high coverage. However, a low coverage is displayed.
I have observed this several times across several projects albeit inconsistently

[2019-06-17 15:44] adlugopolski commented on #1295
@dawlib Did you manage to solve this issue? I am able to get the parallel builds reported but there is no final notification. When I copy the ID reported in the test output and manually complete the build the coverage seems to be reported somewhat correctly.

[2019-06-18 20:44] Ismaestro commented on #1264
This is happening right now again. @nickmerwin that is cool, but maybe we should think in a more proper way to avoid this problem in the future...

[2019-06-19 15:50] reinout commented on #1019
I also have the same problem, with https://coveralls.io/github/nens/ThreeDiToolbox (travis + github).
My https://github.com/nens/ThreeDiToolbox/pull/416 pull request often showed the same "stayed the same/increased 0.02%" messages even though the PR was all about adding coverage.

If I look at this piece of coveralls output, I'm getting an idea:

![Screenshot from 2019-06-19 17-32-34](https://user

[2019-06-19 20:13] #1317 closed

[2019-06-20 08:53] reinout commented on #1019
No, it didn't.

- Well, the "if" in my travis config works. Only PR builds are send to coveralls now.
- But the difference still doesn't get compared to master. See https://coveralls.io/builds/24103101, "coverage remained the same".
- Somehow coveralls stopped reporting the coverage back to github. Might be unrelated.

[2019-06-21 15:49] piersb commented on #632
Same problem here.

[2019-06-21 21:32] blueyed opened #1320 "Document simple way of uploading coverage.xml"
I am using [gcovr](https://github.com/gcovr/gcovr/) to process gcov files, which allows for creating a Cobertura compatible coverage.xml file.

It would be great if the documentation had an entry for how to upload this via curl for example.

Ref: https://github.com/neovim/neovim/pull/10201

[2019-06-25 08:09] neuashish commented on #1211
I have installed on Ubantu, and I am dealing with the same error @tswiftma

[2019-06-25 08:11] neuashish opened #1321 "Error while initializing daemon"
After installing Terraform Enterprise on Ubuntu machine I get an error bringing up the browser https://(IP):8800/initializing?redirect=/
![save_tfe_erroe](https://user-images.githubusercontent.com/50904911/60081167-e531cc00-974e-11e9-84e7-5611476e32b2.png)

[2019-06-25 08:13] #1321 closed

[2019-06-25 14:31] espoirMur commented on #1256
Same thing here !!!

[2019-06-26 21:25] lsanders opened #1322 "500 Build processing error. while reporting - Bitbucket repos"
Same behavior as #1317

[2019-06-28 15:16] Themanwithoutaplan commented on #1317
I'm seeing this as well. This is the traceback from our BitBucket pipelines

[code]

[2019-06-28 19:13] lsanders commented on #1322
Hey guys,

Should we expect to continue having bitbucket integration issues? Is it such a small percentage of your customer base that you don't have it actively monitored (https://github.com/lemurheavy/coveralls-public/issues/1322)?

[2019-06-28 19:13] sairathb commented on #1322
This is turning out to be a real issue in our dev environment. We are facing the same issue

[2019-06-28 19:14] lsanders commented on #1317
@Themanwithoutaplan  - this was broke and resolved and now broke again. New issue is #1322 and I'm hoping they'll respond soon :)

[2019-06-28 20:38] nickmerwin commented on #1317
Hi @Themanwithoutaplan and @lsanders we're working on a fix right now.

[2019-06-28 20:38] nickmerwin commented on #1322
Hi @lsanders and @sairathb fix coming shortly.

[2019-06-28 21:18] nickmerwin commented on #1322
@lsanders could you try another build now please?

[2019-06-28 23:07] mirismaili commented on #548
Similar issue:

Build 45 (https://circleci.com/gh/mirismaili/simplatic-http-server/45):

[code]

Restarting the job without any change, solved the issue:

Build 46: https://circleci.com/gh/mirismaili/simplatic-http-server/46

[2019-06-29 10:52] mirismaili commented on #487
Similar issue:

[Jub **45**](https://circleci.com/gh/mirismaili/simplatic-http-server/45):

[code]

Restarting the job without any change:

[Jub **46**](https://circleci.com/gh/mirismaili/simplatic-http-server/46): OK

[2019-06-29 18:12] schweigert opened #1323 "Wrong coverage percentage"
My real cover percentage is 85%. My badge is correctly. But, the dashboard show 67%. It's wrong. My project is running in TravisCI, and this show 85%.

![image](https://user-images.githubusercontent.com/13274722/60387826-ba61b380-9a7f-11e9-93b0-dfb7d6c1ddf0.png)

![image](https://user-images.githubusercontent.com/13274722/60387848-14fb0f80-9a80-11e9-975f-36e91d4a5dbb.png)

Links:

https://travis-c

[2019-06-30 06:58] drupchen commented on #1065
Had the same bug, applied the workaround by @moshfeu

[2019-06-30 14:10] iamdefinitelyahuman commented on #1065
The issue is that it's being cached by github, not locally.  There is a fix documented here:

https://help.github.com/en/articles/about-anonymized-image-urls

[2019-06-30 14:30] iamdefinitelyahuman commented on #971
I was able to fix this issue on my repo by purging GitHub's cached copy of the badge:

[code]

More detailed info is available here - https://help.github.com/en/articles/about-anonymized-image-urls

Hopefully this saves someone else the frustration I just went through :)

[2019-07-02 17:15] lsanders commented on #1322
Still failing, @nickmerwin

[2019-07-02 21:13] herbertrlee commented on #1322
Also experiencing this issue.

[2019-07-03 12:50] tym-network commented on #1322
Same here:
`Bad response: 500 {"message":"Build processing error.","error":true,"url":""}`

[2019-07-03 14:54] ZeeshanGhalib commented on #1322
We are having the same issue.  Unable to upload report from maven.
Get the following exception:

[ERROR] Failed to execute goal org.eluder.coveralls:coveralls-maven-plugin:4.3.0:report (default-cli) on project gis-parent: I/O operation failed: Report submission to Coveralls API failed with HTTP status 500: Internal Server Error (Coveralls API internal error) -> [Help 1]
org.apache.maven.lifecycle.

[2019-07-04 03:22] mvrozanti opened #1324 "Very imprecise "quickstart""
![image](https://user-images.githubusercontent.com/11381662/60637584-7230f100-9df1-11e9-9806-02a29e7ba486.png)

1 (red). Indispensable yet contradictory instructions
2 (brown). Duplicate instructions
3 (cyan). Inconsistent instructions (already mentioned in #1168)

[2019-07-04 08:01] ZeeshanGhalib commented on #1322
Hello @nickmerwin
Any update on this issue?

[2019-07-04 17:12] nickmerwin commented on #1322
Hi @ZeeshanGhalib, we've confirmed with @lsanders that the issue has been resolved. Closing this, for now, please let me know if your next build fails.

Thanks!

[2019-07-04 17:12] #1322 closed

[2019-07-04 18:59] mvrozanti commented on #1324
So, do I add a `repo_token` to a tracked file or do I not use a `repo_token` at all?

It's EITHER ONE of those.

[2019-07-04 19:05] mvrozanti commented on #1324
"what have you"

I don't have any file matching "*helper*". Do I need to create one? Does it have to be `.rb`? What is going on?

[2019-07-04 19:09] mvrozanti commented on #1324
It's such a bummer that some documentations are written this way. If only I knew what has to be done to get it working for a single language, I'd try and make a PR to help the noobs I so much identify with. The  concept of code coverage is great, but is clearly not all that is needed to make a software that is actually usable.

[2019-07-08 15:07] tym-network commented on #1322
Hi @nickmerwin,

We still have the issue on our side.
We are using https://github.com/nickmerwin/node-coveralls to call the API with an lcov.info file as the input and a `.coveralls.yml` file at the root of the repository to give the repo token (I checked, it's the right one).

It doesn't work on Bitbucket Pipelines nor on my local environment.

Error is still
[code]

It worked well until June 26t

[2019-07-08 15:23] nickmerwin commented on #1322
Hi @tym-network could you tell me the name of the repo in question, please?

[2019-07-08 15:34] tym-network commented on #1322
Sure, it's a private repo, accessible here: https://coveralls.io/bitbucket/GuestToGuestTeam/guesttoguest

[2019-07-08 16:48] nickmerwin commented on #1322
@tym-network ok it looks like the user that added that repo no longer has access to it on Bitbucket, could you email us at support@coveralls.io so we can arrange to have it reassigned to a new user, please?

[2019-07-08 23:55] steveklebanoff commented on #1313
Same.  Anyone resolve?

[2019-07-09 17:56] czyang commented on #971
This works for me. And it looks like this is the real answer.

[2019-07-13 17:04] mvrozanti commented on #1324
there are 600 issues. Probably gotta fix some other things before documentation. I'm closing this

[2019-07-13 17:04] #1324 closed

[2019-07-14 21:32] alexandermorgan opened #1325 "Make coverage assessment sensitive to concise rewrites."
Feature request: It would be nice if coverage assessments took into account whether new changes really introduce any new untested lines. There are several other issues about the way the coverage number is arrived at, and the threshold for a build failure, but this is different.
Imagine a repo has 100 functions, and one of those functions looks like this:

[code]

Let's assume this function  is tes

[2019-07-16 10:17] k1o0 commented on #1244
I would also like to see more detail in the documentation for this.

[2019-07-16 10:25] k1o0 opened #1326 "API Documentation: 301 response on request to /api/v1/jobs endpoint"
I'm attempting to build an automation server in Node.js for our MATLAB toolbox and would like to report the code coverage using Coveralls.

The documentation for the API is a little vague and currently I get the following response when making a POST request to the jobs endpoint:

[code]

[2019-07-18 06:47] assapir opened #1327 "Directory stracture changes, but files aren't update so getting 404"
Repository: https://coveralls.io/github/meijin007/story-line
I had a change in the repository structure - was moving things into `ui` and `api` folders. in each folders there is a `src` folder with the actual source for it.
When I am trying to select a file to check the coverage  per line, it . fails with `404`.
It works for some files (that I got `source not available` and changed the sub folder

[2019-07-29 17:09] #87 closed

[2019-07-29 17:10] #86 closed

[2019-07-29 17:33] deepakkt-a commented on #1166
Hello, is there a solution to the issue posted by @codingrhythm ?

I am running into the same issue and there seems to be no proper way to authenticate with the Coveralls API! @joroshiba ??

[2019-07-30 23:11] zjb421 opened #1328 "How do I use API to post results locally?"
How to authenticate with token. I am trying to use token xxx format but its showing

my request

[2019-08-01 13:15] eran10 commented on #530
same issue in our repo,
any new ?? what can cause that??

[2019-08-04 09:38] cedx commented on #1262
@xPaw You can append a final slash to the URL to make it work:
https://coveralls.io/github/xPaw/SteamID.php/

[2019-08-04 10:44] praveendath92 commented on #1089
An year later and it still shows the same  😂

[2019-08-05 08:55] jackjpark opened #1329 "Coveralls reporting 0% code coverage with swift codebase?"
I am running xcov and outputting the report to coveralls, travic ci generates the reports fine (I can see my coverage report in the CI console), yet coveralls reports 0% on every build.

I have run coverage on my default branch and several PR'd and there is a discrepancy between xcov output and coveralls stats

Any ideas here? i get a successfully sent message so am unsure how to proceed with debu

[2019-08-05 23:50] alexbeltran commented on #1153
Also experiencing missing branches in a private repo.

Build has branch information which does not appear in the main page. https://coveralls.io/builds/24999473

Tried to resync with github.

[2019-08-06 18:12] bruce-dunwiddie opened #1330 "Service Not Updating Repo"
For the past few days, I've been attempting to update my repo and the service is not seeing any updates. I've attempted to push updates through my existing AppVeyor CI integration , https://github.com/bruce-dunwiddie/tsql-parser/blob/master/appveyor.yml , as well as manually running the .Net console to push to the service, and no new builds are showing on the site, https://coveralls.io/github/bruc

[2019-08-07 11:40] ped7g commented on #1325
I wouldn't mind even less intelligent hack, that when (per-file) missed lines counter is same as before, but relevant/covered lines went down, it would use that black/grey classification (for the particular file, and for whole build, unless there's "real" decrease in other modified file).

For example build like this:
https://coveralls.io/builds/25027942

(I refactored almost-identical code from t

[2019-08-07 14:16] jingpengw commented on #1050
I got `no data` message

[2019-08-08 07:16] DenisPalnitsky opened #1331 "Accesss denied when accessing https://coveralls.io/builds/COMMIN_HASH.json"
I'm trying to get coverage percentage for a commit in private repo by using HTTP GET to `https://coveralls.io/builds/COMMIN_HASH.json` with API token in the header but getting "Access Denied"
Here is full request:

curl --request GET \
  --url https://coveralls.io/builds/COMMIT_HASH.json \
  --header 'authentication: AUTH-TOKEN' \

[2019-08-08 12:54] bkielbasa opened #1332 "Displaying smaller coverage than it's actual"
This is a good example of the problem: https://github.com/go-bdd/gobdd/pull/32

Coveralls reports these lines https://coveralls.io/builds/25059786/source?filename=testhttp/setup.go#L39 as not covered but that's not true. Those lines are executed during the test but the code coverage says something different. When I run it locally, Goland shows the coverages about 84 % on file `setup.go`.

![image]

[2019-08-09 20:05] keefertaylor commented on #1062
I'm also curious about how to poke the bot into accepting my invite.

[2019-08-12 09:23] majorgilles opened #1333 "Website inaccessible, api not working"
https://coveralls.io/
=> "This website is under heavy load (queue full)"

Using the coveralls python lib:
"coveralls.exception.CoverallsException: Could not submit coverage: 503 Server Error: Service Unavailable for url: https://coveralls.io/api/v1/jobs"

Any ETA on this? This is blocking our release process.
https://status.coveralls.io/ shows everything as being operational but obviously this is

[2019-08-12 21:58] JetUni commented on #1333
Even now that this is "fixed" our org is unable to update the coverage on the repo we're working on through node

[2019-08-13 03:17] mitani-kun opened #1334 "It looks like the site crashed immediately after sending my report from travis"
Perhaps this information will be useful for debug the error.
coverall.io worked before I start this travis build:
https://travis-ci.org/NikolayMakhonin/tree-state-manager/builds/570764151
and crashed after trying to send a report to coveralls

Report file (lcov.info):
https://drive.google.com/file/d/1MCtn3NoSLbnYcJ3UBv-nkhhZfIcjI0h9/view?usp=sharing

[2019-08-13 03:18] nickmerwin commented on #1334
Hi @mitani-kun we're going through a major database upgrade currently and the site should be back up and running soon.

Apologies for the extended downtime!

[2019-08-13 03:18] nickmerwin commented on #1333
Hi @majorgilles and @JetUni we're going through a major database upgrade currently and the site should be back up and running soon.

Apologies for the extended downtime!

[2019-08-13 09:20] aantron opened #1335 "Update OCaml integration instructions"
The instructions on https://docs.coveralls.io/ocaml are out of date: the [ocveralls](https://github.com/sagotch/ocveralls) tool mentioned there has been superseded by direct support in [Bisect_ppx](https://github.com/aantron/bisect_ppx), the tool on which ocveralls is based.

The new instructions can be found here: https://github.com/aantron/bisect_ppx/blob/master/doc/advanced.md#Coveralls.

See h

[2019-08-13 15:50] dafreels commented on #1333
Any ETA on when the site may be back up?

[2019-08-13 17:36] nickmerwin commented on #1333
@dafreels we've been monitoring progress closely and it's in currently in a phase where we can't see exact numbers but based off past performance it's likely going to be a few more hours unfortunately.

[2019-08-13 21:11] FrancescoBorzi commented on #691
https://status.coveralls.io/

[2019-08-14 07:32] jbunce opened #1336 "Ajax query returned non 200 HTTP response codes"
Opening https://coveralls.io/github/omisego/elixir-omg gives the notification:

[code]

From the Javascript console:

<img width="555" alt="Screen Shot 2019-08-14 at 14 28 29" src="https://user-images.githubusercontent.com/25642194/63002502-400ab880-bea0-11e9-98e1-9464db29f809.png">

[2019-08-14 15:46] nickmerwin commented on #1336
Hi @jbunce this is operational now, thanks.

[2019-08-14 15:46] #1336 closed

[2019-08-16 13:48] mikekarhoo opened #1337 "Cannot configure settings if I wasn't the one who enabled it"
I saw this issue here as well https://github.com/lemurheavy/coveralls-public/issues/1163 and it doesn't seem like there was a resolution for it, but that was last year in July.
Basically we're having an issue whereby the person who enabled the project is the person who can edit the settings and view the token. Anyone else do not have this functionality. And unfortunately we're not in contact with

[2019-08-16 17:33] #1333 closed

[2019-08-17 15:20] aureplop opened #1338 "Parallel build with Travis not grouped and never closed"
## Description

Since the 15th July 2019, only coverage of lines is visible on coveralls WebUI for a private project which uses parallel jobs on Travis. There is no longer summary for a file, group of files, job or build (what I call "closed" report).

Also, each coveralls job URL (see output below) links to a unique job per build kind of report, instead of a build report that is composed by multi

[2019-08-19 13:28] martycook opened #1339 "Unable to delete repo"
I've tried to delete several old repo's and each time I get redirected to an error page. Not sure what else I can do.

[2019-08-20 20:39] nickmerwin commented on #1331
Hi @DenisPalnitsky, your curl command should use the `repo_token` query parameter like so:

[code]

We'll add more examples like this to our docs now.

Thanks.

[2019-08-20 20:39] #1331 closed

[2019-08-21 20:37] rogersachan commented on #1248
this issue should probably be closed

[2019-08-22 16:57] mathstuf commented on #1248
If there's another issue to reconcile the internal dissonance here:

and:

sure, closing this one seems fine.

[2019-08-22 19:52] davidmurdoch commented on #1339
Same thing is happening for me. If I try to just disable coveralls for the repo on the "Add Repos" page I can see there is a "{"status":500,"error":"Internal Server Error"}" response to the DELETE command.

For me though, I don't actually want to delete coveralls, but coveralls won't update github statuses, even though coveralls will leave a comment (sometimes), so I have really have no choice but

[2019-08-23 08:15] DenisPalnitsky commented on #1331
This does not work either

[2019-08-23 13:28] tobilen opened #1340 "Question: Permissions"
Hey there,

I just wanted to try out coveralls for one of our organisations repositories and was asked for a whole lot of permissions:

Repositories
Public and private
This application will be able to read and write all public and private repository data. This includes the following:
Code
Issues
Pull requests
Wikis
Settings
Webhooks and services
Deploy keys
Collaboration invites

Now I’ve read the

[2019-08-24 16:52] danadaldos opened #1341 "Parallel builds from CircleCI don't aggregate correctly"
### Context:
As I understand it, from looking at documentation and replies to other issues, Coveralls.io has three requirements in order to correctly record and aggregate parallel builds (please correct me if I'm wrong):

1) JSON data for submitted jobs needs to have the `parallel: true` set either via the ENV var `COVERALLS_PARALLEL=true` or `mix coveralls.circle --parallel `(they accomplish the

[2019-08-26 14:15] yihyang opened #1342 "Unable to see Coverage Result"
Hi there,

We have recently sign up for coveralls.io pro through the website (instead of going through Github Market) however we were not able to see the coverall result on the website and also the badge always show 'unknown'.

On our travis-ci we were able to submit the coverage report through `php-coveralls` however the result are not showing up on coveralls.io website.

Looking forward to your

[2019-08-27 09:22] svenedik opened #1343 "We can't see coverage percent"
Hi. I've mailed you several times, but I haven't received a reply, so I opened issue.
We are using coveralls for a few private repositories. But we can't see coverage percent for one project. What is the reason for this? [#1128](https://github.com/lemurheavy/coveralls-public/issues/1128) can it be related to?

I send screenshots in an attachment. Good works...

![image](https://user-images.githubu

[2019-08-27 09:45] svenedik commented on #1343
Although there are 35 jobs. File, class reports and built branches do not appear.

![image](https://user-images.githubusercontent.com/38247600/63760578-43526b00-c8c8-11e9-8761-87f74e0180f5.png)

[2019-08-27 12:38] mP1 opened #1344 "Renamed github project, loses "history" in coveralls project view."
I recently renamed a github project about a week ago from

https://github.com/mP1/walkingkooka-squares
to:
https://github.com/mP1/walkingkooka-spreadsheet

Travis has picked up the project under its new name and thats working as expected, so thats good.

However the renamed project now shows up twice in my coveralls repos view, the old name remains with all its builds, and the new project also app

[2019-08-27 12:43] DenisPalnitsky opened #1345 "coveralls.io/builds/<sha>.json?repo_token=<token> does not work"
I have a private repo and try to get coverage for a recent commit hash using
`curl "https://coveralls.io/builds/<sha>.json?repo_token=<token>"`
using newly generated token but I'm getting "Access Denied"

[2019-08-28 05:44] bedantaguru commented on #971
Not working

[2019-08-28 05:45] bedantaguru commented on #971
Not working for me..

[2019-08-28 15:07] yrodiere commented on #1342
This is happening to me too for a Java project.

What is strange is that it used to work in my case... I tried deleting the project from Coverall.io and re-creating it, but still the same issue.

See for example: https://coveralls.io/jobs/52557543
... which was sent successfully as mentioned in these logs: https://ci.hibernate.org/view/Search/job/hibernate-search/job/master/402/execution/node/43/l

[2019-08-29 09:04] yihyang commented on #1342
Hi @yrodiere seems like we are not alone. I think https://github.com/lemurheavy/coveralls-public/issues/1342 is also facing the same issue. Is there any other channel that we can reach out to coveralls team to support for the issue?

[2019-08-29 09:06] yihyang commented on #1343
Hi @svenedik I'm also facing similar issue with you https://github.com/lemurheavy/coveralls-public/issues/1342 . Is there any other channel that we can reach out to coveralls team to support for the issue?

I have tried sending email to `support@coveralls.io` and they have yet to reply to me

[2019-08-29 09:38] yrodiere commented on #1342
Hi. I sent an email to the support; wait and see :)

[2019-09-02 01:12] yihyang commented on #1342
Hi @yrodiere it seems to work for me now, what about you?

[2019-09-02 01:14] yihyang commented on #1343
Hi @svenedik it seems to be working for me now, is it working for you now?

[2019-09-02 06:10] yrodiere commented on #1342
Yep, looks like it was fixed :)

[2019-09-02 08:15] svenedik commented on #1343
@yihyang hi, yes i check after your info. Working now for me. Thanks for information man. :)

[2019-09-02 08:32] yihyang commented on #1343
Cheers mate!

[2019-09-02 08:32] yihyang commented on #1342
Glad to hear that, cheers!

[2019-09-02 08:32] #1342 closed

[2019-09-03 06:06] icemac opened #1346 "All files and branches covered but coverage below 100%"
In the RestrictedPython project the run details the coverage looks like this (see [example](https://coveralls.io/builds/25484953)):

* 359 of 363 branches covered (98.9%)
* 2700 of 2706 relevant lines covered (99.78%)

But when looking through the coverage of the files, each file has neither lines nor branches missing from coverage, so I am unable to find those lines and branches which are not cov

[2019-09-03 17:10] monkbroc opened #1347 "Check not showing on GH PRs"
Similar to #1254 the coverage/coveralls checks do not show up on particle-iot/billing-api and particle-iot/console (both private repos)

@nickmerwin could you please assign them to me and retrigger the build statuses?

[2019-09-04 05:49] donnie-jp commented on #1329
I've been experiencing this problem too.

My coveralls page shows 0% coverage for a Swift project that is generating coverage using xcov and running CI on travis.

https://coveralls.io/github/rakutentech/ios-remote-config
https://coveralls.io/builds/25516715
https://travis-ci.com/rakutentech/ios-remote-config/builds/125836479#L2025 (shows real 90% coverage)

[2019-09-04 05:51] donnie-jp commented on #1329
I plan to try https://github.com/nakiostudio/danger-xcov to skip coverage backends entirely and report directly on the PR.

[2019-09-04 08:29] jackjpark commented on #1329
@donnie-jp  i tried that but the danger integration is different and doesnt send to coveralls, its just for code review it seems

[2019-09-05 14:10] ellisio opened #1348 "Bot not posting comments on private repo PRs."
Hey folks,

I sent an email to support on 2019-08-23, and have yet to hear anything. So I'll post it here, perhaps the community has an idea.

Cheers

[2019-09-05 14:38] c-bik commented on #1130
About an year later, same issue!

[2019-09-05 18:56] monkbroc commented on #1347
This was resolved by Coveralls support.

[2019-09-05 18:56] #1347 closed

[2019-09-07 19:25] teaglebuilt commented on #973
same problem here

[2019-09-09 07:39] ashishbedicn commented on #1345
Not working for me either.

[2019-09-09 11:45] ashishbedicn commented on #1331
Can we re-open this issue pelase. The suggested method does not seem to work.

[2019-09-10 00:15] jamesrom commented on #94
I don't know if this is documented. But if you put .json on the end of most URLs (at least before they query string) it seems to give you stuff you'd expect. Not sure if this is helpful in your case, but useful for others looking to export data.

[2019-09-10 18:34] PaulRBerg commented on #886
Is there a way to set the "git repo sub directory" using a config file?

[2019-09-11 04:48] jbrownsc opened #1349 "Access Denied page when trying to view build, after sign in."
Description: User sees Access Denied page when trying to view build, after sign in.

Steps to reproduce
1) User goes to Coveralls.io build link
2) User gets Access Denied page
3) User signs in via Github
4) User still gets Access Denied page (refresh doesn't help)

Expected Behavior
1) User goes to Coveralls.io build link
2) User gets Access Denied page
3) User signs in via Github
4) User can see

[2019-09-11 11:03] hcwong opened #1350 "Coveralls not receiving Github Status API"
Hello,
I have a private repo with coveralls installed. I've enabled Status events for the repository's webhooks and also enabled the Status API on option on coverall's settings. However, I am not getting anything from Github when coveralls is done checking the PR. The coveralls status checks on PRs pass though.

Thanks!

[2019-09-13 11:52] svenedik commented on #1343
hi @yihyang  i hope u are feel good today. I think the trouble is happening again. how about you ?

[2019-09-13 15:55] StevenZuber opened #1351 "Coveralls is non-responsive to a private repo"
We're using CircleCI 2.0 for our Python 2.7 app and I've added the token from Coveralls to our CircleCI environment variables. According to the steps in the documentation, this should be all that's required to generate coverage reports. I've been able to generate reports by running all of the tests locally and running `COVERALLS_REPO_TOKEN={token} coveralls`, and have a similar working command in

[2019-09-13 17:05] yihyang commented on #1343
Hi @svenedik ! Likewise, hope that you are feeling good too.
I just checked it seems my last build was at around `13 Sep 2019 08:52AM UTC` and coveralls doesn't seems to send reply back to my team's PR since then. What about your side?

[2019-09-13 18:27] ellisio commented on #1348
Is there any public support for this product? No one is responding to emails, or this GitHub community.

[2019-09-14 05:58] svenedik commented on #1343
Hello again, @yihyang.
Builds are coming but, sometimes doesn't show coverage percent and building content (classes), after than September 11 😞

![image](https://user-images.githubusercontent.com/38247600/64904084-2346e800-d6cd-11e9-84e6-5bfee9b0879f.png)
![image](https://user-images.githubusercontent.com/38247600/64904089-3ce82f80-d6cd-11e9-8163-fd7c2a0d0a12.png)

[2019-09-14 21:10] Hongbo-Miao opened #1352 "Coveralls is not listed in the GitHub check list"
For example, for this [no. 193 pull request](https://github.com/Hongbo-Miao/hongbomiao.com/pull/193), Coveralls is not listed in the GitHub check list.
The corresponding Coveralls build is at https://coveralls.io/builds/25712992

[2019-09-15 20:28] nickmerwin commented on #1350
Hi @hcwong could you please email us at support@coveralls.io with the name of the private repo? We'll follow up there, thanks.

[2019-09-15 20:28] #1350 closed

[2019-09-15 20:55] nickmerwin commented on #1348
Hi @ellisio sorry for the delayed response. I checked that PR #415 and the comment was not added because the base build on master was not present on Coveralls: `e23e2c`.

Comments are only posted when we have the base build present in order to calculate the coverage delta.

It may be that you have your CI configured in a way to disable builds on master.

[2019-09-15 20:55] #1348 closed

[2019-09-15 21:11] nickmerwin commented on #1352
Hi @Hongbo-Miao I see that the Coveralls status has posted. Can you confirm?

[2019-09-15 21:11] #1352 closed

[2019-09-15 21:42] nickmerwin commented on #1343
Hi @svenedik and @yihyang we recently fixed an infrastructure issue that was preventing some private coverage jobs from completing. Your builds missing coverage are reprocessing now.

Thank you.

[2019-09-15 21:42] #1343 closed

[2019-09-16 04:12] Hongbo-Miao commented on #1352
Yeah, my bot detected it, it works again now. Thanks!

[2019-09-16 06:16] yihyang commented on #1343
<img width="755" alt="Screenshot 2019-09-16 at 2 15 05 PM" src="https://user-images.githubusercontent.com/8537324/64937342-7b781880-d88c-11e9-99f4-8d61ebaca606.png">

@nickmerwin I'm seeing the above when I'm trying to view the build page and I think coveralls is still not functioning as it should be. Please check

[2019-09-16 07:12] svenedik commented on #1343
i checked it. This problem solved for me. Thanks all.

[2019-09-16 15:59] nickmerwin commented on #1343
@yihyang could you link me to that page please?

[2019-09-16 19:53] loechel commented on #1346
after looking a bit more into that issue, I have found that the Code of RestrictedPython do have 6 Statements: `# pragma: no cover` and one `# pragma: no branch`

So those lines are not taken into account by the coverage analysis itself, but it seams that coveralls itself do count those lines internally.

[2019-09-17 01:00] yihyang commented on #1343
Hi @nickmerwin just checked, seems to be working now. Thanks

[2019-09-17 09:34] ethanbray commented on #1348
@nickmerwin can I recommend including that information in the documentation if it isn't already? I didn't see it anywhere.

[2019-09-18 12:16] alerque opened #1353 "Support Github Actions CI"
Github has added support for a built in CI system called [Actions](https://github.com/features/actions). I just setup the reporter for Lua [`luacov-coveralls`](https://github.com/moteus/luacov-coveralls/pull/19) to support it. While doing so I spent an inordinate amount of time debugging the fact that `github` was disallowed as a service name by the Coveralls API. I ended up calling the service `a

[2019-09-19 06:54] ljharb opened #1354 "coverage status not set; one job says "no data""
See https://github.com/airbnb/enzyme/pull/2221

The coverage status isn't being set - although on prior pushes, it was successfully being set. I think I may have caused a failing job to notify coveralls, and then in successive pushes, filtered out that job - but now coveralls thinks there's no data and refuses to finish the coverage job?

[2019-09-20 09:51] Smolevich commented on #1353
I try use coveralls for [Golang](https://github.com/mattn/goveralls/) and after many failed attempts, goveralls works, i setted environment variables `COVERALLS_TOKEN` and `GIT_BRANCH`

[2019-09-20 13:23] MarcusDEFGH commented on #1149
I'm still experiencing this issue

[2019-09-20 13:36] nickmerwin commented on #1149
@MarcusDEFGH could you link me to the repo, please?

[2019-09-20 14:30] MarcusDEFGH commented on #1149
@nickmerwin it's a private repo from the company I work on, I don't know if it may help you but here it is https://github.com/intelivix/aldra/

[2019-09-21 01:35] ljharb commented on #1354
cc @nickmerwin

[2019-09-23 06:45] nickmerwin commented on #1354
Hi @ljharb, sorry about that, we had a notification outage that day -- it's been processed and updated now. Your next build on that repo will notify properly.

Thanks.

[2019-09-23 06:45] #1354 closed

[2019-09-23 06:48] ljharb commented on #1354
@nickmerwin thank you! I've rerun the build and will comment here after it's done.

[2019-09-23 06:54] nickmerwin commented on #1149
@MarcusDEFGH I see notifications for your latest build here have been posted successfully:

https://coveralls.io/builds/25840584

Can you confirm?

[2019-09-23 06:57] nickmerwin commented on #1353
Hi @alerque, we have official support for Actions here:

https://github.com/marketplace/actions/coveralls-github-action

Using service name `github` is reserved for GitHub Actions -- Coveralls expects to receive a `github-token` parameter to use for updating the build status.

[2019-09-23 06:57] #1353 closed

[2019-09-23 07:56] ljharb commented on #1354
Looks great, thanks!

[2019-09-23 09:14] alerque commented on #1353
Thanks for the clarificatino @nickmerwin. Since the official app doesn't support Lua, or the output format generated by `luacov` I'm still going to need to setup `luacov-coveralls` for this. It's working now but only with our custom name. I'd like this to work in as **github** in combination with the official app (for projects with other languages.

What should the contents of `github-token` be?

[2019-09-23 13:16] MarcusDEFGH commented on #1149
@nickmerwin Yes, that is the repo.

I actually managed to fix it by re-running the travis build process.
The issue is probably related to the communication with github, since it was the only place where it wasn't being updated

[2019-09-23 23:25] supernintendo commented on #1313
Same here, private repo in our case.

[2019-09-25 19:42] mfittko opened #1355 "500 errors when filtering coverage result lists"
When trying to filter the results of our builds, we currently get 500 errors, so datatables cannot fetch the filtered data. For example when requesting following url: https://coveralls.io/builds/25925755/source_files.js?filter=all&sEcho=3&iColumns=10&sColumns=%2C%2C%2C%2C%2C%2C%2C%2C%2C&iDisplayStart=0&iDisplayLength=10&mDataProp_0=0&sSearch_0=&bRegex_0=false&bSearchable_0=true&bSortable_0=true&mD

[2019-09-26 23:26] DannyNemer opened #1356 "Waiting for `@coveralls` bot to accept invitation to join org"
We've been waiting for @coveralls to accept our invitation to join our private Github Organization as an `Outside Collaborator` so that it can post coverage reports to our pull requests. **For how long must we wait for @coveralls to accept our invitation?**

Thank you!

[2019-09-27 04:34] #1356 closed

[2019-09-27 10:01] mfittko commented on #547
Same errors occur again right now :(

[2019-09-27 10:32] notaphplover commented on #547
I'm having the same problem

[2019-09-27 10:35] mfittko commented on #547
this is a server problem, not a client problem. I'm using the yarn client, but I think that makes no difference. Hope this does not take days again to get fixed...

[2019-09-27 10:42] plantpurecode opened #1357 "Unable to sign up for Coveralls with Github!"
When trying to sign up for a Coveralls account via my Github account, I land on the 500 error page when returning from the OAuth permissions page on Github.

https://coveralls.io/authorize/github/callback?code=[code-redacted]&state=[state-redacted] is the page throwing the 500. (I've intentionally redacted the code and state parameters since this is a public forum.)

[2019-09-27 10:56] waterplea commented on #723
Starter happening for me today on 2 different projects. Also login with Github redirects to 500 error page.

[2019-09-27 12:31] pklaschka commented on #1357
I can confirm that I, too (since earlier today), land on a 500 page when trying to sign **in** with my GitHub account (a slightly different use case, of course, but it seems to be the same problem).

Some more details:
Accessed today at Fri, 27 Sep 2019 12:23:58 UTC from Germany, the request (`HTTP/2.0 GET` to the url mentioned by @plantpurecode) went to a remote address of `104.25.103.25:443` and

[2019-09-27 12:46] mstdokumaci opened #1358 "coveralls down (api is returning 500)"
[code]

7 hours and going, from [status page](https://status.coveralls.io/):
![graph](https://i.imgur.com/7l2TRTT.png)

[2019-09-27 13:41] cdimartino commented on #1062
Is there a way to get Coveralls to accept the collaboration invitation I have sent it?

[2019-09-27 14:23] majorgilles commented on #1358
Same issue, cannot post coverage data with python client

coveralls.exception.CoverallsException: Could not submit coverage: 500 Server Error: Internal Server Error for url: https://coveralls.io/api/v1/jobs

[2019-09-27 15:11] MuellerSeb commented on #1358
Same for here for [GSTools](https://github.com/GeoStat-Framework/GSTools).

[2019-09-27 15:18] rahulatscore commented on #1358
Same for Java and Kotlin Coverage from Circle CI.

HTTP/1.1 500 Internal Server Error
[message:Build processing error., error:true, url:]

[2019-09-27 15:35] Clayton7510 commented on #1358
Same issue with Maven. Looks like it just started happening this morning. :'(

[2019-09-27 15:38] andrewstec commented on #1358
Same issue. Spent time debugging this because no operational issues reported on the website:

![image](https://user-images.githubusercontent.com/7872295/65782305-3b255f80-e102-11e9-824a-b08de69140a1.png)

[2019-09-27 16:20] daviddelpuerto commented on #1358
Same for Node with coveralls, also trying to sign in with github returns 500 error but coverarlls status page states ALL SYSTEMS OPERATIONAL :/

[2019-09-27 16:54] vaneseltine commented on #1358
Some, using Python's coveralls client, whether local or via CircleCI. Going on eight hours now?

[2019-09-27 17:19] enahs commented on #547
time to switch to codecov

[2019-09-27 17:25] andrewstec commented on #1358
We had the same problem with the Node JS client. I think it's an API issue on their end.

[2019-09-27 17:37] ekampf commented on #1358
same here using Python.

[2019-09-27 17:38] vaneseltine commented on #1358
I got one through just now, but another crashed. Maybe it's being worked on.

[2019-09-27 17:47] jbrownsc commented on #1358
I don't believe anyone actually works at this company.

[2019-09-27 18:20] nickmerwin commented on #723
Hi @waterplea, sorry about that -- we had a Redis server outage earlier today and are back to normal now.

Thanks.

[2019-09-27 18:20] #723 closed

[2019-09-27 18:21] nickmerwin commented on #1358
Hi all, apologies for the outage -- we had a Redis server go down earlier today and are back to normal now.

Thanks.

[2019-09-27 18:21] #1358 closed

[2019-09-27 18:24] nickmerwin commented on #547
Hi all, apologies for the outage -- we had a Redis server go down earlier today and are back to normal now.

Thanks.

[2019-09-27 18:24] #547 closed

[2019-09-27 18:26] nickmerwin commented on #1357
Hi all, apologies for the outage -- we had a Redis server go down earlier today and are back to normal now.

Thanks.

[2019-09-27 18:26] #1357 closed

[2019-10-01 09:51] floatingpurr commented on #1065
Same problem here. Not related to the browser's cache but to the GitHub's cache. Solved [removing the image from Camo's cach](https://help.github.com/en/articles/about-anonymized-image-urls#removing-an-image-from-camos-cache), e.g.,
[code]

[2019-10-07 04:47] jvesely commented on #1338
I've faced similar issues. adding webhook notification to .travis.yml as described in [0] fixed the issue for me. The grouping is still unreliable but it works more often than not.

[0] https://docs.coveralls.io/parallel-build-webhook

[2019-10-08 09:21] peterbrittain opened #1359 "Source files contain many duplicates since Sep 2019"
When I look at my coverage numbers per file, I see 2 different styles:

- Since ~Sep 2019, I appear to get a duplicate for every version of Python that I run - e.g. https://coveralls.io/builds/25990862
- Prior to that all coverage data for each file was grouped into a single view - e.g. https://coveralls.io/builds/25066432

I also notice that the coverage history in my repo (https://coveralls.io/r

[2019-10-08 10:02] #81 closed

[2019-10-08 12:03] lucianopaz opened #1360 "Parallel build total files and line numbers wrong"
At [pymc3](https://github.com/pymc-devs/pymc3) we are using travis to run CI across multiple parallel jobs and coveralls to publish the coverage results. Coveralls seems to have changed how it calculates coverage and number of lines. We have two consecutive builds that didn't change much between each other but coverage dropped dramatically. These are the builds
1. https://coveralls.io/builds/25707

[2019-10-08 15:18] LeonardoFurtado opened #1361 "why coverage change is so high?"
I don't understand why the API returns such a high coverage change to me, given the previous coverage. Can someone explain to me why? (coverage_change =  60.9)

`

0 |  
-- | --
created_at | "2019-10-04T19:40:44Z"
url | null
commit_message | "Jacoco version updated"
branch | "master"
committer_name | "GitHub"
committer_email | "noreply@github.com"
commit_sha | "818766f0fec3634dba9324d1be95d6ea10c9

[2019-10-09 20:21] Ark-kun opened #1362 "Files are listed multiple times in the report file tree"
https://coveralls.io/builds/26215569

[2019-10-10 10:17] TimoRoth commented on #1362
We are having the exact same issue, ever since this build:
https://coveralls.io/builds/25946564

All our files are counted 8 times, blowing up our lines of code from ~9.5k to ~75k. It's pretty obvious that this is somehow related to parallel CI jobs, but our setup has worked fine before, and we are following all the documented steps for parallel jobs.

[2019-10-10 16:43] Nic30 opened #1363 "Generated file included in report, but still "Source Not Available""
Hello,

it seems to me that combination "files in repository" + "source contents in report json" does not work.

In my project I am using a generated source files,
https://coveralls.io/builds/25901601/source?filename=src/vhdlConvertor/vhdlParser/vhdlParser.cpp

Files are not in repository, however they are included in report.
https://travis-ci.org/Nic30/hdlConvertor/jobs/596193125
(At the end of l

[2019-10-11 16:24] Hongbo-Miao opened #1364 "Coveralls skipped a pull request"
Coveralls skipped this pull request https://github.com/Hongbo-Miao/hongbomiao.com/pull/265

And in newer pull request, for example, https://github.com/Hongbo-Miao/hongbomiao.com/pull/270, Coveralls worked again.

[2019-10-11 17:40] covejstewart opened #1365 "List view not sorting"
**Description**

The List view does not seem to be sorting on any parameter (Coverage/Lines/Relevent/...), and remains the same after selecting the sort ascending/descending buttons.

Private repos hosted on GitHub.

**Use Case:**
We Use the List View, with 100 Entries shown, and then sort by Coverage to determine targets for Unit Test Creation.

**Screen Shots**
SORT DESCENDING
![sort_1](https://

[2019-10-14 21:54] nhooyr opened #1366 "Allow disabling badge notification"
I'm using a custom badge for a different color but coveralls doesn't detect this and keeps prompting me to add a new one: https://coveralls.io/github/nhooyr/websocket

[2019-10-16 00:20] Hongbo-Miao commented on #1364
I rebased and this time it is not skipped. If it happens again, I will create a new issue. Thanks!

[2019-10-16 00:20] #1364 closed

[2019-10-16 13:16] MaxLap commented on #1359
I have the same problem. Instead of merging the results of multiple jobs, each of them seem to appear on its own. Which means that instead of having 100% coverage, I have less, because of the version-related code.
https://coveralls.io/builds/26348385

[2019-10-16 16:38] boolafish commented on #632
Might be same issue on our open source project: https://app.circleci.com/jobs/github/omisego/plasma-contracts/4631

[2019-10-17 17:39] djhoese commented on #1158
Thank you @WardLT! I thought it was weird that it was asking for the "Pro" application's permission. After googling for "coveralls github app" I got to the github marketplace, found the non-pro "Coveralls" app, and was able to grant access to my organization. Now my organization and org repositories show up in coveralls.

[2019-10-18 11:30] limonte opened #1367 "Error 500"
https://coveralls.io/builds/26395670/source?filename=dist/sweetalert2.js

Here's what I see:

![image](https://user-images.githubusercontent.com/6059356/67090798-b505b180-f1b3-11e9-91bd-69b9bced7644.png)

(I'm logged in with GitHub if that's relevant)

[2019-10-19 14:16] fogfish commented on #1089
Years are counting but issue still remains!

[2019-10-23 13:47] rlalik opened #1368 "No coverage info after Travis build but info exists after local build"
Travis-CI does not updates files coverage, however the same commands executed on my local machine updates the build and files info.

See https://coveralls.io/github/SiFi-CC/CmdLineArgs for details

Build 18 is by Travis-CI, build #2 is my local one.

[2019-10-24 15:33] rajaanova commented on #1130
i am also facing the same issue, same config/script works for one repo and for the other repo its not working, facing this issue for last 20 days or so.

[2019-10-24 16:00] rajaanova opened #1369 "coverage info not being reported back to github for few of the repository"
For few of the repository the coverage info is not getting returned to github. We see that the coverage being processed but its not being sent back.
One thing i noticed is the when the commiter is "web-flow" then coverage details is being returned.
Even the build number is proper.
But when the commiter is "Git hub" the coverage details is not being returned and build number is very high.
Dont know

[2019-10-25 07:23] alexmojaki commented on #1359
+1

[2019-10-25 09:21] alexmojaki commented on #1362
Based on https://docs.coveralls.io/parallel-build-webhook, `COVERALLS_PARALLEL=true` is necessary, but also

[code]

This is no longer enough:

[code]

See the fix applied here: https://github.com/gristlabs/asttokens/pull/44

[2019-10-25 09:24] alexmojaki commented on #1368
Just a guess from my recent experience, try adding:

[code]

[2019-10-25 09:26] alexmojaki commented on #1360
See https://github.com/gristlabs/asttokens/pull/44

[2019-10-25 09:26] alexmojaki commented on #1359
See https://github.com/gristlabs/asttokens/pull/44

[2019-10-25 09:38] peterbrittain commented on #1359
Thanks @alexmojaki .  If anyone else has the problem, I see it is documented in https://docs.coveralls.io/parallel-build-webhook

Would have been nice to be notified of the change...

[2019-10-25 09:41] peterbrittain commented on #1359
Works like a charm!  Many thanks.

[2019-10-25 09:41] #1359 closed

[2019-10-25 11:16] rajaanova commented on #1313
Was this resolved ? Any workaround for this.

[2019-10-25 12:23] mar-schmidt commented on #1167
Having the same issue as described above

[2019-10-26 21:53] #1020 closed

[2019-10-28 09:17] fllprbt commented on #632
I 've resynced
I 've added empty .coveralls.yml
I 've deleted repo and revoked github permissions

Nothing has worked yet... --verbose output:
[code]

There is another [debug] entry with info from the lcov.info but dunno if it's of any use.

[2019-10-29 07:51] rajaanova commented on #1149
@nickmerwin i see some of the repos are getting the coveralls coverage status but for few i am not getting at all.
Difference i see between repo which is working and repo for which this thing is not working is When build number(serial continuous number) is proper and comitted by "GIT-FLOW" the status can be seen on github ui. But for repos which doesnt show status are having commited by "GITHUB" a

[2019-10-29 09:48] AlCalzone opened #1370 "Github Actions: PR comment with coverage not being updated"
Ever since I switched to Github Actions I only get one comment in PRs with the first coverage percentage, but that comment is not updated for the following commits.

https://github.com/AlCalzone/node-zwave-js/pull/369
![grafik](https://user-images.githubusercontent.com/17641229/67756029-8ef4d280-fa39-11e9-97d9-b0382bb06681.png)
This is what the coveralls website has to say:
https://coveralls.io/gi

[2019-10-29 20:15] AlCalzone commented on #1370
Here's another example

![grafik](https://user-images.githubusercontent.com/17641229/67805385-3c470500-fa91-11e9-9125-f2f046cac503.png)

[2019-10-30 17:37] merlinnot commented on #1370
In my case comments are not being added at all. Did you find any solution to this problem?

[2019-10-30 17:54] merlinnot opened #1371 "GitHub Actions: PR comments are not being added"
Hi! I just bought a subscription, but unfortunately PR comments are not added to my pull requests at all. I double checked the configuration, but it seems fine. I also tried multiple options (compact/detailed view etc.). Here's a screenshot:

![Screen Shot 2019-10-30 at 18 53 44](https://user-images.githubusercontent.com/10390061/67884744-a1106700-fb46-11e9-941a-aefc773af98b.png)

May I kindly ask

[2019-10-30 17:55] merlinnot commented on #1370
Thanks! As it apparently is a different bug, I opened a separate issue.

[2019-10-31 07:17] pitschr commented on #1365
I can confirm. I have this issue too. It seems only middle of table is sorted - rest may remain randomized. At least I do not see a logical sort. It seems all areas are affected.

The "tree" also shows all(?) files in the root level. I don't remember that I had this issue in past. So I guess a PullRequest from last few months broke the logic/layout.

As it is always good to have an example, here o

[2019-10-31 10:54] rajaanova commented on #1149
Below is the reason for coverall status not being shown.

When a github user leaves the organization (loses access to repositories), if they initially added the repos to Coveralls, there becomes a failure to exchange the Coveralls status between Coveralls and Github.

How we fixed the issue :

We recreated the coverall profile for corresponding repositories. The only problem is that we loose all o

[2019-10-31 10:55] #1369 closed

[2019-10-31 10:56] rajaanova commented on #1369
The solution was mentioned in https://github.com/lemurheavy/coveralls-public/issues/1149

[2019-10-31 20:34] gemal opened #1372 "Add support for https://scrutinizer-ci.com"
would be really really nice

[2019-11-04 23:09] wincodes commented on #971
worked.. thanks

[2019-11-05 00:36] MattRiddell commented on #1365
Yeah I've had this since I started using it (recently) and this problem has led to me searching elsewhere - all the sort things on my private repos are messed up

[2019-11-05 10:22] aureplop commented on #1338
Hi @jvesely, thanks for the proposition.
Sadly, we are already using the webhook mechanism to "merge" the different job results of a build. It was working before the date I gave in my initial message.

[2019-11-05 20:27] paskal opened #1373 "Goveralls documentation page is out of date"
Hello team,

[this](https://docs.coveralls.io/go) documentation page seems to be out-of-date, especially this particular paragraph:

It supports TravisCI and I believe it's better to remove `INSTRUCTIONS FOR USING TRAVIS` section and instead point everyone to project's readme. Also, I suggest removing reference to TravisCI and don't add any other references, because otherwise we'll run into the sa

[2019-11-06 11:10] cdeil commented on #1355
I have the same problem at https://coveralls.io/github/gammapy/gammapy

Trying to search gives an error

![Screenshot 2019-11-06 at 12 07 22](https://user-images.githubusercontent.com/852409/68293366-17085700-008e-11ea-8a2b-190babea5b3d.png)

Is `coveralls.io` still being maintained?
If no, could you please add a note somewhere?
Any chance to get this issue fixed?

I think there's been very little

[2019-11-06 17:34] mshuaibii opened #1374 "Source Not Available"
I'm getting my coverage report and coverage breakdown per file - but if I want to explore the line by line nature of each file I get a "Source Not Available" error. For example - https://coveralls.io/builds/26787644/source?filename=home/travis/virtualenv/python3.6.7/lib/python3.6/site-packages/amptorch/utils.py. I think it's a simple issue but I'm not sure how to go about it.

Thanks!

[2019-11-07 08:33] svenedik commented on #1343
@nickmerwin hi we don't see coverage percent and folder statistics today? what's wrong according to you.
@yihyang what about you?
![image](https://user-images.githubusercontent.com/38247600/68372667-5f894880-0152-11ea-86a3-118a03e69d0d.png)

[2019-11-08 02:37] #1294 closed

[2019-11-09 11:37] paulfalgout commented on #1191
I do not think the build number expected by the webhook is the same as `CIRCLE_BUILD_ID`.  I do not think coveralls will work on circleci parallel until this PR gets in: https://github.com/nickmerwin/node-coveralls/pull/205

[2019-11-10 21:33] NullVoxPopuli commented on #723
I've been getting 500 errors for the past couple hours. Did Redis barf again?

[2019-11-13 11:25] ped7g commented on #1365
I have this issue on open source project too. It was working correctly for many builds (and still **IS** working for those old builds in history), but then it stopped working and I think every following build has all the sorting options dysfunctional.

The last working build:
https://coveralls.io/builds/25770374 (build number "723" - count of commits in git repo because that's the only workaround

[2019-11-13 17:00] Zlender commented on #1362
We are seeing similar issue where Tree and file reports shows the same file repeated 8 times even though we don't use parallel runners. We use phpcov to merge 4 reports before we send one clover.xml file to coveralls.io

[2019-11-14 05:36] #816 closed

[2019-11-14 19:43] MattRiddell commented on #1365
There really hasn't been a lot of activity here since I think September 29th when @nickmerwin closed an issue.  I'm not sure anyone monitors these issues.  The last few that were closed were closed by the reporters.

[2019-11-15 14:44] mianasbat opened #1375 "The coverage and pipeline badges are not appearing on PyPI"
We have few libraries on PyPI server. Their code for general setup and interface is the same. In a couple of repos [scikit-surgercore](https://pypi.org/project/scikit-surgerycore/) and [scikit-surgeryutils](https://pypi.org/project/scikit-surgeryutils/) the badges of pipeline and coverage are not visible whereas in the other repo [scikit-surgerydavinci](https://pypi.org/project/scikit-surgerydavin

[2019-11-15 22:53] orion3000 commented on #1201
I am having the same issue.  The data is getting reported but the badge is not showing any update and the branch master page is blank.

https://coveralls.io/github/orion3000/albert
https://coveralls.io/github/orion3000/albert?branch=master

[2019-11-17 00:24] tobyink commented on #1365
I get the same thing. I imagine it's a 2 line fix.

[2019-11-18 14:01] piyushpyoaknorth commented on #1268
Hi,
I am seeing this error too. It worked a couple of time, and then started failing with this error.

I tried

1) Re-synching the repositories
2) Added the .coverall.yml file

But still does not seem to resolve this issue.

This happens only when I give the path to base_directory, while using the python-coveralls library

[2019-11-18 14:05] alexxed commented on #1150
Try setting `COVERALLS_SERVICE_NAME=jenkins`.

[2019-11-18 14:06] piyushpyoaknorth opened #1376 "Couldn't find a repository matching this job"
Hi,

[code]

I am seeing this error.

It worked a couple of times, few hours ago, and then started failing with this error.

I tried

1) Re-synching the repositories, which seems to fail
2) Added the .coverall.yml file
But still does not seem to resolve this issue.

This happens only when I give the path to `--base_dir`, while using the python-coveralls library

[2019-11-20 12:40] LeMorrow opened #1377 "C#: Coveralls says unreachable lines of code are missed/uncovered"
Example:
[![screenshot of error](https://user-images.githubusercontent.com/35617441/69239399-65434d00-0b9a-11ea-9e95-d7fb07c0f2e9.png)](https://coveralls.io/builds/27112359/source?filename=src%2FApod%2FLogic%2FNet%2FHttpRequester.cs#L33)
[Link to this line](https://coveralls.io/builds/27112359/source?filename=src%2FApod%2FLogic%2FNet%2FHttpRequester.cs#L33)
[Link to repo](https://github.com/LeMorr

[2019-11-20 14:35] LeMorrow commented on #1377
You can ignore this missed line, turns out I wasn't awaiting the method in my tests which lead to the method returning before awaiting the result, which I suppose should show that I didn't complete the method. Thanks, test coverage!

[2019-11-20 14:35] #1377 closed

[2019-11-22 00:33] nhooyr commented on #1366
Going to close as it has been a while and I'm not sure if this is relevant anymore.

[2019-11-22 00:33] #1366 closed

[2019-11-23 23:42] mijailr commented on #1376
I have the same problem, using this payload for example:

[code]

[2019-11-24 05:40] mijailr commented on #1376
Solved, its not a bug, you just have to make sure the env has `GITHUB_TOKEN = ${{ secrets.GITHUB_TOKEN }}`

[2019-11-25 22:05] #882 closed

[2019-11-27 05:01] Skillnter opened #1378 "Issue setting configurations with travis"
I already have a Travis CI environment working fine. But there is no stepwise guide or docs available for this coveralls. For nodejs there are multiple plugins linked to the page. But then again plugins only giving the configurations only not the setting of environments or upgrading. This is getting annoying since I haven't worked on Karma or blanketjs. And the steps provided are broken because bo

[2019-11-27 13:07] naman1303 opened #1379 "coverage unknown"
The badge for my git repository "naman1303/find-quote" is shown as "unknown", despite of availability of .coveralls.yml (with correct token) and spec_helper.rb.

Is there anything I am missing?

[2019-11-27 15:52] eyal0 commented on #1371
I am also seeing this.

[2019-11-27 16:05] eyal0 opened #1380 "Coveralls chrome extension is loading the wrong URL"
The coveralls chrome extension is loading the wrong URL

It is currently loading:

https://coveralls.io/builds/527a3e6aba9d7ad6f30d3a32953d36ce06b0cf97.json?paths=outline_bridges.cpp

But it should be loading:

https://coveralls.io/builds/27282741/source.json?filename=outline_bridges.cpp

[2019-11-28 00:38] zdjohn opened #1381 "unable to populate branch name via CI"
Hi, I am currently trying your service in trail.

for CI, we are using buildkite, and i have noticed we are unable to push branch information to coveralls when tests are run on CI. (uploading is successful though)

[code]
from buildkite console, I can see, the values are correctly populated. and since upload was successful this means `COVERALLS_REPO_TOKEN` had been correctly picked up.

![image](h

[2019-11-29 00:51] zdjohn commented on #1381
I am going to answer the solution myself.

the short answer, what language lib you use matters.
in my case, I am using node and my CI is buildkite. after digging into the source code. I realised the coveralls-node is handling the environment variable slightly different from the doc.
https://github.com/nickmerwin/node-coveralls/blob/master/lib/getOptions.js#L107

after updating my environment varia

[2019-11-29 00:51] #1381 closed

[2019-11-30 04:34] eyal0 opened #1382 "Not getting coveralls status"
I stopped getting emails and github comments on my repo pcb2gcode/pcb2gcode .  It worked just fine until about 4 days ago.  I have recently switched to Github CI so maybe that is related?

[2019-11-30 18:36] Jericho opened #1383 "Query API"
Does coveralls API allow me to query some statistics (some examples off the top of my head: code coverage percentage in last build, average coverage in last X builds, etc.)?

Reading https://coveralls.io/api/docs leads me to believe it's not possible but figured I would ask.

[2019-12-01 18:53] ArturKlauser opened #1384 "pull request branch link on coveralls pages is wrong"
Every _branch_ link for pull requests points to the wrong github location **\<original-repo\>**/\<fork-branch\> rather than **\<forked-repo\>**/\<fork-branch\>.

Here \<original-repo\> means the repo that was forked from, which is the one tracked by coveralls, and which is the destination of the pull request. \<forked-repo\> means the repo that was forked into, i.e. the source repo of the pull req

[2019-12-03 07:15] tamccall commented on #943
also experiencing this https://coveralls.io/builds/27220129

[2019-12-03 14:37] cideM opened #1385 "Waiting for response from coveralls bot to comment permissions"
See title the bot has Read permissions request sent

[2019-12-04 03:48] eyal0 commented on #1369
@rajaanova Did this fix the problem for you?  I am also seeing this problem.  My coverage is showing up correctly on coveralls.io website but I am not getting any updates in my github PRs.

What did you need to do in order to fix the problem?

[2019-12-04 03:53] eyal0 commented on #1345
Related #1380

This is breaking the coveralls chrome extension.

[2019-12-04 06:11] rajaanova commented on #1369
@eyal0 For me the issue was fixed by recreating the coverall profile for the given repo.

[2019-12-04 07:10] eyal0 commented on #1369
@rajaanova I tried to remove my repo from coveralls and add it again but it didn't help.  I can see my update in coveralls but I don't see anything written to my PRs.

[2019-12-04 07:15] eyal0 commented on #1369
My problems started, I think, when I switched to github actions.  Previously, I used TravisCI.

[2019-12-04 08:49] eyal0 commented on #1369
Seems like the problem happens when the PR is from a different repo than the target.  For example, I am trying to merge from eyal0/branch1 to pcb2gcode/master .  If I instead push to pcb2gcode/branch1 and then try to merge from branch1 to master, both in the pcb2gcode repo, then I get the status updates.

Maybe the github token that I get in one case versus the other has different permissions and

[2019-12-04 17:23] eyal0 commented on #1382
Okay, I figured it out.  It's because the pull request is not coming from the same repo as the target for the merge.  The token provided to the pull request workflow doesn't have permissions to modify the status of the PR nor add comments.  So it isn't doing those.

If I make the PR between two branches on the same repo (no fork) then then it works fine.

Maybe this could be fixed by adding a secr

[2019-12-04 17:24] eyal0 commented on #1382
If coveralls were willing to go back to the old behavior of using the Coveralls OAuth, like it does with TravisCI, that would work.

[2019-12-05 17:16] gerritholl commented on #1201
Did anyone manage to resolve this problem or find a workaround?  I have the same problem.

[2019-12-05 17:48] gerritholl commented on #1201
I have resolved this problem.  In my case, I forgot to install coveralls inside Travis CI.  After adding an installation of coveralls to `.travis.yml`, it worked correctly.

[2019-12-05 18:00] nomadster commented on #1201
Can you be more specific?

On Thu, 5 Dec 2019 at 18:48, Gerrit Holl <notifications@github.com> wrote:

[2019-12-05 18:42] cbj4074 commented on #1201
I'm curious what, exactly, you changed in `.travis.yaml`, too, @gerritholl .

In my case, we require Coveralls in

https://github.com/indiehd/web-api/blob/master/composer.json#L27

and install it in

https://github.com/indiehd/web-api/blob/master/.travis.yml#L20

Composer should install `require-dev` dependencies by default (that is, there is no need to specify `composer install --dev`, explicitly

[2019-12-05 21:19] gerritholl commented on #1201
For me, this commit solved my problem: https://github.com/gerritholl/fcitools/commit/57c736bd63292bf0e02a7ec13635cf51a6e46cdc

I don't know why I had previously been successful with getting coveralls for another branch.

[2019-12-05 22:43] cbj4074 commented on #1201
@dss-osc I notice that coverage information for your `master` branch is now being reported at https://coveralls.io/github/disneystreaming/pg2k4j?branch=master (and hence, the badge in your OP shows `90%`).

Did you change anything in your configuration to fix the issue?!

[2019-12-06 08:31] xieofxie opened #1386 "how are relevant lines counted?"
I have seen different relevant lines from 20k to 30k for commits in same repo. Why do they change and what's the meaning of relevant lines? Thanks

[2019-12-06 18:38] abhijeetbhagat opened #1387 "Github Actions: coverage is submitted to the server but process exits with exit code 1"
I am trying to run tests and gather coverage using pytest and coveralls for my open source python project .
I can see that the coverage is submitted to the server but in the logs i see -

[code]
This is my workflow file - https://github.com/abhijeetbhagat/mp4box/blob/master/.github/workflows/build.yml

Not sure what is happening.

[2019-12-07 02:40] #1387 closed

[2019-12-07 02:40] abhijeetbhagat commented on #1387
Closing - moved to codecov

[2019-12-08 19:36] #1016 closed

[2019-12-11 14:55] gzoller opened #1388 "Coveralls + Scala doesn't seem to work with GitHub Actions"
I tried using the Coveralls Github Action and received an error that it couldn't find the lcov.info file.

I've been using Coveralls with scoverage (via sbt plugin) for quite a while with Travis builds and wanted to see how Github Actions would work.  Generating my coverage report doesn't appear to create a lcov.info file.

Is there a known pattern for getting code coverage for Scala into Coverall

[2019-12-11 23:01] dsaintpierre commented on #1078
+1

[2019-12-15 13:15] Jaman-dedy commented on #1065
Did not work for me, still facing the same issue

[2019-12-18 02:07] sarah-sampan opened #1389 "Cannot run goveralls in circleci"
Cannot run:
goveralls -coverprofile=/tmp/test.coverprofile -service=floormap-svc -repotoken=$COVERALLS_REPO_TOKEN

Error encountered:
01:55:01 gitinfo.go:56: exit status 129: error: unknown option `format'
usage: git branch [<options>] [-r | -a] [--merged | --no-merged]
   or: git branch [<options>] [-l] [-f] <branch-name> [<start-point>]
   or: git branch [<options>] [-r] (-d | -D) <branch-name>.

[2019-12-18 13:04] nomadster commented on #1201
Am still getting coverage:unknown : https://coveralls.io/github/SpasmodicSoftware/AuthenticatedLadder what did you do to fix this?
Thanks

[2019-12-19 10:58] YannickFricke commented on #1174
@joroshiba Any updates on this? Would love to see it available! :)

[2019-12-19 17:09] cbj4074 commented on #1201
Okay, I solved this, for my particular use-case, anyway.

Ultimately, the problem is that I had disabled the `Build pushed branches` option for the repository in question within the Travis CI interface.

I can also confirm that even though we always merge PRs on GitHub and never push directly to `master`, the PR-merging process via the GitHub UI does indeed seem to trigger a `push` event and there

[2019-12-19 17:22] cbj4074 commented on #1201
@nomadster Two other thoughts:

1. I notice that clicking the `Repo on Github` link on your https://coveralls.io/github/SpasmodicSoftware/AuthenticatedLadder page leads to a 404 because the `/tree` is appended to the end of the link. Presumably, you included that trailing `/tree` somewhere in your repository configuration on Coveralls.io. I would try removing that.
2. Are you including `service_na

[2019-12-21 18:07] tamccall opened #1390 "Coveralls not combining data from multiple tests runs"
I have a repo that has 3 different tests runs all of which report coverage data. 2 of the test runs test different language versions against the repository and the last runs a completely different set of tests.

After all of these get ran the coveralls page shows all of the files in the repository 3 different times all with different coverage numbers. However, the build used to combine all of thes

[2019-12-27 00:24] jrfnl commented on #1390
I'm seeing the same thing happening for PHP projects using [php-coveralls](https://github.com/php-coveralls/php-coveralls)

Example problem report: https://coveralls.io/builds/27804200 (708 files)
Last good report I could find from mid September 2019: https://coveralls.io/builds/25691592 (118 files <- this is the correct number of files)

[2019-12-27 00:26] jrfnl commented on #1390
Related #1360, #1362

[2019-12-27 07:18] karfau commented on #1201
I have the exact same problem:
- https://coveralls.io/github/karfau/runex?branch=master is a blank page
- badge shows unknown
-
![image](https://user-images.githubusercontent.com/135657/71504995-ce923c00-287b-11ea-98cf-f4667ba6cc32.png)
branches care not listed

I'm using node-tap to handle the reporting, there are currently no issues reported on that side.
I also used the browser to connect the r

[2019-12-27 15:41] #1367 closed

[2019-12-28 16:05] barseghyanartur opened #1391 "Travis build generates coverage, but coveralls.io doesn't seem to get any data"
Travis build generates coverage, but coveralls.io doesn't seem to get any data.

For one of my repositories: https://github.com/barseghyanartur/django-fobi

Travis build: https://travis-ci.org/barseghyanartur/django-fobi?utm_medium=notification&utm_source=github_status

I use coveralls for lots of projects with no issues. The one  mentioned above has been recently added to coveralls. Could you see

[2019-12-31 15:49] cbj4074 commented on #1201
@karfau I receive a 404 at the link you provided. Did you delete your Coveralls profile?

[2019-12-31 16:17] karfau commented on #1201
Yes, sorry, moved to codecov since I was able to finally have a working setup after many attempts. And already cleared up afterwards.

[2020-01-02 16:46] blueyed commented on #1151
Unfortunately there appear to be problems with it: https://discuss.circleci.com/t/circleci-2-0-notifications-webhooks/19075

Maybe the documentation could/should be updated to post the notification manually, e.g. using curl?

[2020-01-02 17:14] blueyed commented on #1151
I've tried posting it manually via curl, but the build number is not recognized then:
[code]

Would be nice to a) have more info in the error message, and b) update the doc (https://docs.coveralls.io/parallel-build-webhook).

[2020-01-03 12:23] majorgilles commented on #1365
Same issue here, quite an important feature

[2020-01-04 01:05] morozov opened #1392 "Getting 422 Unprocessable Entity when uploading from AppVeyor"
This is an exceprt from the [failing build](https://ci.appveyor.com/project/doctrine/dbal/builds/29887767/job/d0o3x3nt0okbll7w):

[code]

I'm trying to use [php-coveralls](https://github.com/php-coveralls/php-coveralls) to upload the coverage report which seems to support AppVeyor out of the box:
[code]

Assuming that this message is not displayed on AppVeyor, it picks up the environment correctly

[2020-01-05 02:44] tobyink commented on #1365
For what it's worth, I've found it pretty easy to get my travis builds to send coverage reports to both coveralls and codecov. Codecov offers some pretty decent reporting (at least for Perl code) and sorting files works nicely.

[2020-01-07 21:50] A-312 commented on #1362
https://docs.coveralls.io/parallel-build-webhook doesn't fix the problem. :(

![image](https://user-images.githubusercontent.com/18501150/71932406-154b3480-31a0-11ea-9fcd-59f6bd8305d3.png)

 - https://travis-ci.org/zestedesavoir/zds-site/jobs/633954858/config?utm_medium=notification&utm_source=github_status
 - https://coveralls.io/builds/27964564