[2015-06-28 15:44] oryband commented on #549
still happens to me with go, goveralls

[2015-06-30 10:17] baldurh commented on #34
:+1:

[2015-06-30 17:42] moglash commented on #241
+1

[2015-06-30 17:57] anjin commented on #241
We have the Bitbucket support in and are finishing final touches and optimizations.

[2015-06-30 18:49] chesleybrown commented on #241
OMGS! :astonished:

:ship: it!!! ^_^

[2015-06-30 20:50] clphillips commented on #521
Coveralls won't work if you have **ANY** private repos in any of your organizations *UNLESS* you approve the Coveralls Pro app. Even if you have no intention of using coveralls for the private repos.

That is so annoying.

[2015-06-30 23:03] Andersmholmgren commented on #241
\o/
On Wed, 1 Jul 2015 at 4:49 am, Chesley Brown <notifications@github.com>
wrote:

[2015-07-01 03:17] Surgo commented on #241
\o/

[2015-07-01 04:13] tobiasmcnulty commented on #470
@nicolasnoble @tomekwi what do you mean by "enabling" private repos? I'm having the same problem but I can't even find my organization in coveralls, so I can't enable anything. Thanks for your help!

[2015-07-01 04:21] tobiasmcnulty commented on #470
My organization is here and as you can see my membership is public: https://github.com/django-cache-machine

[2015-07-01 04:26] tobiasmcnulty commented on #470
For anyone else with this issue, I finally found a solution. We had a "Third-party application access policy" set up in GitHub, and even though Coveralls was authorized by this policy, it wasn't showing this organization or any of its repos. As soon as I removed the policy and resynced the repos, it showed up in Coveralls (twice, actually).

[2015-07-01 11:09] iainx opened #556 "Setting parallel builds as done gives an access denied page"
I've uploaded all the coverage for my parallel build. They are all sitting in the "pending completion". If I click on the Set Done button it gives me an Access Denied page.

[2015-07-01 14:59] #365 closed

[2015-07-02 07:21] aquamatthias commented on #329
Encouragement is always a good thing - but it has to met reality.
The threshold for good/warn/bad really is very project specific and should be configurable.
I can't see any good explanation for closing this ticket.

[2015-07-02 08:18] n9ti commented on #241
\o/

[2015-07-02 12:56] jcoyne commented on #545
See also: https://github.com/projecthydra/sufia/pull/1223  I'm removing lines of code, so the coverage ratio *must* increase. Still getting "decreased (-0.0%)"

[2015-07-02 14:07] giggio commented on #329
I completely agree! Every project is different. The argument that we should strive to get higher values is moot, as different projects have different characteristics and different achievable thresholds. "Higher" varies per project.

[2015-07-02 14:12] xaionaro commented on #329
How to use that? Should I add this into the code? Is this compatible with gcc?

[2015-07-02 17:31] anjin commented on #241
![screen shot 2015-07-02 at 10 30 42 am](https://cloud.githubusercontent.com/assets/2884/8483399/796d7b50-20a5-11e5-9b02-45c0c16f8c92.png)

[2015-07-02 19:43] bauerj opened #557 "Repos not showing up"
I've tried to add a repository to Coveralls today.

After waiting an hour, it still shows my repos are syncing. I remember having this issue when I registered at coveralls.io quite a long time ago so I guess it's not just slow but not working at all.

<img src="http://bauerj.link/file/tGZdNq.png">

[2015-07-03 16:40] yoeluk opened #558 "Stash/Bamboo support?"
Is the eminent bitbucket support flexible enough that Stash/Bamboo will be also supported?

[2015-07-04 15:03] #344 closed

[2015-07-04 16:48] davinkevin commented on #544
+1

[2015-07-05 12:18] neoremind opened #559 "Report submission to Coveralls API failed with HTTP status 500: Internal Server Error (Build processing error.)"
Hi there,

I was using coveralls-maven-plugin and had integrated with travis ci. My project is java and maven based and while travis builds successfully and then execute "after-success" procedure, I got the following failure, which seems to have some problems when delivering report via converalls API to your platform. I tried a few times but failure still persists, I suppose it was a stable reprod

[2015-07-05 12:46] automatictester commented on #559
Same happened to me:
https://travis-ci.org/automatictester/lightning/builds/69612087#L216

Since last successful build only thing that has changed was readme file.

[2015-07-05 16:55] AmatanHead commented on #559
I'm getting the same error at https://travis-ci.org/AmatanHead/operational-transforming#L150.

It also can be reproduced locally with almost the same log:

    ...

    process files: 4
    Bad response: 500 {"message":"Build processing error.","error":true,"url":""}
    ...

[2015-07-05 17:21] ajschumacher opened #560 "unable to re-add public repo"
Hi @anjin! :wave:

I had Coveralls working with https://github.com/ajschumacher/mergic but there was an issue on the Travis side (see https://github.com/travis-ci/travis-ci/issues/3996). @BanzaiMan very kindly fixed the Travis issue (thanks @BanzaiMan!) which is super cool.

Subsequently, however, Coveralls wasn't updating - I imagine because by build counts reset on the Travis side.

So I thought

[2015-07-05 22:46] reid-spencer commented on #559
:+1:

Happens for me too via travis @ https://travis-ci.org/scrupal/scrupal/builds/69636251

The log of the job looks like this:
[code]
Note that this takes 30+ seconds so I assume something is going wrong during the submission of the upload to coveralls.io.

[2015-07-06 13:10] neoremind commented on #559
The problem has been solved anyhow. Thanks for the work done by coveralls teams!

Below is the log:
[INFO] Starting Coveralls job for travis-ci (69728967)
[INFO] Git commit 6587378 in master
[INFO] Writing Coveralls data to /home/travis/build/neoremind/navi-pbrpc/target/coveralls.json...
[INFO] Processing coverage report from /home/travis/build/neoremind/navi-pbrpc/target/site/cobertura/coverage.x

[2015-07-06 17:46] aryeguy opened #561 "I see builds that are not mine"
I don't see my builds but the builds of other repositories in my repository screen
<img width="973" alt="screen shot 2015-07-06 at 20 45 32" src="https://cloud.githubusercontent.com/assets/361206/8529039/05586364-2420-11e5-8b2e-3215d7f3da37.png">

[2015-07-07 01:58] ionelmc opened #562 "The owner of this repo needs to re-authorize with Github?"
I get this:

[code]

I've tried to revoke token and reauth. Did not fix the issue.

[2015-07-07 15:21] #559 closed

[2015-07-07 15:53] lexi-lambda commented on #557
+1, I hit the "Sync Github Repos" button today to add a new repo, and it's been stuck "syncing" my repos for over an hour.

[2015-07-07 20:50] nickmerwin commented on #557
@lexi-lambda @bauerj the issue you hit should be fixed now -- your github OAuth tokens had rolled.

Use this link to start the sync again:
https://coveralls.io/refresh

Thanks!

[2015-07-07 20:50] #557 closed

[2015-07-07 23:03] anjin commented on #241
We've soft-launched this today. Mailer is going out tomorrow, check it out!

[2015-07-07 23:16] #241 closed

[2015-07-08 02:05] randfur commented on #545
If you remove lines that were covered by tests then the coverage will decrease (assuming there are parts uncovered).

[2015-07-08 02:46] jcoyne commented on #545
The question is why does it fail with no change (0.0%)

[2015-07-08 18:25] smetdenis commented on #562
Hi,

I have such proplems too with https://coveralls.io/github/smetdenis/SimpleTypes
For example here https://coveralls.io/builds/3005093/source?filename=src%2Fautoload.php

I see message
[code]

So I've tried to revoke token and reauth too.
Recently I deleted my account but it still doesn't work. Plz, let me know how to fix it ?

Thanks a lot and best regards, SmetDenis.

[2015-07-09 00:51] spiralx commented on #517
I'm getting this error now for my repository https://github.com/spiralx/jshint-summary.

Actually, it's the same on every one of my repos that I've tried to add.

[2015-07-09 18:51] lmaccherone commented on #496
I am having this same problem. Any update?

[2015-07-09 18:58] nickmerwin commented on #496
@clphillips Github doesn't have an OAuth scope to only *read* private repos unfortunately -- only read/write.

@lmaccherone I see added repos for your account, did you resolve the issue?

[2015-07-09 19:08] lmaccherone commented on #496
Yep, just now I was able to reset my GitHub connection and get it added. Thanks.

[2015-07-09 19:40] clphillips commented on #496
@nickmerwin I'm aware of that. But that's not the problem. Why does coveralls **FORCE** coveralls pro if it detects your account has a private repo (or had, removing orgs with private repos made no difference)?

It is so incredibly annoying that I can't get coveralls to add **PUBLIC** repos simply because I belong to an org that has private repos. What's up with that?

[2015-07-09 19:45] nickmerwin commented on #496
@clphillips that's true, we should add the option to upgrade (or not) your OAuth scope when we detect you have access to an org that has a Pro account. Good call, thanks.

@h2non I've just deployed better token reauth handling. Could you try again?

Thanks!

[2015-07-09 19:45] #496 closed

[2015-07-09 20:13] clphillips commented on #496
@nickmerwin Whatever you did solve my issue. THANK YOU!

[2015-07-10 02:19] nickmerwin commented on #517
@spiralx we just deployed better OAuth token expiration handling when adding repos. Could you try again now please?

Thanks!

[2015-07-10 02:19] #517 closed

[2015-07-10 08:02] cemo commented on #544
+1

[2015-07-10 08:05] cemo opened #563 "Coverage report by submodule"
Coverage is displayed currently by file. It would be nice to see by module as well. Especially in java world, multi modules are common practice and coverage by module is important. This is encouraging module owners to increase their coverage.

[2015-07-10 11:17] spiralx commented on #517
That seems to have worked - it says my OAuth token had expired, then reloaded the page and I've been able to add the repo - my repos were showing twice in the list though, once with the GitHub button on the right, once without!

[2015-07-10 18:23] jerrod opened #564 "504 from source_file.json when trying to look at reported coverage"
See attached image - essentially I have not been able to view coverage reports within coveralls.io's website.
<img width="1333" alt="screen shot 2015-07-10 at 2 19 23 pm" src="https://cloud.githubusercontent.com/assets/765/8625830/258838a2-270f-11e5-94d2-a515e7ad5ce4.png">

[2015-07-10 18:24] nickmerwin commented on #564
@jerrod what repo is that happening on?

[2015-07-10 18:25] jerrod commented on #564
`usertesting/orders`

[2015-07-10 18:26] nickmerwin commented on #564
Could you link me to the specific url? Or email it to me at nick@coveralls.io

Thanks

[2015-07-10 18:30] jerrod commented on #564
emailed - thanks!

[2015-07-10 18:45] nickmerwin commented on #564
Hey haven't seen it come through yet, could you double check?

[2015-07-10 18:48] jerrod commented on #564
https://coveralls.io/builds/3026683 Or any of the builds on https://coveralls.io/github/usertesting/orders

thanks!

[2015-07-10 18:49] nickmerwin commented on #564
Ah I see it's timing out on the aggregated build view. We're working on optimizing that, but in the meantime you can drill down to the individual jobs, e.g. https://coveralls.io/jobs/7029347 to get source file coverage.

[2015-07-10 18:52] jerrod commented on #564
ah.  unfortunately any single job doesn’t give an accurate (or actionable) view of coverage.

Is there a timeline on optimizing the integrated view thats timing out?

thanks!

[2015-07-10 20:02] smetdenis commented on #562
It seems I understood...
After I deleted repo from coversall via button http://llfl.ru/otpcy5 and added it again, my reports started to work fine again. I really don't know why =)

[2015-07-11 06:48] n1k0 opened #565 "“Coverage decreased (-0.0%) to 99.68%”"
![screen shot 2015-07-10 at 19 23 35](https://cloud.githubusercontent.com/assets/41547/8632767/8ae68362-27a9-11e5-9d46-4a31f3c32934.png)

![cjkefu3ukaani3u](https://cloud.githubusercontent.com/assets/41547/8632768/8db96230-27a9-11e5-8748-68cca2b62583.jpg)

See:
- https://github.com/mozilla-services/kinto.js/pull/58
- https://coveralls.io/builds/3027040

I think your percentage computation function

[2015-07-11 06:50] n1k0 opened #566 "Spam in Questions section"
See https://coveralls.zendesk.com/hc/communities/public/questions/204347015-SHOW-HD-Acil-A%C5%9Fk-Aran%C4%B1yor-16-B%C3%B6l%C3%BCm-Full-Tek-Parti-760p-izle-5-Temmuz-2015?locale=en-us

![screen shot 2015-07-11 at 08 49 36](https://cloud.githubusercontent.com/assets/41547/8632780/d6cbafbe-27a9-11e5-9a06-4610795ff322.png)

[2015-07-11 09:52] geeknam commented on #30
Is Jenkins supported?

[2015-07-13 12:49] 153957 commented on #565
It is not wrong, your code contains less lines, so each line that is not tested is a larger percentage.
You can change the threshold for the amount of decrease to result in a failed build, on the projects page on coveralls.io.

[2015-07-13 12:55] 153957 commented on #545
There may be a change in digits that were removed (e.g. 0.04% rounds to 0.0%).

As randfur said, removing lines of code that were covered reduces your coverage (unless you have 100% coverage). For example 4 lines of code 2 not covered: 50% coverage, remove a covered line and you get : 3 lines of code 2 not covered: 33.33% coverage

[2015-07-13 13:04] n1k0 commented on #565
Maybe you should add this information into the failure message?

I didn't find where, hint?

[2015-07-13 13:20] 153957 commented on #565
If you log in on coveralls and yo to the project page: https://coveralls.io/github/mozilla-services/kinto.js
Scroll down, on the lower left you should see these settings:

![coveralls_settings](https://cloud.githubusercontent.com/assets/1433682/8650357/70ad6590-2972-11e5-9497-5a0ffb0d3c82.png)

Change the `COVERAGE DECREASE THRESHOLD FOR FAILURE` to something more than `0.05%` that way you will al

[2015-07-13 13:51] n1k0 commented on #565
I was mostly talking about the travis hook message, which is quite unclear. Also speaking of maths, I know -0 is a valid concept but come on… ;)

There's nothing on the lower left for me:

![screen shot 2015-07-13 at 15 46 29](https://cloud.githubusercontent.com/assets/41547/8651055/0081fac4-2977-11e5-9957-05c7529ea305.png)

Is this because I'm part of the org owning the repo, and not an admin of

[2015-07-13 13:59] jcoyne commented on #545
If the digits were significant enough to cause a failure, shouldn't they then be shown on the report? I think you have a UX issue here.

[2015-07-13 18:19] zshenker opened #567 "Private Repo Made Public Issues"
Hi,

I have a repo https://github.com/zencoder/go-remote-config that used to be Private, but has now been made public. On Coveralls it is still appearing with the Lock icon as a Private repo.

An issue that I seem to then also be running into, is that when someone forks this repo, and coveralls is run on their fork (when a PR is made), I am getting the error, "Bad response status from coveralls: 4

[2015-07-13 19:21] joshma commented on #545
Agreed - I'd personally be happy if 2 places of precision were shown instead, and if the change is less than that either always round up to `0.01%` or indicate no significant change.

If you have just 10,000 lines of code, changing just one line will change coverage by `0.01%`, and if you have 100k loc changing <10 lines will also hit this issue, so any code base larger than that will see this iss

[2015-07-13 21:35] 153957 commented on #565
You are not signed in on coveralls, see the 'sign in' in the sidebar.

[2015-07-13 21:37] 153957 commented on #545
Agreed. It should show at least enough significant digits to indicate the change, however small.

[2015-07-13 21:44] n1k0 commented on #565
Ah right. Though signing in didn't fix it :(

![screen shot 2015-07-13 at 23 43 29](https://cloud.githubusercontent.com/assets/41547/8661611/18eb7238-29b9-11e5-9274-cd0e821dfba1.png)

[2015-07-13 22:18] 153957 commented on #565
That is weird.. Perhaps you need to be the owner..

I would suggest you create another issue about that (badge), it is probably unrelated.
(Note I do not work on/for coveralls)

[2015-07-13 23:42] anjin commented on #545
Deployed a change to show minimum sigfigs

[2015-07-13 23:42] #545 closed

[2015-07-13 23:58] joshma commented on #532
I just wanted to bump this - we're a proud coveralls customer, but the fact that our repo consistently shows the least important part of the message makes the service much less usable. For the coveralls folks (hi @anjin), our repo in question is the one under the `benchling` org - you'll notice most changes just say `Summary:` The commit message looks like:

[code]

And instead of `Enable source m

[2015-07-14 00:45] nickmerwin commented on #532
@joshma I'm suspecting it's Circle's git version -- node-coveralls uses this command to get git info which is then passed to our API:

[code]
https://github.com/nickmerwin/node-coveralls/blob/master/lib/fetchGitData.js#L64

Which should return something like this:
[code]

But perhaps on Circle it's returning the summary instead of the commit message. Could you check the output of that command duri

[2015-07-14 03:21] joshma commented on #532
Thanks @nickmerwin - looks like a bug in the commit regex - could you check out https://github.com/nickmerwin/node-coveralls/pull/99 and let me know if that looks right?

[2015-07-14 05:13] #532 closed

[2015-07-14 08:41] 153957 commented on #565
See #545

[2015-07-14 08:46] 153957 commented on #521
Indeed, very annoying, just had this happen to me yesterday.
I did not accept the extra access that Coveralls Pro was asking for, and I did get the 'SOURCE NOT AVAILABLE' message, however, a day later it seems to be working fine again for my public repo.

[2015-07-15 07:55] bchretien commented on #562
:+1: Same thing for our [older repos](https://coveralls.io/github/roboptim), and deleting the repos on coveralls.io would destroy the data from the last few years, which would be a real shame.

[2015-07-15 08:14] smetdenis commented on #562
My project was created several days ago, so history is not so important for me :)
Unfortunately support did not answer and I couldn't find another decision...

[2015-07-15 08:32] aivus commented on #487
I still getting 422 error:
https://travis-ci.org/s0ph1e/node-website-scraper/jobs/71037428

[2015-07-15 19:32] brianmd commented on #557
I just signed up today and am getting the same never-ending 'your repos are syncing'. Upon sign-up, I initially was getting a 503 error when trying to get github authorization, and maybe that has something to do with it?

[2015-07-15 19:33] inirudebwoy opened #568 "Not able to switch branch, only master available"
After creating repo from github I am not able to select any other branch beside master. I have more than one branch under this repository.
Sync Branches does not return nothing
Show All reloads page with no change.

[2015-07-15 20:28] nickmerwin commented on #557
hi @brianmd we've had a slower than usual connection to Github today, causing some timeouts. Could you try a couple more times and let me know if you're successful?

Thanks!

[2015-07-15 20:31] brianmd commented on #557
Absolutely! If I need to do anything other than refresh the page (e.g.,
delete account and re-create), just let me know.

On Wed, Jul 15, 2015 at 2:28 PM, Nick Merwin <notifications@github.com>
wrote:

[2015-07-15 23:02] LucioFranco opened #569 "Not syncing with github."
I have been trying to sync coveralls with github all day and its just been showing me the syncing from github text. I have tried almost everything to see if it was an account error or a github problem but it seems that it is coveralls causing the problems

[2015-07-15 23:28] iamstarkov commented on #569
:+1: the same problem for me

right now it doesnt work for me on both latest firefox and chrome on os x. with uninstalled flash, if it matters

[2015-07-15 23:40] netmask commented on #539
I don't see my private repos......

[2015-07-16 00:04] cnuss commented on #569
Same problem for me

[2015-07-16 00:14] netmask commented on #569
same here, looks like the payments is the only thing working on my account ....

[2015-07-16 01:44] nickmerwin commented on #569
@LucioFranco @netmask @cnuss sorry guys, our repo sync worker was stuck. You should be good to go now.

Thanks!

[2015-07-16 01:44] #569 closed

[2015-07-16 02:16] LucioFranco opened #570 "Not updating from travis"
Builds seem to not being going through on any of my projects. It shows nothing for one of them and the other one does not have a recent build in fact it was last updated yesterday when i have already triggered builds today.

[2015-07-16 03:15] #570 closed

[2015-07-16 05:17] iamstarkov commented on #569
@nickmerwin thank you!

[2015-07-16 17:23] cnuss commented on #569
@nickmerwin you da man! thanks!

[2015-07-17 18:00] brianmd commented on #557
It is all good, thank you for your help!

On Wed, Jul 15, 2015 at 2:28 PM, Nick Merwin <notifications@github.com>
wrote:

[2015-07-17 18:06] cnuss opened #571 "Unable to update credit card info"
Hey guys,

I'm unable to update my credit card info for my subscription.  And the wrong card got billed when I upgraded to pro.

Please let me know if you can help.

Cheers,
Christian

[2015-07-17 23:51] anjin commented on #571
Hey Christian, try that again. Let me know when the info is changed and I'll refund the original charge and run the charge on the new card.

[2015-07-19 19:31] macfreek opened #572 "Source not available"
I have a public repository on github, on a personal (non-organisational) account: https://github.com/macfreek/NBT

I was able to configure Travis-CI to push the result on a test to Coveralls. I was also able to push it myself directly, using Python-coveralls.

Whenever I try to view the coverage [report of an individual file](https://coveralls.io/builds/3098649/source?filename=nbt%2Fnbt.py), Cover

[2015-07-19 19:35] sivakumar-kailasam commented on #522
Same on mine https://travis-ci.org/sivakumar-kailasam/gradle-npm-wrapper/builds/71675089

[2015-07-20 01:18] jomo opened #573 "IRC notifications"
It would be nice to have IRC notifications similar to [travis' IRC notifications](http://docs.travis-ci.com/user/notifications/#IRC-notification).

[2015-07-20 20:37] cnuss commented on #571
Still didn't work... any advice?

[2015-07-20 20:43] anjin commented on #571
The card with the last 4 of 6530 is the old card?

[2015-07-20 20:45] cnuss commented on #571
Yeah, 6530 is the old card.

Also, please don't refund the original charge, I expensed it already, thanks!

[2015-07-20 20:56] anjin commented on #571
Gotcha, thanks for letting me know. Alright try changing the card details again.

[2015-07-20 21:33] cnuss commented on #571
Worked this time, thanks!

[2015-07-20 21:33] #571 closed

[2015-07-21 15:38] jbender opened #574 ""Set Done" gives Halt page"
Just made a repo (that I obviously have access to) and when I try to mark my completed parallel builds as "done" it gives me the Halt page as though I wasn't signed in or didn't have access to the repo.

[2015-07-21 15:41] jbender commented on #556
:+1: Seeing this as well, would love to get an update given that it's been almost 3 weeks

[2015-07-21 15:42] jbender commented on #574
Closed in favor of #556

[2015-07-21 15:42] #574 closed

[2015-07-21 17:25] nickmerwin commented on #556
hey @iainx and @jbender we've deployed an update for that security warning -- could you try again now?

Thank you!

[2015-07-21 17:46] jbender commented on #556
Hey @nickmerwin, your fix worked for two of my builds, but two other ones are still not closing, but (at least?) not giving me an error, just refreshing the page without effect.

[2015-07-21 17:47] nickmerwin commented on #556
@jbender ok could you link me to the builds that aren't finished? If it's a private repo you can email me: nick@coveralls.io

Thanks.

[2015-07-21 18:56] julianghionoiu opened #575 "Coverage badge shown as "unknown" even after 3 days"
Something seems to be broken with my repo. I get the coverage report:
https://coveralls.io/github/julianghionoiu/tdl-client-java

But the coverage badge still shows as "unknown".
<img width="443" alt="screen shot 2015-07-21 at 19 54 20" src="https://cloud.githubusercontent.com/assets/5089833/8809743/5be037f2-2fe2-11e5-9437-ba86ef2c1cd8.png">

[2015-07-21 19:11] nickmerwin commented on #575
hi @julianghionoiu that's updated now -- your builds were coming in mislabeled as pull requests.

Thanks!

[2015-07-21 19:11] #575 closed

[2015-07-21 20:23] bel2125 opened #576 "Error 504 when accessing file coverage report"
I have a project in a public github repository, written in C (https://github.com/bel2125/civetweb).
It has only a few source files (basically one .C file and one/some .inl files), which makes it ideal for embedding into other applications.

Coverall works, and gives also overall test coverage statistics: https://coveralls.io/jobs/7229260
For the smaller file (md5.inl, 463 lines) I can see a report

[2015-07-22 07:46] r-park opened #577 "Duplicate repos"
I see numerous duplicate repos listed, and all repos that are "on" cannot be turned "off". All are public github repos.

![screenshot 2015-07-22 at 3 33 02 am](https://cloud.githubusercontent.com/assets/6252638/8820437/7844a8e2-3023-11e5-8443-df292fcba8e1.png)

[2015-07-22 13:15] varya commented on #556
I have the same problem. For example, with this PR https://github.com/SC5/sc5-styleguide/pull/723

[2015-07-22 13:33] DanielHKim commented on #540
Same problem here pretty much. It says "COVERAGE REMAINED THE SAME AT ?%" and the report is stuck as pending in the GitHub checks. Also falsely reports every file as 100% covered while the overall coverage is ?%. Seems like coveralls has a lot of work to be done before it's an actually fully reliable coverage tool; I've been seeing a ton of similar issues recently.

[2015-07-22 14:02] devinivy commented on #97
I'm having the same issue while getting started with coveralls.

[2015-07-22 14:27] jbender commented on #552
:+1: You've probably solved it for yourself, but for anyone else who ends up on this issue we were able to solve this by adding the following to our `circle.yml`

    machine:
      environment:
        COVERALLS_REPO_TOKEN: <<YOUR TOKEN>>
        COVERALLS_PARALLEL: true

    notify:
      webhooks:
        - url: https://coveralls.io/webhook?repo_token=<<YOUR TOKEN>>

[2015-07-22 14:34] jbender opened #578 "Jobs not processing"
Looks like your job queue is blowing up, which is leading us to have many "pending" PRs waiting for the results to come back, would be nice to get a heads up about issues like this

![Screenshot](https://www.dropbox.com/s/v3l6ggdiklj3l6p/Screenshot%202015-07-22%2010.31.11.png?dl=1)

[2015-07-22 14:35] devinivy opened #579 "No coverage, no data, yet data is shown."
I'm not able to enable coverage for my repo.  Here's a build that shows the relevant files, and when I go to each file's coverage page, it does show how many times each line was hit.  However, coveralls does not display this data in the table, and it doesn't generate a coverage report.

Hovering the coverage icon for each file reveals both "No Data" and "New Coverage".  So I'm a bit confused!

Bui

[2015-07-22 14:36] devinivy commented on #578
@jbender do you think this explains my issue in #579?

[2015-07-22 14:37] jbender commented on #578
@devinivy I'd say that you're more than likely stuck somewhere in that mountain with our pending builds

[2015-07-22 15:12] tweithoener commented on #579
Can confirm the problem.

Or better I could up until a few hours ago. Now the Updates tab just says: "Coveralls doesn't have any delicious details for you yet!" Well, it had them earlier today. But in the state @devinivy described.

[2015-07-22 17:21] julianghionoiu commented on #575
Thanks a lot, Nick !

[2015-07-22 22:30] cashman04 commented on #579
Same for me.  First time ever using travis ci today and have been trying to figure out what I'm doing wrong.  It is showing no coverage, and no data from any of my builds.  I'll assume it is due to their infrastructure changes mentioned on their twitter.

https://coveralls.io/github/cashman04/lita-directions

[2015-07-22 22:57] jgrevich opened #580 "modal-backdrop blocks ability to subscribe to incidents"
The modal backdrop on http://status.coveralls.io/ blocks user's from being able to subscribe to incidents (unless they manually remove that html element via a browser's dev tools):

![screen shot 2015-07-22 at 3 52 39 pm](https://cloud.githubusercontent.com/assets/24955/8839416/035e8108-308a-11e5-8fe6-4987f1f4f8a8.png)

Also, the text in the alert box may read better if the background is not 100%

[2015-07-22 23:17] anjin commented on #580
Bit of weirdness from statuspages.io

[2015-07-22 23:17] #580 closed

[2015-07-22 23:19] jgrevich commented on #580
Ah, sorry I didn't realize that was a [third party service](https://www.statuspage.io/). Hectic Wednesday :)

[2015-07-22 23:26] caleb531 commented on #579
+1. It seems the same issue is affecting my repos as well. The Updates tab lists a number of builds which all indicate that there is no coverage data. Considering that building and coverage reporting (with Travis and Coveralls) has worked just fine for me in the past, I assumed this might be a Coveralls issue, and I am somewhat relieved that it seems to be just that (as opposed to a fault of my ow

[2015-07-23 00:45] bstopp commented on #97
Experiencing the same issue myself; project is: https://coveralls.io/github/bstopp/puppet-aem

[2015-07-23 02:35] benmcollins commented on #578
Can you tell me where you found the processing queue graph?

[2015-07-23 02:59] cep21 commented on #579
http://status.coveralls.io/#week

PROCESSING QUEUE BACKLOG - seems unhealthy

I imagine the best course is to monitor that graph for some kind of update on when we can expect a resolution.

[2015-07-23 12:41] jbender commented on #578
@anjin more than 24 hours without update on a paid service is very unprofessional please give this more attention

[2015-07-23 14:39] benmcollins commented on #578
@jbender I agree.

[2015-07-23 17:17] murielsilveira commented on #31
:+1:

[2015-07-23 17:51] anjin commented on #578
We are still running a large migration and regular service is going to be interrupted until everything is worked through. We are implementing a big change to how we handle and store build data - so we have to process all the historical data as well as the constant influx of new data. We want to remain free for open source forever, and at this time we have over billion rows in our DB.

Please bear

[2015-07-23 17:51] #578 closed

[2015-07-23 18:04] benmcollins commented on #578
This is a mixed message. The status page says "Something in our hardware is slowing down our queue processor. We're looking into it."

Is there something wrong or is this a migration, or what?

[2015-07-23 18:08] anjin commented on #578
This is more accurate: The queue processor is experiencing slowdowns due to an interaction between resources. We had hoped to keep it running as normal while dealing with our large migration but there will be slowdowns.

[2015-07-23 18:14] jbender commented on #578
Please post more updates to your status page when you have downtime like this so we know that you *are* actually working on it/have diagnosed the problem. This also feels like a change that was known about ahead of time and could have been warned about. Just looking for some better communication moving forward.

[2015-07-23 18:16] benmcollins commented on #578
Seriously, the status graph looks like nothing is getting processed. If it's was a slow down, I would expect some processing catch-up during night hours and peaks during the day hours. Instead, it's a steady incline of backlog.

If it is a slow down, I would expect paid accounts to get priority. I understand the open source for free thing (I use it for open source as well), but paid should get pri

[2015-07-23 18:39] mikeryz-rosie commented on #579
Does anyone know the rate at which jobs usually get processed? It's hard to know what the queue size means without that. Has anyone seen data show up after an appreciable delay? I just signed up today and I'm trying to figure out if our data is missing because our configuration is wrong or because of this issue...

[2015-07-23 18:49] estin opened #581 "Need hg argument in job api"
Now we have bitbukcet support, but we can`t post new job with commit info from mercurial (hg) repository from bitbucket

[actual api docs](https://coveralls.zendesk.com/hc/en-us/articles/201350799-API-Reference) have only git argument.

Sorry for my poor English

[2015-07-23 18:52] caleb531 commented on #579
@mikeryz-rosie I bet nothing's wrong with your configuration, because nothing is wrong with *my* configuration and the issue is still affecting me. :P

I think right now, all we can really do is wait for the Coveralls team to finish whatever migration and infrastructural changes they are in the process of making, at which point the job queue should decrease in size. In other words, just keep a wat

[2015-07-23 22:27] chriskuehl opened #582 "The #readOnly <div> on coveralls.io needs a higher z-index."
@asottile and I noticed that the `#readOnly` div on coveralls.io contains an unclickable link:

![](http://i.fluffy.cc/vqMWRCbqBQV3jJbRkH2Fp7mH2fj5nT61.png)

Your `.fixedWr` div has `z-index: 200` and is blocking it. I can't click it without monkeying around with your CSS =(

[2015-07-24 15:56] benmcollins commented on #578
Approaching 24 hours since the last update on the status page...

[2015-07-25 01:09] benmcollins commented on #578
Sorry, this is the only place I can get anything through. I'm still unsure why this is marked closed, but anyway:

9:42 - DB restore starts
12:51 - (3 hours later) DB estimated to be half way done
18:05 - (8+ hours later) No update, and 5+ hours since a half way point that took 3 hours to get to.

Please, can we keep the flow of updates coming? I strongly suggest making it hourly, or at least ever

[2015-07-25 02:05] anjin commented on #578
The restore process is still in the process of finalizing

[2015-07-26 20:03] benmcollins opened #583 "Newly sent coverage showing no lines in files"
A newly sent coverage build on my project shows three files as zero lines in the file and zero relevant lines.

[2015-07-26 20:04] telemachus opened #584 "Repo on Bitbucket but the API points at GitHub"
My problem started because a repo with 100% coverage was reporting as only 0% coverage.

After a bit of searching around, I realized that although I'm logged in via Bitbucket, some of the API links point to a (non-existent) GitHub repository.

https://coveralls.io/bitbucket/telemachus/tableutils?branch=master

If you check the link under "Branch => master", you'll see that it's pointing at http://

[2015-07-26 20:41] telemachus opened #585 "A build from one repo shows up in another repo's log"
I have three repos in Coveralls. Today when I tried to upload a build from one of them, the report shows up in another's timeline.

+ Here is the build: https://coveralls.io/builds/3143476
+ That build is for [this library](https://coveralls.io/bitbucket/telemachus/split).
+ But it shows up as if it were for [this one](https://coveralls.io/bitbucket/telemachus/tapered).

[2015-07-26 21:39] danmichaelo commented on #583
The same just happened to me: https://coveralls.io/builds/3143621 (this commit actually didn't change any code at all, just setup configuration)

[2015-07-26 21:41] caleb531 commented on #579
I believe the issue has been resolved now. The Coveralls Status page indicates that all systems are operational. It also seems that all queued jobs have been processed. :+1:

[2015-07-26 21:55] nickmerwin commented on #579
We're all back to date now, thank you everyone for your patience, the great Coveralls Migration of 2015 has finished!

[2015-07-26 21:55] #579 closed

[2015-07-26 23:25] kgryte commented on #583
Similar issue occurred for one of my projects. Created a new repo, turned on coveralls, and yet no coverage is appearing on the coveralls [site](https://coveralls.io/github/validate-io/email-address).

I followed the same procedure I have used for all prior repos. The only difference is that this repo was switched on post migration.

[2015-07-27 01:41] devinivy commented on #579
:+1: thanks!

[2015-07-27 03:40] ccarpita commented on #409
Having the same issue on this build: https://coveralls.io/github/ccarpita/react-observer-mixin  -- coverage is 100% but reported as 0%

[2015-07-27 06:14] lukeapage commented on #583
happening to jshint too

[2015-07-27 07:21] simov opened #586 "Coverage dropped to 0% even though it's around 91% ?"
The relevant [TravisCI job](https://travis-ci.org/simov/purest/jobs/72786845) see at the bottom:

[code]

And I got this [report in Coveralls](https://coveralls.io/builds/3146030) stating that:

[code]

[2015-07-27 07:28] gterzian commented on #586
I also can see just now that when a file goes to 100% coverage, the relevant lines drop to 0, resulting in a drop of overall coverage for the project

![screen shot 2015-07-27 at 3 28 17 pm](https://cloud.githubusercontent.com/assets/2792687/8900609/2564983a-3474-11e5-800e-b79436d58f53.png)

[2015-07-27 07:29] gterzian commented on #586
actually @simov your issue seems to be the repo token could not be determined.

[2015-07-27 07:29] gterzian opened #587 "Relevant lines of 100% covered files drops to 0"
I can see just now that when a file goes to 100% coverage, the relevant lines drop to 0, resulting in a drop of overall coverage for the project

![screen shot 2015-07-27 at 3 28 17 pm](https://cloud.githubusercontent.com/assets/2792687/8900609/2564983a-3474-11e5-800e-b79436d58f53.png)

[2015-07-27 07:31] simov commented on #586
Nope, the token is not a problem, read the entire message:

It was always like that, but definitely the coverage was correct up until now.

[2015-07-27 07:35] lukeapage commented on #587
duplicate of #583

[2015-07-27 07:36] lukeapage commented on #583
this stopped happening for me - it only happened processing the queue backlog.

[2015-07-27 07:37] benmcollins commented on #583
I've rerun a coverage build several times and it ranges from 4 to 5 files show 0 lines. Not just 0 lines covered, or 0 lines relevant, but it says that the file literally has 0 lines, but even clicking on it for details shows the entire file.

[2015-07-27 07:48] simov commented on #586
Oh, yeah I can't view the file sources too, but that's since forever.

Stating that:

The owner of this repo needs to re-authorize with github; their OAuth credentials are no longer valid so the file cannot be pulled from the github API.

[2015-07-27 07:56] gterzian commented on #587
@lukeapage thanks

[2015-07-27 07:56] #587 closed

[2015-07-27 07:58] gterzian commented on #583
I can see just now that when a file goes __up to 100% coverage__, the relevant lines drop to 0, resulting in a drop of overall coverage for the project

![screen shot 2015-07-27 at 3 28 17 pm](https://cloud.githubusercontent.com/assets/2792687/8900609/2564983a-3474-11e5-800e-b79436d58f53.png)

[2015-07-27 07:59] gterzian commented on #583
and it's happening consistently

![screen shot 2015-07-27 at 3 58 45 pm](https://cloud.githubusercontent.com/assets/2792687/8901092/6ba41fc4-3478-11e5-83ed-18c50f95eed6.png)

[2015-07-27 08:26] dirkmoors commented on #583
+1, I've just started using coveralls for my project, and I'm getting almost all zeros, and 100% coverage (which is not correct).

![image](https://cloud.githubusercontent.com/assets/1183654/8901514/d337fba8-3449-11e5-8625-ff31e6a97a49.png)

Also, I noticed that I'm getting the error 'SOURCE NOT AVAILABLE'.

![screenshot from 2015-07-27 10 25 07](https://cloud.githubusercontent.com/assets/1183654/

[2015-07-27 08:31] mikefrancis opened #588 "Coverage showing as 0%"
Just testing out Coveralls and tried it on a [small repo](https://coveralls.io/github/mikefrancis/tokenizr)

If I go into the latest build [https://coveralls.io/builds/3143840] I see one file has 100% coverage, yet the repo has 0%.

I'm sure this is probably just an issue with how I've got PHPUnit set up, however I'd be willing to share any fixes with the larger PHP community.

Could anyone help?

[2015-07-27 08:32] mikefrancis opened #589 "Coverage showing as 0%"
Just testing out Coveralls and tried it on a [small repo](https://coveralls.io/github/mikefrancis/tokenizr)

If I go into the latest build (34), I see one file has 100% coverage, yet the repo has 0%.

I'm sure this is probably just an issue with how I've got PHPUnit set up, however I'd be willing to share any fixes with the larger PHP community.

Could anyone help?

[2015-07-27 10:25] fukuball commented on #107
Same here: https://coveralls.io/builds/3147103

[2015-07-27 11:35] reflexdemon opened #590 "Coverage is shown as 0%"
I have an open source [node project slush-angular-gulp](https://github.com/reflexdemon/slush-angular-gulp) and when I pushed the builds from Travis. The build from Travis logs reports 97% coverage and https://travis-ci.org/reflexdemon/slush-angular-gulp/jobs/72813531. I am not sure if I am missing something. Please advise.

[2015-07-27 11:57] squidfunk commented on #590
Same here. New build, 100% coverage in all individual files but total coverage shown as 0%:
https://coveralls.io/builds/3147647

[2015-07-27 13:13] telemachus commented on #589
I don't think that it's just your set up.

See also:

+ https://github.com/lemurheavy/coveralls-public/issues/586
+ https://github.com/lemurheavy/coveralls-public/issues/589
+ https://github.com/lemurheavy/coveralls-public/issues/590
+ https://twitter.com/telemachus/status/625392252601389057
+ https://twitter.com/BenjaminCoe/status/625403728183439360
+ https://twitter.com/BenjaminCoe/status/625404

[2015-07-27 13:14] telemachus commented on #588
This is a duplicate of #589, probably accidental.

[2015-07-27 13:15] #588 closed

[2015-07-27 14:06] jails commented on #590
Same here for my [kahlan](https://github.com/crysalead/kahlan) repo. The 03 Jul 2015 I pushed a commit on my dev branch which reached 99.75% coverage.
Today I merged my dev branch on master (so with the same configuration and everything) and the coverage dropped to 0%.
It looks like a BC break occured in since the 03 Jul 2015.
Here is the build I'm talking about on travis https://travis-ci.org/cry

[2015-07-27 14:22] leodido commented on #590
Same here.

[2015-07-27 14:33] kapluni opened #591 "coverage dropped from 70+% to ~10%"
https://coveralls.io/github/firecracker/firecracker.me

very bizarre, seems related to recent migration.

[2015-07-27 14:41] SimonKagstrom commented on #259
Well, to push my own project, there's kcov:

  https://github.com/SimonKagstrom/kcov

where you can generate and upload coverage for C/C++/Rust/Python/Bash with

[code]

[2015-07-27 16:10] mikefrancis commented on #588
Ooops, sorry. I have no idea how I created 2 issues but thanks for pointing this out.

[2015-07-27 16:48] jimdelois opened #592 "Coverage Shows 0% Despite 100% in Files"
This project is somewhat new on Coveralls:  https://coveralls.io/github/improvframework/http-constants

Clicking into any build's source files reveals 100% coverage.  Yet for some reason, all badges and graphs show 0% coverage.  Obviously this is a very significant issue.  Please advise.

[2015-07-27 16:48] jimdelois commented on #590
Same here.  Coverage shows 0% despite actual coverage of 100%.

[2015-07-27 16:49] jimdelois commented on #589
Same here.  Coverage shows 0% despite actual coverage of 100% on my PHP project.

[2015-07-27 16:49] joeybloggs commented on #583
Having the same issue myself with my go project
<img width="1031" alt="screen shot 2015-07-27 at 12 48 24 pm" src="https://cloud.githubusercontent.com/assets/8068371/8912016/d2a7eb44-345d-11e5-80a3-3ce43a2d29a3.png">

[2015-07-27 16:58] lo1tuma commented on #589
Same here.

[2015-07-27 16:58] nickmerwin commented on #589
Hi all, we're working on this now.

[2015-07-27 17:28] bcoe commented on #589
thanks @nickmerwin. I'm projecting good vibes from the npm offices in Oakland, looks like a frustrating ops weekend.

[2015-07-27 17:53] moreati opened #593 "Coveralls logo on coveralls.zendesk.com is 404"
I assume it's a side effect of your recent platform upgrade.

It's trying to use https://coveralls.io/assets/coveralls_logo-1f2ba4b3183e47d49d1f7ae1ae9d8d22.png.
It should probably use https://coveralls.io/assets/coveralls_logo-c2066e4cdffe3009caeb1addd5154cde.png

Not exactly high priority, but thought you'd like to know.

[2015-07-27 19:13] anjin commented on #593
Thanks!

[2015-07-27 19:13] #593 closed

[2015-07-27 19:30] nickmerwin commented on #591
Hi @kapluni this is fixed now, your builds are now reporting ~70% coverage.

Thanks!

[2015-07-27 19:30] #591 closed

[2015-07-28 06:05] simov commented on #586
Now it's showing `100%` but then again that's not true either.

[2015-07-28 06:10] simov commented on #589
Now I'm getting `100%` test coverage, which would be great if it was true https://github.com/lemurheavy/coveralls-public/issues/586

[2015-07-28 10:11] telemachus commented on #589
I'm also showing 100% coverage ([here's the latest job](https://coveralls.io/builds/3157178)). In my case it's true, but still a problem if it's just flipped from 0% to 100%!

[2015-07-28 12:27] simov commented on #586
Back to normal for me https://coveralls.io/github/simov/purest

[2015-07-28 12:27] #586 closed

[2015-07-28 12:28] simov commented on #589
Back to normal for me https://coveralls.io/github/simov/purest

[2015-07-28 14:23] jimdelois commented on #589
No change here.  Project is 100% covered, but showing 0%.  [ https://coveralls.io/github/improvframework/http-constants ]

[2015-07-28 14:25] simov commented on #589
@jimdelois rebuild https://travis-ci.org/improvframework/http-constants/builds/72867556

[2015-07-28 14:40] jimdelois commented on #589
@simov Yes!!  That seems to have worked for me, thanks for the tip.  I joined Coveralls over the weekend so am hoping the shaky onboarding was isolated - seems like a great product otherwise.

[2015-07-28 16:22] nickmerwin commented on #589
Thanks @jimdelois and @simov! yeah I think the dust has finally settled from the **The Great Coveralls Migration**.

Cheers!

[2015-07-28 16:22] #589 closed

[2015-07-28 16:49] sandlerben opened #594 "Coverage data quite incorrect"
The coverage data for the go-torch (https://coveralls.io/github/uber/go-torch) repository is incorrect. Coveralls says that visualization.go and main.go contain 0 lines (which is clearly not true). Moreover, there are lines in graph.go which Coveralls says are uncovered (i.e. 97-102) which are shown as covered by gocov. They are definitely covered.
<img width="977" alt="screenshot 2015-07-28 09 41

[2015-07-28 16:50] nickmerwin commented on #594
Hi @sandlerben could you trigger another build? We had a post-hosting-migration issue yesterday where this was a symptom.

Thanks.

[2015-07-28 17:05] sandlerben commented on #594
How do I trigger a building without changing my repo?

[2015-07-28 17:08] nickmerwin commented on #594
Ah it's a button on Travis:

On Tue, Jul 28, 2015 at 10:05 AM, Ben Sandler <notifications@github.com>
wrote:

--
Nick Merwin
*LEMUR Heavy Industries*
*p 323.275.4588 | c 213.304.2136 | lemurheavy.com <http://lemurheavy.com/>*

[2015-07-28 17:09] nickmerwin commented on #594
![unnamed](https://cloud.githubusercontent.com/assets/1129/8937995/a92eed7c-3510-11e5-803b-e8987996b385.png)

[2015-07-28 19:17] shaeberling commented on #572
I have exactly the same problem, tried the same steps to fix it, also didn't help.

This is the repository:
https://coveralls.io/github/shaeberling/winston

[2015-07-29 02:50] Robpol86 commented on #544
+1 My Python projects are tested on Linux (via Travis CI) and Windows (via Appveyor). It would be nice if Coveralls would combine coverage for the same git commit/tag.

[2015-07-29 05:43] nickmerwin commented on #572
Hey @macfreek and @shaeberling,

We pull the source from Github on-demand so it doesn't inflate our storage size, and we need to use your Github access token so ours doesn't get rate limited.

I confirmed your GH token is no longer valid and have manually removed it. Could you log back in to Coveralls and let me know when you do? I'll check to see if there's something else going on.

THanks!

[2015-07-29 07:04] adblair commented on #539
I signed up with Coveralls for the first time today and am experiencing this issue. All I see is: ![Your repos are syncing...](https://cloud.githubusercontent.com/assets/3610573/8951738/06b637ae-35f0-11e5-8121-98d22ea0cd57.png)

[2015-07-29 10:57] gvolpe commented on #460
I'm facing the same issue. The last build report a coverage of %95.45 but the badge shows unknown.

It seems that the problem is that Coveralls is creating a new branch for every commit but I can see only the master branch.

This is my project: https://coveralls.io/github/gvolpe/light-play-rest-api. I'm using Codeship for CI.

[2015-07-29 12:47] macfreek commented on #572
Awesome, it works now!

I went to coveralls.io and was still logged in. I logged out from the menu.
Clicked "Get started for free", then "Github sign-up". I was Immediately logged in.
I Went to repo, and checked out the file.
Coveralls.io displayed the file right away.

[2015-07-29 12:48] macfreek commented on #572
@shaeberling Could you close the ticket if it also works for you now?

[2015-07-29 13:54] reflexdemon commented on #594
Hey,

Just re run your build. The coverage data is captured correctly now.

I was just browsing through https://github.com/lemurheavy/coveralls-public/issues/594 and found that the issue is resolved now.

This issue is good to close now.

[2015-07-29 13:57] ashwin31 opened #595 "repo is not adding"
My repository didn't get added to coveralls and after few re-sync tries, I have asked my colleague to add the repo from his account and it did show up in his account it didn't in my account even after 2hours.

https://coveralls.io/github/MicroPyramid/pietrack

[2015-07-29 16:09] shaeberling commented on #572
Perfect, it worked for me as well, thanks for your help!

(I can't close the ticket since I haven't created it)

[2015-07-29 16:48] nickmerwin commented on #572
Glad to hear it, thanks all!

[2015-07-29 16:48] #572 closed

[2015-07-29 16:49] nickmerwin commented on #594
Thanks @reflexdemon!

[2015-07-29 16:49] #594 closed

[2015-07-29 16:57] nickmerwin commented on #460
Hi @gvolpe your branch is showing ```5d6b8dc3f59139fd116943141fff1bb627036128```, and Coveralls is looking for `master` by default. Could you check your Coveralls integration library configuration?

@evoskuil we're now including an ETag for badges, thank you!

[2015-07-29 16:57] #460 closed

[2015-07-29 17:01] sbourdeauducq opened #596 "source not available"
I get the following message when trying to see the contents of a file:
The owner of this repo needs to re-authorize with Github; their OAuth credentials are no longer valid so the file cannot be pulled from the Github API.

I tried following the instructions of issue #375 but it still does not work.

[2015-07-29 17:01] sbourdeauducq commented on #596
My repository is m-labs/artiq

[2015-07-29 17:22] evoskuil commented on #460
@gvolpe Cool, thanks!

[2015-07-29 18:36] anshulverma commented on #461
There seems to be a migration going on at the moment. So if this is still happening for anyone, keep an eye out for this: http://blog.coveralls.io/2015/07/23/Downtime-From-Big-Migration/

[2015-07-29 19:10] nickmerwin commented on #461
Thanks @anshulverma -- the migration is done, if anyone still has issues, please log out / in to refresh your github token.

Thank you!

[2015-07-29 19:10] #461 closed

[2015-07-29 19:44] anshulverma commented on #461
Yup..that fixed it. Thanks @nickmerwin

[2015-07-29 20:06] nickmerwin commented on #595
Hi @ashwin31 we just released a bit of improved Github token error handling. Could you try re-syncing again now?

Thanks!

[2015-07-30 02:04] r-park commented on #577
Looks like the duplicate entries that don't have the `GITHUB` button are pointing to non-existent Bitbucket repos — basically the opposite of issue #584

[2015-07-30 08:41] gvolpe commented on #460
Hi @nickmerwin

I think the configuration is fine. The branch you mentioned is created by Coveralls using the commit hash as a name (https://github.com/gvolpe/light-play-rest-api/commit/5d6b8dc3f59139fd116943141fff1bb627036128), and actually it's creating a new branch with every commit. If you take a look at my repository the only existent branch is master (https://github.com/gvolpe/light-play-res

[2015-07-30 10:12] telemachus commented on #596
I'm having this same problem on three repos from Bitbucket, all of which are public:

+ https://coveralls.io/bitbucket/telemachus/tapered
+ https://coveralls.io/bitbucket/telemachus/tableutils
+ https://coveralls.io/bitbucket/telemachus/split

I don't see any message about re-authorization. Any attempt to view source files simply leads to a [500 error](https://coveralls.io/builds/3178049/source?fi

[2015-07-30 10:15] telemachus commented on #585
This problem continues to occur. Any pushes I do for my [split repo](https://coveralls.io/bitbucket/telemachus/split) end up in my [tapered log](https://coveralls.io/builds/3178016).

[2015-07-30 11:56] telemachus commented on #585
I fixed this by removing both repos from Coveralls and then adding them back. Odd, but not as important as source files not uploading.

[2015-07-30 11:56] #585 closed

[2015-07-30 14:24] DanielHKim commented on #590
Not sure if I have the same issue exactly but I randomly had half of the files in my repo drop to 0% for no apparent reason and it's stuck that way at the moment.

[2015-07-30 16:13] nickmerwin commented on #590
Hey everyone, your builds should be processing as normal now. Please let me know if you see any come in still showing this behavior.

@DanielHKim could you link me to your repo?

[2015-07-30 16:13] #590 closed

[2015-07-30 18:11] bel2125 commented on #576
It seems to work after the last update a few days ago.
It takes some time to load (which is ok), then I do not get a timeout anymore, but I can access the coverage report (e.g., https://coveralls.io/files/1005275195).

I will keep on testing for a while and close the issue if it does no longer occur.

[2015-07-30 21:27] jessaustin commented on #595
All day long I've been hitting the `RE-SYNC REPOS` button at https://coveralls.io/repos/new. I just get a permanent `Your repos are syncing...` message. When after an hour I give up and reload the page, it lists only my older repos.

[2015-07-30 21:34] nickmerwin commented on #595
Hi @jessaustin could you try logging out and back in?

[2015-07-31 00:42] JSkimming commented on #595
I've just had the same issue, logging out and back in again fixed it, in that I was then shown the updated repo list.

[2015-07-31 07:08] ashwin31 commented on #595
Hi @nickmerwin I found no luck https://coveralls.io/repos/new?name=MicroPyramid&service=github

there is a new repository "pietrack" and that is not getting added to my account. Let me know if I can help you by providing any additional information.

[2015-07-31 22:02] kruton commented on #520
I have the same issue with a transferred repo; did anything come from your inquiry to GitHub?

[2015-08-02 20:06] nWidart opened #597 "New repositories not being synced"
Hello,

When clicking the "Re-sync" button, new repositories are not being synced.
Anything I can do ?

Thanks

[2015-08-04 05:36] jessaustin commented on #595
Thanks @nickmerwin that did it.

[2015-08-04 09:20] ashwin31 commented on #595
Thank you, its working now.

[2015-08-04 09:20] #595 closed

[2015-08-05 06:56] elct9620 opened #598 "Committer become git username, not sync with github username"
My coveralls committer show as github username and working well, but about two days ago it becomes git display name. Is it a bug or a new feature change?

[2015-08-05 07:19] j0k3r commented on #520
Same issue here after transferring a repo from an account to an organisation.
Any news ?

[2015-08-05 08:57] mkroetzsch commented on #520
FWIW, we are seeing similar symptoms on our project, Wikidata Toolkit. This public project has not been transferred or otherwise changed its coveralls/Travis configuration in the past year. The coveralls comments on PRs just stopped working recently. Coveralls has all relevant coverage results on its pages, including coverage for merging PRs into master, and the configuration is set to enable "lea

[2015-08-05 11:08] gvolpe opened #599 "Strange behavior regarding the coverage badge"
Hi, I'm creating this issue because there's another one similar but it's closed and inactive since my last comment (https://github.com/lemurheavy/coveralls-public/issues/460).

To recap, the last build reports a coverage of %95.45 but the badge says unknown.

It seems the problem is that Coveralls is creating a new branch for every commit (using the commit hash for the name) but it's taking the ma

[2015-08-05 14:30] mrpatrick commented on #597
+1 I'm having the same issue - any word on this???

[2015-08-05 23:59] paulzolnierczyk commented on #568
I'm having the same problem too.  I just started a Coveralls subscription and added a private repo. I have a master branch and a develop branch, I can't see the develop branch or get to it.  develop is where all my code is at right now.

[2015-08-06 19:18] nickmerwin commented on #568
hi @inirudebwoy and @paulzolnierczyk the branch dropdown will only show branches that we've received coverage data for.

If it still looks like there's an error please let me know, thanks!

[2015-08-06 19:18] #568 closed

[2015-08-06 19:24] nickmerwin commented on #520
hi @mkroetzsch I checked your account and your Github token has rolled -- could you log out and back in? PR statuses should be posted correctly for your repos after that.

@j0k3r we're working on a repo location sync'ing function right now.

I'm going to close this issue for now, thanks!

[2015-08-06 19:24] #520 closed

[2015-08-06 19:50] nickmerwin commented on #598
Hi @elct9620 we still just use the git committer name that's passed in from the coverage data, perhaps your configuration changed?

[2015-08-06 19:50] #598 closed

[2015-08-06 19:51] nickmerwin commented on #597
hi @nWidart and @mrpatrick are you expecting to see a repo from an organization where your membership isn't made public? In that case you'll need to upgrade your OAuth token here:

https://coveralls.io/refresh?private=true

[2015-08-06 19:54] jodal commented on #597
I don't think so. I experienced this myself today. Several times I tried to resync repos for an org with only public repos and waited for >1 hour without any new repos being discovered.

Tonight everything worked nicely.

[2015-08-06 19:57] mrpatrick commented on #597
Nothing has changed - I can see all my org repos but it hasn't updated it with any of the new repos that have been created since I originally signed up.  When I hit "resync repos" it just hangs for hours and never does anything.  I'm only trying to enable this for one of my org's public repos (this has worked in the past - seems like it just stopped working recently).

[2015-08-07 01:43] elct9620 commented on #598
Yes, I found my git config missing, and I fixed it.

[2015-08-07 19:12] nickmerwin commented on #599
Hi @gvolpe it looks like your Coveralls integration library isn't setting the branch name correctly at build time -- it's using the commit SHA incorrectly instead.

You may want to open an issue with them directly.

Thanks.

[2015-08-07 19:12] #599 closed

[2015-08-07 19:33] nickmerwin commented on #596
hi @telemachus that's fixed now and source from all 3 of your repos is loading.

@sbourdeauducq I'm seeing a Github error when viewing a source file in your repo:
https://coveralls.io/files/1024646802

I'll check back in a bit to see if it's still happening.

[2015-08-07 22:12] telemachus commented on #596
@nickmerwin Thanks

[2015-08-08 02:02] marcellodesales commented on #477
This is happening to my repository...

https://github.com/intuit/node-pom-parser/
https://coveralls.io/github/intuit/node-pom-parser?branch=master

How can I fix this??? I noticed that the URL redirects to a resource on Amazon with the percent value... Would that be a problem? Accessing the URL from the browser works, but not from the README.md.

[2015-08-09 08:44] tedivm opened #600 "Attempting to view files results in errors."
When I attempt to view files I get the "source not available" page. I have confirmed that the right path is in place, and that this project points to the right repository.

If you want to confirm this for yourself the repository is-

https://coveralls.io/github/tedious/Stash

https://github.com/tedious/Stash

[2015-08-09 22:23] bytekast opened #601 "Add ability to share project"
As a user, I want to be able to share the project with other users or clients

[2015-08-09 22:49] tedivm commented on #600
Figured out the error, please ignore.

[2015-08-09 22:49] #600 closed

[2015-08-10 15:17] asottile commented on #597
+1, having issues syncing (recently created) asottile/virtualenv-hax

[2015-08-10 19:12] #601 closed

[2015-08-10 20:33] akrherz commented on #596
Sorry to be annoying, but I continue to see this error on about 80% of the website requests I make for my source code coverage.  This page https://coveralls.io/files/1024646802 also currently errors as per above.

[2015-08-11 09:58] gvolpe commented on #599
Hi @nickmerwin,

It's working now using travis-ci. But it doesn't work using Codeship. Both Travis and Codeship execute the 'sbt coveralls' command successfully. The main difference is that Travis has the 'after_success' stage where it's actually running 'sbt coveralls'. in Codeship the command is running after 'sbt coverage test' but it doesn't have an 'after_success' stage.

Getting Coveralls to

[2015-08-11 14:49] daurnimator opened #602 "Coverage of > 100%"
e,g, this build/file is showing coverage of 115.38%: https://coveralls.io/builds/3274106/source?filename=.%2Fhttp%2Fbit.lua

[2015-08-11 15:13] tshead2 commented on #596
I've been getting "SOURCE NOT AVAILABLE
Sorry, the Github API returned an internal server error, please try refreshing this page in a moment." when viewing source code, ~99% of the time, for the past couple of days.  I've experienced this using two different machines on two different networks.  Every once in a while, the source code view will work, then it's gone again some time later.  Here's an

[2015-08-12 12:55] bel2125 opened #603 "Coveralls does no longer work after transfering a repository"
I have an open source project (MIT licensed) on github, as a repository linked to my user github account (bel2125/civetweb). This repository had a working coveralls integration.
The project has reached a size and level of activity, where it made sense to create a github organization for it. A week ago, I transferred the repository to this organization, where I am the owner, so my GitHub user bel21

[2015-08-13 20:44] hockeybuggy commented on #533
I am having what may be the same issue. Any resolution?

[2015-08-14 17:24] frioux commented on #330
Still case sensitive, a year later :(

[2015-08-14 19:42] wli commented on #552
If you're using rspec with rails, this is what worked for me:

[code]

I didn't need any changes to my `circle.yml` file.

[2015-08-17 11:34] PyroSA commented on #36
Same problem. :+1:

[2015-08-19 19:24] chrismichaels84 commented on #603
I have had the same problem with spider/spider. I moved it from chrismichaels84/spider-graph. Travis CI has updated (after forcing it to), and the new organization is authorized.

When I try to add the new repo, it asks me to Re-authorize github. When I do, it tries to sync my repos, but I've let it sit for an hour and it never gets past the spinning wheel. I have no way of getting the new organiz

[2015-08-20 17:21] charlietran commented on #366
+1 to this, sorely needed!

[2015-08-20 18:30] electricjones opened #604 "Organization not showing up when syncing repos"
I have read through the issues here and tried all of the suggestions. I'm not sure what I'm doing wrong.

I have a personal github account and two repositories. One I've had for a long time and it syncs fine. The other I've created in the last month. I've just setup Travis on a public repo in that organization (spider/spider). I am a public team member and owner.

When I go to add repos, it asks m

[2015-08-22 03:48] chrismichaels84 commented on #604
I have found that the only way to get spider to show up is, on github, to remove any third-party restrictions for the organization. That worries me. I tried enabling and disabling, but spider disappeared as soon as it was disabled again.

Coveralls does show up on my list of enabled applications. I've also tried to create another github user with admin rights and couldn't get the organization to s

[2015-08-23 18:24] drissamri opened #605 "HipChat integration not working with a bitbucket repository"
After setting up the channel API key I get following exception when testing the integration: Error: undefined method `bitbucket_repo_path' for #<HEX>'

[2015-08-24 11:11] TizianoPerrucci opened #606 "Not picking up changes"
Hi,

I'm using coveralls for an open source project https://coveralls.io/github/StarterSquad/prudentia but since few weeks isn't picking up new commits to any branch.
What can I do?

Thanks in advance.
Regards,
Tiziano

[2015-08-25 16:11] charlietran commented on #366
FYI, I think this issue can be closed because the fix is on Codeship's side, not Coveralls. I wrote in to their support regarding this issue and they said "we have upgrades to our PR handling planned for later this year", i.e. they're going to start setting the `CI_PULL_REQUEST` env var correctly.

[2015-08-26 15:37] anselmbradford commented on #36
:+1:

[2015-08-26 15:37] jimmynotjim commented on #36
We're having the same problem with [cfgov-refresh](https://github.com/cfpb/cfgov-refresh) where we don't even use a `master` branch.

[2015-08-26 16:48] kbrock commented on #565
This is just a common math comparison error in all IEEE float numbers.

Could you use `round` and/or compare using a small rounding factor?

[code]

[2015-08-26 17:51] charlietran opened #607 "Don't report coverage if CI reports failure"
Our CI (Codeship) supports running our builds across multiple VMs, so we split up our specs among multiple machines running RSpec, and each one reports coverage back to Coveralls at the end. If RSpec fails in one of the VMs, the build fails, but Coveralls still generates an incorrect partial coverage report.

Can we have a setting to ignore coverage reports from builds that have failed?

[2015-08-27 10:08] ocadaruma commented on #430
:+1:

[2015-08-27 10:10] hiraiva commented on #430
:+1:

[2015-08-27 11:37] samuelcolvin opened #608 "subscription cancellation"
Hi you're refusing to respond to our support requests to cancel our subscription, your system is broken so we cannot cancel it ourselves and now you've **taken money from our account without consent**.

Please reply to support request id473 immediately.

[2015-08-27 13:17] jcoyne opened #609 "Feature request: Configure Failure state. Coverage change and total coverage."
It's annoying that builds are marked as failure when coverage decreases by a minimal amount (usually due to removing covered code) even though the total coverage is pretty good.  If we be awesome if you could configure failure as either "coverage decreased by > x% OR total coverage is below y%"  Perhaps these variables could go into .coveralls.yml

In my own personal case, I'd like to configure th

[2015-08-27 17:52] #608 closed

[2015-08-28 12:42] hugovk opened #610 "PRs: "First build on master""
I've noticed pull requests are no longer reporting coverage against the upstream master.

For example, [this PR](https://github.com/python-pillow/Pillow/pull/1398) says:

This isn't much use. The check used to say how much the coverage had increased or decreased based on the upstream fork.

Is there some new setting or something missing from our repo/Coveralls configuration?

[2015-08-28 21:29] jpnurmi commented on #573
:+1:

[2015-08-31 22:46] laprej opened #611 "ROSS issues"
Hi,

The ROSS project (https://github.com/carothersc/ROSS) has been happily using Coveralls for quite some time.  After pulling in some CMake-Coveralls related changes, however, we've been getting the "Couldn't find a repository matching this job." error from curl.  It must have been something in the latest commit (carothersc/ROSS@8b5c9ecb776f7fb72c67f0567a2aa9cfa22af08c) but I can't see any probl

[2015-08-31 22:48] nickmerwin commented on #611
Hi @laprej I just checked -- your GH token has rolled, could you log-out and back in and try the build again?

Closing for now, thanks!

[2015-08-31 22:48] #611 closed

[2015-08-31 23:49] laprej commented on #611
I didn't even realize that could happen.  I thought I was going to die with that token ;)  Alas, unfortunately that didn't fix the issue.

[2015-09-01 00:06] nickmerwin commented on #611
Ok it may be that your Coveralls post isn't passing along the repo token properly any more. Could you check that config?

Thanks.

[2015-09-02 02:18] dsernst commented on #539
Still happening. :bug:

Logged into my coveralls account for the first time in a year, and it hasn't updated my repo list since. Can't use it now because it's stuck on this syncing phase.

[2015-09-02 22:55] nickmerwin commented on #539
Hi @dsernst I just checked your account and your github credentials had rolled. Could you log out and back in to reauth?

[2015-09-02 22:56] nickmerwin commented on #539
@adblair @troch have you been able to sync your repos in the meantime?

[2015-09-02 23:05] dsernst commented on #539
@nickmerwin: yes, signing out and back in did the trick. Thank you! :smile:

[2015-09-03 09:06] dawagner commented on #596
I have the same issue on https://coveralls.io/github/01org/parameter-framework - I tried #375 too (enabled private repos, unlinked/relinked my account) to no avail.

[2015-09-03 11:14] petemoore opened #612 "Another case of 422 http response"
See https://travis-ci.org/taskcluster/slugid.py/builds/78554815#L149

It failed the first time, I retriggered, and got the error again, so it seems to be consistent.

The github repo is enabled in coveralls.

This is a _public_ open-source repo, running from travis-ci.org.

Thanks!

[2015-09-03 23:38] Snaipe opened #613 "Merge multiple builds from different CI but same commit hash"
I have a setup with two CI servers, one using Linux (Travis) and the other Windows (Appveyor); however, the coverage reports appears to be separated even though the commit hash is the same.

Shouldn't reports for the same commit, regardless of the CI service or job ID, be merged ?

[2015-09-04 03:27] emn178 commented on #597
+1, I can not see my new public projects.

[2015-09-04 07:56] emn178 commented on #597
finally, it shows up after I re-login website.

[2015-09-04 07:58] nWidart commented on #597
Sorry for late response, but @nickmerwin , my membership is public.

The 'fix' for me was to re-authenticate, not clicking the "re-sync" button which did nothing.

[2015-09-04 11:07] adblair commented on #539
@nickmerwin Yes, I have now been able to sync successfully.

[2015-09-04 19:36] mtlynch commented on #596
I'm seeing this on a public repo as well for a public repo on Github:

https://coveralls.io/github/m-lab/telescope

I tried unlinking and re-linking my Coveralls account with Github and re-syncing my repos, but the problem persists.

[2015-09-04 21:19] nickmerwin commented on #596
hi @mtlynch that's because your repo's original owner has since removed their account. I've added a function to claim ownership of an orphaned repo if you have admin rights on it.

You can click the new "Claim" button on the repo page here:

https://coveralls.io/github/m-lab/telescope

Cheers!

[2015-09-04 21:19] #596 closed

[2015-09-04 21:22] nickmerwin commented on #596
PS, @dawagner @tshead2 your repo had the same issue, since the original owner has since left.

@akrherz the owner of your repo @jordens needs to reauthorize.

[2015-09-04 21:33] tshead2 commented on #596
@nickmerwin - thanks for the followup, but I'm looking at

https://coveralls.io/github/sandialabs/toyplot

and I can't find a "claim" button.  Where is it located?

[2015-09-04 22:08] nickmerwin commented on #596
@tshead2 ok you should see it now under the builds list.

[2015-09-04 23:19] tshead2 commented on #596
@nickmerwin - thanks, that did the trick - the source code is visible now.  However I am skeptical about your explanation - the repo I just claimed was created by me, and is owned by a github.com organization I created, where I'm a member of the owners group, and have been continuously without any breaks.  The organization does have other owners, and members that have come and gone from other grou

[2015-09-04 23:21] nickmerwin commented on #596
@tshead2 hm did you recently change you github username?

[2015-09-04 23:28] tshead2 commented on #596
@nickmerwin - nope, I've never changed a username.  I do switch back-and-forth between personal and work github accounts, perhaps that might cause confusion with OAuth?

[2015-09-05 17:54] mtlynch commented on #596
@nickmerwin thanks for the response!

I'm still not seeing a "Claim" button under my builds. Like @tshead2 my experience doesn't match your description. I'm an owner of my repo and I was the one who added it to Coveralls.

In trying to work around other issues, I tried unlinking my Github account, then re-linking and also tried disabling Telescope in Coveralls, then re-enabling, but there should n

[2015-09-05 19:58] akrherz commented on #596
@nickmerwin thanks for the response.  I have no idea who @jordens is nor does he own any of my repos... For example, https://coveralls.io/builds/3369450/source?filename=pyiem%2Fobservation.py and https://github.com/akrherz/pyIEM/blob/master/pyiem/observation.py

[2015-09-06 21:38] gajus opened #614 "repo_token does it need to be public?"
If I do not add `repo_token` to https://github.com/gajus/react-css-modules/blob/master/.coveralls.yml then my [travis-ci tests fail with an error](https://travis-ci.org/gajus/react-css-modules/jobs/79041532):

[code]

However, the documentation says it should not be made public.

How to configure coveralls to work with travis-ci?

[2015-09-07 08:37] dawagner commented on #596
@nickmerwin I do not see the "claim" button either. The original creator of the repository is still a member of the owning organization (but the membership of that person is private).

Also, I have the same issue on my fork of the repository: https://coveralls.io/github/dawagner/parameter-framework

Thanks for looking at this issue :)

[2015-09-08 16:21] sbromberger opened #615 ""SOURCE NOT AVAILABLE" even though I've reauthorized"
I keep getting

SOURCE NOT AVAILABLE
The owner of this repo needs to re-authorize with github; their OAuth credentials are no longer valid so the file cannot be pulled from the github API.

and I've tried pretty much everything but deleting my coveralls repos and starting over: I've revoked and re-granted coveralls access, and I've logged out and in on both Coveralls and GitHub. I've tried these t

[2015-09-08 16:53] nickmerwin commented on #615
Hi @sbromberger could you link me to the repo you're having this issue with?

Thanks!

[2015-09-08 16:54] sbromberger commented on #615
https://coveralls.io/builds/3513213 is the build, and https://github.com/JuliaGraphs/LightGraphs.jl is the repo.

[2015-09-09 05:02] nickmerwin commented on #615
@sbromberger ok you should be able to access it now. Let me know, thanks!

[2015-09-09 05:02] #615 closed

[2015-09-09 05:09] nickmerwin commented on #596
Alright all, I've changed the way source is pulled from Github API -- it will default to use the OAuth token of the user currently on the site, as opposed to always the repo owner. That way you should be able to see any source file you have access to, regardless of whether or not the owner's tokens have expired.

@tshead2 ok that could have been it, thank you for the clues.

@mtlynch you should be

[2015-09-09 05:14] nickmerwin commented on #614
@gajus you should be able to omit your `.coveralls.yml` file completely since you're using free travis. Could you try that?

Thanks!

[2015-09-09 05:14] #614 closed

[2015-09-09 05:43] nickmerwin commented on #612
hi @petemoore did you disable the Coveralls integration in the meantime? I checked your Github tokens and they're valid now -- they might have been expired at the time you were getting the 422 errors. Could you re-enable and try again?

Thanks!

[2015-09-09 07:19] gajus commented on #614
Thats the first thing I have tried.

[code]

[2015-09-09 08:58] petemoore commented on #612
@nickmerwin I didn't (knowingly) disable the integration. To me it looks like the repo is enabled in coveralls now, but when I rebuilt in travis, I still get the same failure. Here is the one I just ran:

https://travis-ci.org/taskcluster/slugid.py/builds/78554815#L148

Thanks,
Pete

[2015-09-09 09:15] dawagner commented on #596
@nickmerwin thanks, it works now :)

I only use one account.

[2015-09-09 12:19] akrherz commented on #596
@nickmerwin thanks, it works for me too now.  Unsure why you associated my comments with the m-labs repo, I have nothing to do with that repo.

[2015-09-09 13:45] tomekwi commented on #550
I struggled with the “Re-authorize with github” button but I managed to find a solution.

I decided to restrict access for third-party apps to some of my organizations. After that coveralls could no longer access my account even though I explicitly granted access to these orgs for the app “Coveralls”.

It turns out it’s not “Coveralls” (above) that needed the access granted, but “Coveralls Pro” (t

[2015-09-09 14:06] mtlynch commented on #596
@nickmerwin - Thanks! That fixed it. I can now see line level coverage in https://coveralls.io/github/m-lab/telescope

@akrherz I think maybe @nickmerwin got streams crossed along the way. m-lab (no s) is my org, no relation to m-labs

[2015-09-09 14:13] mtlynch commented on #596
Oh, hmm. One remaining issue I noticed. You can't see line level coverage if you're not signed in. Is this by design?

e.g. If for this URL:

https://coveralls.io/builds/3516151/source?filename=telescope%2Fquery.py

If I'm signed in as **mtlynch** I can see the source and line level coverage.
If I'm not signed in to Coveralls, I see:
[code]

[2015-09-10 12:18] gajus commented on #614
@nickmerwin If this is a bug, then this issue should be open.

[2015-09-10 13:29] dolfelt opened #616 "Cannot Change Source"
I am trying to change the source (since we renamed it) on this page: https://coveralls.io/github/sparkphp/Spark

Our repo was recently renamed sparkphp/Spark → sparkphp/spark

On that page I don't see a change source like I'm supposed to. Can you please help?

![image](https://cloud.githubusercontent.com/assets/202546/9789474/fd7b3f3c-5795-11e5-966a-7fe8a335de60.png)

[2015-09-10 16:34] 304NotModified commented on #329
+1

[2015-09-11 08:19] Petikoch commented on #597
+1, I can not see my new public projects.

[2015-09-11 18:31] peterbe commented on #298
I have this problem too. Coveralls used to submit PR comments but it, at some point, stopped and no longer does. This issue is over a year old :(

[2015-09-11 18:34] peterbe opened #617 "Pull Request comments no longer working"
I used to have it working on github.com/mozilla/airmozilla. Every PR would get a comment by the coveralls bot about the ups or downs.

I most definitely have it enabled
![screenshot 2015-09-11 11 34 12](https://cloud.githubusercontent.com/assets/26739/9823096/121c22ec-5879-11e5-9ef7-9f230027a52d.png)
But clearly it's not working.

The FAQ has no information about it.

[2015-09-12 06:19] PatelUtkarsh opened #618 "Pricing issue"
Check this links.

On clicking monthly plans it shows all plans and on clicking yearly it don't show any plans.

[<img src="http://goo.gl/GMbknO">](#)

[<img src="http://goo.gl/amJyQy">](#)

[2015-09-12 16:52] madhums commented on #604
having the same issue! :(

[2015-09-13 18:02] jwaldrip opened #619 "Slowness and Errors"
About 65% of the time, the API returns a 504 when circleci tries to push to it. In addition, trying to visit our repos page takes almost 30 seconds to load.

https://coveralls.io/github/brandfolder/boulder

[2015-09-13 19:43] drivet opened #620 "Coveralls thinks there are no changes, but there are"
I'm working on this repo:

https://coveralls.io/github/drivet/yawt

My latest changes bumped the coverage by a couple of percent (according to the output of travis ci), but although coveralls sees the new commit, it seems to think that there are no changes. This appears to be a bug.

[2015-09-13 20:18] elboletaire commented on #530
Same here

[2015-09-13 23:33] matee911 commented on #519
@nickmerwin I'm still getting 422 error. See https://travis-ci.org/matee911/GrimReaper/jobs/80154049

[2015-09-14 22:16] ns3777k commented on #620
Got similar problem. I'm not seeing new commits at all on repo's dashboard or right panel. If I check jobs it says nothing actually changed, but there are changes (~10%).
Didn't have this problem yesterday.
(https://github.com/ns3777k/go-shodan)

[2015-09-15 00:02] dylangrafmyre opened #621 "Paid for Pro account, but now it is gone?"
Hello,

I signed up and paid for a pro account https://coveralls.io/github/shakacode/ today. The owner of the github org. approved access for coveralls. The repo was synced and updating.

However, after logging back in, coveralls wanted me to re-authorize github and the paid org is missing, but the synced repo is still there https://coveralls.io/github/shakacode/react-webpack-rails-tutorial with a

[2015-09-15 00:02] starcraftman commented on #620
There seems to be some problem on coveralls receiving the data. I run the report command at the end of the tests and that looks fine. I've noticed this started 4 days ago for me.

For some, I get a 503 error on submit: [see bottom](https://travis-ci.org/starcraftman/pakit/jobs/80314687)
Other times they show as submitted but garbage output: [travis](https://travis-ci.org/starcraftman/pakit/jobs/80

[2015-09-15 01:44] nickmerwin commented on #621
hi @dylangrafmyre it looks like your Github OAuth token isn't able to access the Shaka Code organization's repos.

Could you try revoking access (https://github.com/settings/applications) and signing in again through this link?

https://coveralls.io/refresh?private=true

Thanks!

[2015-09-15 08:02] robinandeer commented on #592
Hi,

did you get this working? I seem to have a similar issue where the build show 100% coverage but the individual job shows 0% - and badges show 0%

https://coveralls.io/builds/3572910

[2015-09-15 08:03] jmcs opened #622 "Coverage not stored for master"
In https://coveralls.io/github/zalando/lizzy I can only see coverage for a feature branch and I can't see the master branch

[2015-09-15 08:14] #622 closed

[2015-09-15 08:14] jmcs commented on #622
It was just outdated

[2015-09-15 10:27] starcraftman commented on #620
Seems like this morning the coveralls site is properly reporting branches I pushed while down (except the 503 ones). New ones are showing up promptly.

@ns3777k & @drivet check if you are also fixed, if so guess we can close this issue.

[2015-09-15 10:34] ns3777k commented on #620
@starcraftman works for me. thx

[2015-09-15 12:07] drivet commented on #620
Indeed, things seem okay now.

[2015-09-15 14:41] htynkn commented on #530
Same issue.

For all PR,  `coverage/coveralls — Coverage pending from Coveralls.io`

[2015-09-15 18:57] mtlynch opened #623 "Source on public repo not available except to owner"
I mentioned this on #596 but it seems like that issue might be buried since it's closed now.

I have this public repo:

https://github.com/m-lab/telescope
https://coveralls.io/github/m-lab/telescope

If I'm signed in with my Github credentials, I can see [line-level coverage](https://coveralls.io/builds/3516151/source?filename=telescope%2Fquery.py), but when I'm not signed in, Coveralls shows this

[2015-09-15 19:10] dylangrafmyre commented on #621
@nickmerwin Thank you! This issue is resolved.

[2015-09-15 19:42] nickmerwin commented on #621
Great, cheers!

[2015-09-15 19:42] #621 closed

[2015-09-15 19:53] RignonNoel opened #624 "Problem comment PR on repo public but coveralls.io website is ok"
Coveralls doesn't work with github PR on my public repo :
https://github.com/MaisonLogicielLibre/Website/pull/18

The website has worked and it's ok :
https://coveralls.io/builds/3579465

After research i doesn't need to allow comment because my repo is public.
I just need to let "Leave comments?" checked in the settings repo on the website of coveralls.io.

So, any idea? It's me or the service? T

[2015-09-16 11:27] gajus commented on #614
@nickmerwin ping

[2015-09-16 11:36] gajus commented on #614
Related https://github.com/nickmerwin/node-coveralls/issues/93.

[2015-09-16 11:58] gajus commented on #614
https://github.com/nickmerwin/node-coveralls/issues/93#issuecomment-140719973

[2015-09-17 11:28] whitneyit opened #625 "Getting 422 error."
I have received a email in regards to this but that was over 2 weeks ago. I spoke with Nick Merwin.

This is an issue with a pro account and I have been waiting almost a month for a response. Can we please esculate this?

The zendesk request is 475.

[2015-09-18 19:57] nickmerwin commented on #625
Hi @whitneyit I've replied to the zendesk request. Since it's re: a private repo lets keep the discussion going there.

Thank you!

[2015-09-18 19:57] #625 closed

[2015-09-18 22:56] GeneticGenesis commented on #617
So I've seen the status API fail repeatedly. The communication I've had with Coveralls' support suggested it uses the users github oauth token to communicate or comment, and that token is frequently rotated.

I found re-authorising with github would fix issues for a while, and then it would break again.

[2015-09-20 01:34] WoLpH opened #626 "Coveralls won't detect travis"
https://travis-ci.org/WoLpH/django-admin-generator/jobs/81219127

The message I'm getting:
[code]

Anyone got an idea of what is wrong here?
I have a very similar setup for a different project and that works without an issue.
https://travis-ci.org/WoLpH/django-tags-input

[2015-09-21 15:30] daurnimator commented on #602
and again.... https://coveralls.io/builds/3627295/source?filename=.%2Flredis%2Fcqueues.lua

[2015-09-21 15:59] peterbe commented on #617
@GeneticGenesis I've seen that too. I often have PRs wait forever on coveralls even after Travis has finished running tests.

However, that's unrelated to coveralls's bot posting a PR comment.

[2015-09-21 20:30] CJ-Wright opened #627 "Can't find repo"
I keep getting the following message from travis.  I am very confident that I did not change anything in my travis.yml or my coveralls.yml so I am not certain what is going on.
`$ coveralls
Submitting coverage to coveralls.io...
Coverage submitted!
Couldn't find a repository matching this job.
'url'`

I also had an issue with a previous build, which linked to a repo which was not mine, which is a

[2015-09-23 22:59] hallucinogen opened #628 "Repo Access Denied"
Hi there,

I have this repo on coveralls

https://github.com/ParsePlatform/Parse-SDK-dotNET
https://coveralls.io/github/ParsePlatform/Parse-SDK-dotNET

It was in paid plan since we need to put the repo on private for few days. But then when we open the repo to public and cancel the plan (since it's a public repo now), I keep getting access denied / repo doesn't exist. Anyone having similar problem

[2015-09-23 23:06] nickmerwin commented on #628
Hi @hallucinogen ok I've sync'd the repo's info, it's public now:

https://coveralls.io/github/ParsePlatform/Parse-SDK-dotNET

You weren't able to access it since you canceled the subscription.

Thanks!

[2015-09-23 23:06] #628 closed

[2015-09-23 23:26] hallucinogen commented on #628
That was quick. Thank you very much!

[2015-09-24 01:41] JASchilz commented on #626
I had a similar problem. I was able to solve it by applying the instructions in 78c32393194ee499f380905a3919b0810c0eed4e, as provided in #73.

My [tox.ini](https://github.com/InterSIS/django-rest-encrypted-lookup/blob/master/tox.ini) shows the env passthrough commands.

[2015-09-24 10:13] petemoore commented on #612
@nickmerwin still no change, I just tried again today:

https://travis-ci.org/taskcluster/slugid.py/builds/78554815#L151

Are there any problems with the account?

[2015-09-24 13:40] WoLpH commented on #626
Brilliant, that solves the issue @JASchilz :)

For future reference, having somethong along the lines of this in your `tox.ini` should solve the issue:

[code]

[2015-09-24 13:41] #626 closed

[2015-09-25 10:49] davidrichardson commented on #604
I am having the same issue with the FAANG organization. I am a public member, but coveralls would not recognise this. Coveralls was authorised for access, but wouldn't display the orgs repos for me. I removed all 3rd party restrictions and can now see the repos, but would prefer to reinstate the restrictions when possible.

[2015-09-27 00:22] alyssa-kwan-cloverhealth opened #629 "Can't find repo on magnum.travis.com"
I'm on a Trial with a repo I'm testing out. I'm building with magnum.travis.com, which I assume is `service_name: travis-pro`. I run pytest with pytest-cov through Tox, setting the working directory to `tests/`. I run `coveralls` in the same Tox env in the same directory. I've tried putting the `.coveralls.yml` file with the `repo_token` in both the root of the repo and in the `tests/` directory.

[2015-09-27 00:23] alyssa-kwan-cloverhealth commented on #629
Perhaps related to #627? I had a brief issue, even before setting the ``.coveralls.yml``, of test results going to someone else's repo.

[2015-09-27 01:11] alyssa-kwan-cloverhealth commented on #629
Remembered what happened with the cross-over issue. The TRAVIS env vars are set, and forwarded via Tox. I had no ``.coveralls.yml`` at the time. Just now, I tried setting the ``.coverage.yml`` to __not__ have the ``repo_token``, hoping it would pick up the ``TRAVIS_JOB_ID``. It did. I ended up sending test results to someone else's repo again. A different one this time (probably because before ``s

[2015-09-28 18:48] eteq opened #630 "Option to state which SHA to compare to"
Right now it appears (at least with Travis) that coveralls always does comparisons against master when deciding how much coverage increases/decreases.  This is problematic on an active project where the master branch changes a lot - if anyone has a PR that's not coming off the latest master, the coverage stats mostly reflect changes in master rather than changes in the PR.

The straightforward sol

[2015-09-29 22:35] mrname commented on #31
Kind of surprised that this has been sitting dormant for two years. Are there any plans to implement this at all in the future?

[2015-09-30 10:15] ChristopherRabotin commented on #487
Any update on this issue? I get it on either travis Push or travis PR randomly it seems:
+ https://travis-ci.org/ChristopherRabotin/sg/jobs/82901327
+ https://travis-ci.org/ChristopherRabotin/sg/jobs/82781804
+ https://travis-ci.org/ChristopherRabotin/sg/jobs/82782681

[2015-09-30 14:55] smootoo commented on #613
I have same setup as @Snaipe (travis and appveyor). This would be useful for me too.

[2015-10-01 22:14] emmett9001 commented on #510
This issue appears to still be affecting at least [pykafka](https://coveralls.io/github/Parsely/pykafka)'s coveralls page.

[2015-10-01 22:14] emmett9001 commented on #509
This issue appears to still be affecting at least [pykafka](https://coveralls.io/github/Parsely/pykafka)'s coveralls page.

[2015-10-02 01:39] whitneyit commented on #625
@nickmerwin Can you please have another look at that ticket. It's getting dire

[2015-10-02 18:41] CJ-Wright commented on #629
Yes this is related to #627

[2015-10-02 19:41] nickmerwin commented on #629
hi @alyssa-kwan-cloverhealth and @CJ-Wright it sounds like the `service_name: travis-pro` section of .coveralls.yml isn't getting picked up the Python integration library properly. Could one of you paste the pertinent sections of your Travis build output?

[2015-10-02 20:32] alyssa-kwan-cloverhealth commented on #629
Sure. I'm running it from Tox. What's the CL args to maximize verbosity for the output? I get a total of 3 lines now.

[2015-10-02 21:38] montanaflynn commented on #597
+1 thanks for the fix

[2015-10-03 00:18] nickmerwin commented on #597
Thanks all, closing issue for now.

[2015-10-03 00:18] #597 closed

[2015-10-03 00:30] nickmerwin commented on #629
hey @alyssa-kwan-cloverhealth as long as you don't have `COVERALLS_SILENT = true` then it will be default log the config used for posting coverage data to our API.

[2015-10-05 13:38] OmgImAlexis opened #631 "Upgrade to clipboard.js"
Since browsers are now supporting native clipboard copying it'd be nice if you guys upgraded from using a flash clipboard plugin to something like https://zenorocha.github.io/clipboard.js/

[2015-10-06 16:14] matthewwill commented on #629
Having this issue as well with a private repository. Was first receiving the "Couldn't find a repository matching this job. 'url'" referenced in #627. Now after regenerating the token it's submitting the results to a different project.

[2015-10-06 16:48] vcernomschi opened #632 "Coveralls returns 422 error: Couldn't find a repository matching this job"
Steps to reproduce:
1. Generate coverage report by using istanbul.
2. Send lcov.info file to coveralls.io by using:

cat ${__COVERAGE_PATH}"/lcov.info" | coveralls

where __COVERAGE_PATH  valid path to coverage report.

Expected result: lcov.info file is successfully downloaded.

Actual result:
Bad response: 422 {"message":"Couldn't find a repository matching this job.","error":true}

[2015-10-06 16:58] vcernomschi commented on #632
[lcov.txt | uploaded via ZenHub](https://files.zenhub.io/5613fdb845697ff42980eec6)

[2015-10-07 12:11] alyssa-kwan-cloverhealth commented on #629
Hi, @nickmerwin. Sorry for the late reply. I'm using Tox. ``COVERALLS_SILENT`` is unset; Tox crashes because it's not in the Travis env when I try to reference it in the ``tox.ini``. To be clear, I'm using ``coveralls==1.0``, not ``python-coveralls``. There is a total of 4 lines of output. As of right now, runs are successful, but are hitting random repos that belong to others.

Given the lack of

[2015-10-07 13:41] matthewwill commented on #629
I'd like to second alyssa's response above. The fact that private repository information is being posted to public projects is unacceptable. We as well have discontinued use of this service.

[2015-10-07 20:53] SRombauts commented on #589
HI @nickmerwin I am sorry to report that the problem is still there, at least with my newly added repo  https://coveralls.io/builds/3779070

I've done some tests, removed old build results and rebuild them, but still no success.

[2015-10-07 20:55] SRombauts commented on #592
Exact same problem today for me here:
https://coveralls.io/builds/3779070

[2015-10-07 23:04] abraham-chan commented on #459
:+1:

[2015-10-08 12:52] daleharvey opened #633 ""Source Not Available" with public source"
Not entirely sure how coveralls is trying to find the files, for PouchDB we see no source files ever

https://coveralls.io/builds/3785522/source?filename=..%2Flib%2Fdeps%2FfunctionName.js is an example

https://github.com/pouchdb/pouchdb/blob/master/lib/deps/functionName.js is where that file is

[2015-10-08 13:25] nolanlawson commented on #633
Looks like it's because we put the coverage report into the `coverage/` directory, so the path is relative to that? Maybe we need to just dump it into the root directory.

[2015-10-08 21:49] iamqizhao commented on #487
seeing this just now:
https://travis-ci.org/grpc/grpc-go

[2015-10-08 21:56] iamqizhao commented on #487
It is flaky. I re-ran it several times to get green ...

[2015-10-08 23:44] warden opened #634 "Wrong changed files reported"
Looking here:
https://coveralls.io/jobs/8855372 shows totally different files that the git commit:
https://github.com/jenkinsci/jira-plugin/compare/da1ae78b723a...dec02b839246
Any ideas why that may happen?

[2015-10-09 15:24] CJ-Wright commented on #629
@nickmerwin I am not certain what parts of the travis output you consider pertinent but here is the coveralls section
[code]

and here is the coveralls pip install
[code]
Please fix this problem ASAP, I like your service but private repos are supposed to remain private.

[2015-10-09 22:18] danieldietrich opened #635 "Source of public repo not available"
Hi @nickmerwin,

I invested hours now to get access via coveralls.io to my source - without success. I need your help!

My github account was converted to an organization: http://github.com/javaslang

I enabled 'access restrictions' but coveralls is listed as _approved_ (in the organization settings).

However, the line source code is not shown when I click on a file at coveralls.io. Example: http

[2015-10-09 22:29] nickmerwin commented on #635
hi @danieldietrich it looks like your GH tokens have rolled -- could you log out and back in?

[2015-10-09 22:31] danieldietrich commented on #635
Great, thx for the fast reply!!

[2015-10-09 22:38] nickmerwin commented on #635
Done! Now when non-logged in users view source, it will use your user's tokens to retrieve the source.

(We have to use the repo owner's tokens to keep our own from being rate-limitted)

Thanks, and happy covering!

[2015-10-09 22:38] #635 closed

[2015-10-09 22:42] danieldietrich commented on #635
Thanks, awesome :-)

[2015-10-12 15:48] eistrati commented on #632
I am experiencing the same issue. Can anyone help?

[2015-10-13 02:53] gterzian opened #636 "Coverage seems to not take relevant lines into account"
When you remove code from a file, you get a drop in coverage, which in fact remains constant.

![screen shot 2015-10-13 at 10 52 03 am](https://cloud.githubusercontent.com/assets/2792687/10444389/7dd25c8a-7198-11e5-836e-8679f4f739bd.png)
![screen shot 2015-10-13 at 10 53 20 am](https://cloud.githubusercontent.com/assets/2792687/10444403/a7c48338-7198-11e5-8149-d88d42c0d361.png)

It would be great

[2015-10-13 02:59] gterzian commented on #636
![screen shot 2015-10-13 at 10 58 34 am](https://cloud.githubusercontent.com/assets/2792687/10444451/616111a8-7199-11e5-86c8-c21ea6a5e58e.png)

Here is a screenshot that clearly shows coverage remains the same, it's just relevant lines that dropped.

[2015-10-13 04:34] dylangrafmyre opened #637 "Docs access"
Why would i have to sign into the docs when already authenticated via my github account? This makes no sense? I really need to look at the documentation without creating a new sign up with coveralls.

Thanks
Dylan

[2015-10-13 05:04] nickmerwin commented on #637
Hey thanks for pointing that out @dylangrafmyre -- fixed!

[2015-10-13 05:04] #637 closed

[2015-10-13 06:20] dylangrafmyre commented on #637
@nickmerwin Thank you so much for the quick response! Awesome!

[2015-10-13 08:41] avozicov commented on #632
I have the same issue for public repos.

[2015-10-13 08:41] vcernomschi commented on #632
The issue is still reproducible for all public repos.

[2015-10-13 10:47] skytreader opened #638 "Can't add repos created since May 25, 2015"
I'm trying to add a repo I created September 26, 2015 but find that it is still not in the list of repos in my Coveralls account. I investigate a bit and find that I cannot add any repo I created since May 25, 2015.

In listed detail:
- I am trying to add [skytreader/flask-fire](https://github.com/skytreader/flask-fire) (created September 26, 2015). Not in the list.
- [skytreader/rebase](https://g

[2015-10-13 22:33] r-park commented on #577
Looks like this is fixed now -- thanks

[2015-10-13 22:33] #577 closed

[2015-10-15 10:04] Shredder121 opened #639 "Error message while logging in not visible"
This seems to be almost the same as #372, yet it is about the functional aspect.

![image](https://cloud.githubusercontent.com/assets/4105066/10510555/09285216-7334-11e5-8d4b-97d26b535b98.png)

When you try to log in, but there is an issue logging in, you are redirected to the home page.

But as you can see, the message is only visible when you scroll down enough that it peeks underneath the hero.

[2015-10-16 14:20] devs-deep commented on #632
The issue is still reproducible for all public repos.

[2015-10-16 19:37] nickmerwin commented on #632
@vcernomschi @devs-deep @avozicov @eistrati there are a couple causes for this:

1) if you're using Travis, you don't need to specify a repo token, but your Github OAuth token must be valid -- try logging out / in on Coveralls.io to refresh it
2) on other CI's you have to specify a repo token; check your environment variables at build time to be sure `COVERALLS_REPO_TOKEN` is being set

Let me kno

[2015-10-16 22:57] geokira opened #640 "RestClient::UnprocessableEntity 422 Unprocessable Entity {"message":"Couldn't find a repository matching this job.","error":true}"
My repo: https://github.com/geokira/UberStatus

I recently added Coveralls to my repository in github. I am using Travis CI and Coveralls. Not sure where is the problem. Below is the error I am getting. Any help will be appreciated:

[code]

[2015-10-16 23:59] geokira commented on #640
I fixed my issue. I changed the coveralls.yml from travis-pro to travis-ci. Sorry for opening the issue.

[2015-10-16 23:59] #640 closed

[2015-10-18 22:11] whitneyit opened #641 "Can't change branch"
Coveralls is not detecting changes pushed to `develop`. It only shows `master`

Re: The zendesk ticket 475.

[2015-10-20 15:10] tfausak commented on #414
This is also affecting [a repository I contribute to](https://coveralls.io/github/orgsync/active_interaction). The coverage is 99.69%, but the badge shows 95%. This is for [build 1266](https://coveralls.io/builds/3861886).

[code]

[2015-10-20 18:58] csMACnz opened #642 "Appveyor job id linking"
I notice that when i submit coverage with "travis-ci" service name, the service job id (build server build number) becomes the build number in coveralls.io.

Is this supported for Appveyor? I have tried this using "appveyor" and the build numbers do not line up the same way they do for travis.

[2015-10-21 21:51] arnodb commented on #467
Hi, I suspect this is related to the so called aggressive caching issue https://github.com/github/markup/issues/224 which says "make sure the image has the Cache-Control: no-cache header, and either Expires, Last-Modified or Etag".

I am pretty sure the "coverage: unknown" badge is missing the last 3 headers, I also suspect the "coverage: 0%" to be affected. For the other values the headers seem O

[2015-10-22 19:12] Legoless commented on #281
I have same issues and I am using Slather to upload data to Coveralls. Is there any catch why it worked and now it doesn't? Nothing changed really.

[2015-10-23 20:54] kmarsteller opened #643 "Slack webhook connects/reports, but doesn't send actual coverage number."
We set up the coveralls webhook to get our coverage reported in our Slack #testing channel at the end of a TravisCI build/test run.  The good news is that the hook connects, and a coverage is reported, just not what we think is the correct coverage.

What appears to be happening is that we get a report in Slack with the coverage number from whichever of our TravisCI jobs finishes first, as opposed

[2015-10-23 23:24] carangorango commented on #31
The lack of branch coverage statistics in coveralls.io made me switch to codecov.io. I like your interface more though, so please fix this issue so I can come back ;)

[2015-10-24 05:43] beaugunderson opened #644 "Can't access a repository that's on my pro plan"
I get the 'access denied' message here:

https://coveralls.io/github/PersonalGenomesOrg/open-humans

[2015-10-24 17:48] dkubb opened #645 "Incorrect coverage amount displayed in badge"
If you go to https://github.com/dkubb/ice_nine you'll see the badge that is displayed showing 81%.

However, if you click on the [badge](https://coveralls.io/github/dkubb/ice_nine) coveralls reports 100% on the top right, and then the middle right says 81%.

Is there a way to fix the badge to display the proper coverage amount?

[2015-10-24 18:00] zenorocha commented on #631
+1 ;)

[2015-10-25 05:49] davidvuong opened #646 "Commit message body and title are shown on one line"
<img width="1119" alt="screenshot 2015-10-25 16 41 10" src="https://cloud.githubusercontent.com/assets/1312550/10714214/3d151dce-7b37-11e5-9b87-8cb4825a030f.png">

I've recently started using coveralls, and I think the service is great. I just have one problem with how commit messages are displayed (ref screenshot). The commit message body seems to be mashed into the message title in the list view

[2015-10-25 17:39] gnzlbg opened #647 "Jobs not displayed in repo"
I'm pushing correctly coverage information from travis, e.g. see:

https://coveralls.io/builds/3943651

but it is not being displayed in my repo:

https://coveralls.io/github/gnzlbg/hm3

[2015-10-26 13:58] CJ-Wright commented on #629
@nickmerwin Update: I changed from coveralls to python-coveralls and it now seems to be putting the coverage in the correct position.  Although it has the wrong commit message and committed by line:
[code]

[2015-10-26 14:19] CJ-Wright commented on #641
This might be related to #629 and #627 I am having a similar problem, When I push to master everything is ok, but I am getting a `NFO:coveralls:{"message":"Couldn't find a repository matching this job.","error":true}` on anything that is on a branch

[2015-10-26 16:04] vcernomschi commented on #632
The issue is not reproducible anymore after removing coveralls token

[2015-10-26 16:04] #632 closed

[2015-10-26 16:29] vcernomschi opened #648 "Public repository details is not available"
Valid public repository is not available (https://coveralls.io/github/MitocGroup/deep-microservices-root-angularjs).

Steps to reproduce:
1. Open "https://coveralls.io/repos".
2. Check the mentioned repository exists and enabled in coverall.
3. Click on details button

Expected result: Repository details is displayed
Expected result: Error page is displayed instead of repository details

[2015-10-26 16:35] eistrati commented on #648
+1
Tried as owner or admin, from multiple accounts, still nothing works.

[2015-10-26 16:41] Lourenc commented on #648
+1

[2015-10-26 16:42] avozicov commented on #648
+1 I have the same issue

[2015-10-26 18:59] gnzlbg commented on #579
I still have this issue.

[2015-10-26 19:00] gnzlbg commented on #281
I am also having this issue.

[2015-10-27 03:58] ethanresnick opened #649 "Pull Review comments for public circleci node repo"
Hi,

I have a public repo on Github ([ethanresnick/json-api](https://github.com/ethanresnick/json-api)) that I'm [building](https://circleci.com/gh/ethanresnick/json-api) with CircleCI. As part of the build, I'm having circleci run [node-coveralls](https://github.com/nickmerwin/node-coveralls) to send the coverage data to coveralls. This works perfectly, as long as I include the coveralls repo tok

[2015-10-27 08:37] dsasov commented on #648
+1
I am experiencing the same issue

[2015-10-27 17:22] beaugunderson commented on #644
Never mind, cancelled our account and switched to codecov.io. :sparkles:

[2015-10-27 17:22] #644 closed

[2015-10-29 19:33] robsonmafra opened #650 "Coveralls is not excluding classes added as excluded in jacoco-maven-plugin"
My build is considering classes added as excluded:
https://coveralls.io/builds/3992528

I checked the coverage-reports generated locally and it does not consider the excluded classes.

Am I missing any configuration?

[2015-10-30 14:23] dkubb commented on #414
@evoskuil The badge amount is even messed up on coverall's own pages. See for example on https://coveralls.io/github/dkubb/ice_nine where the right hand side shows 81%, and everywhere else shows 100%.

This looks like some kind of caching problem. It's been an ongoing issue for the past year. :(

[2015-10-31 12:03] automatictester commented on #329
+1

[2015-10-31 12:50] xolox commented on #613
I recently added Windows support and AppVeyor CI builds to one of my projects (paylogic/pip-accel#61) and ran into this same issue.

I actually forked the [coveralls-python](https://github.com/coagulant/coveralls-python/compare/master...xolox:master) project in an attempt to add proper AppVeyor support, only to find out that it appears to be impossible to get merged coverage statistics from multip

[2015-11-02 16:03] smacnabb3 opened #651 "Added appsflyer and cover alls coverage goes to 0%"
After we added appsflyer to our project coverage changed to 0% and i'm not sure how to fix this anything.  Any idea what could be going on?

[2015-11-03 15:14] kkamkou opened #652 "Repo name with an extension"
Example: https://coveralls.io/github/kkamkou/collection-json.php
Output: 403 Forbidden / Nginx
Works: https://coveralls.io/github/kkamkou/collection-json.php/

[2015-11-03 16:08] icot opened #653 "Source not available"
Hello,
Where can I modify the  'repo root directory' configuration parameter? On the _.coverals.yml_ file?
I'm getting the following kind of messages when trying to access the source code:

`The file "PATH/TO/FILE" isn't available on github. Either it's been removed, or the repo root directory needs to be updated.`

This is actually true, as the right path would be 'src/PATH/TO/FILE' relative to t

[2015-11-03 17:35] pklock opened #654 "History trend chart not displaying correctly"
I am having trouble displaying the repository history trend graph from the **REPOS** tab. We definitely have 'trends' that should be showing up (both increased and decreased coverage), but the background stays blank when we click on the **branch** name, i.e. *develop* in the following image:

![Missing Trend](https://i.imgur.com/GPK9rGa.png)

***
However, I noticed that if go into developer tools

[2015-11-03 18:01] mrbroll opened #655 "Build not removed from build list after deleting"
One of my colleagues accidentally pushed his coverage info from a different repo to my repo. I deleted the build using the delete button on the build detail page, but when going back to the latest builds list, it still shows up in the list and the link sends me to a 404.

[2015-11-04 11:35] fasaxc opened #656 "Coverage total down but coverage change tab only shows increases"
The total coverage dropped between two builds but I couldn't figure out what had changed.  The changed tab only shows a couple of lines added to the source and a few new covered lines: https://coveralls.io/builds/4042902

[2015-11-05 19:13] devdazed opened #657 "[Possible Security Issue] - Incorrect Commit and Build In Coverage"
I just added a new repo to coveralls and after running the first test run, I have incorrect information in the display.  A completely unrelated commit for a completely unrelated and unknown project is getting reported in my repo.  I know nothing of the commit reported, or the person committing.

This issue can be dangerous because not only is other peoples commit getting mixed up to other accounts

[2015-11-05 20:04] anjin commented on #657
Make sure you have "service_name: travis-pro" in your .coveralls.yml.

Travis uses non-unique job id's between its free and pro services, so when Coveralls doesn't know that your service-name is Travis-pro, it looks up the info for those job ids using the free Travis API -- that's why they will show random committers, etc. The opposite cannot happen with the proper credentials, so you don't need t

[2015-11-05 20:04] #657 closed

[2015-11-05 20:09] devdazed commented on #657
Thanks for the quick response.  I am glad to hear that there is not data leak possibility. I currently have this in my .coveralls.yml:

service_name: travis-pro
parallel: true

And set COVERALLS_REPO_TOKEN in the Travis UI.

I am using this coveralls package: https://github.com/coagulant/coveralls-python

I’m not sure if there is anything else I should set up.

[2015-11-05 21:28] hcatlin opened #658 "Libsass not getting comments!"
Hey Coveralls people!

@xzyfer and myself are trying to figure out why sass/libsass PR's aren't getting coveralls comments anymore! Like, this build: https://coveralls.io/builds/4063805 didn't comment at all on the PR here: https://github.com/sass/libsass/pull/1699

After knocking around for a while... can't figure it out.

Halp?

[2015-11-05 22:45] nickmerwin commented on #658
Hi @hcatlin, I noticed your OAuth token is no longer valid, could you logout and back into Coveralls?

We use that token for posting to GH's status API on your behalf. After that you could re-trigger the build on Travis to test.

Closing for now, let me know!

[2015-11-05 22:45] #658 closed

[2015-11-06 15:09] foreachlt opened #659 "Can't see repositories anymore, platform asks me to upgrade to pro (I was already on pro)"
The coveralls still seem to be running and notifying code coverage on Hipchat. But none of us seem to be able to login and see the repositories etc...

Can someone help please?

[2015-11-06 18:07] nickmerwin commented on #659
Hi @foreachlt lets continue the discussion over email.

Thanks!

[2015-11-06 18:07] #659 closed

[2015-11-08 05:51] danielgomezrico commented on #36
+1

[2015-11-11 17:45] jwg2s opened #660 "Hipchat notification displays wrong % change and total % covered"
![image](https://cloud.githubusercontent.com/assets/832769/11098253/c7c5d778-8871-11e5-9cc9-032d0bbd9b63.png)

![image](https://cloud.githubusercontent.com/assets/832769/11098279/d7d049fa-8871-11e5-9dfc-6a5260bf983e.png)

Coveralls notifies hipchat with the wrong percentage change for the branch mentioned.

[2015-11-12 06:12] bkon opened #661 ""coverage pending from Coveralls.io" on our pull requests."
Repository in question is https://github.com/range-me/range-me

[2015-11-12 07:27] julienbaley opened #662 "Reporting before all the jobs have finished"
Hello Coveralls Team!

Our build has two jobs whose coverage get combined (with some sections of the code running only in 1 of the 2 jobs). Sometimes, the two jobs do not finish exactly at the same time (they sometimes differ by several minutes), but Coveralls start emailing and reporting to the pull request with the coverage of only one of the job instead of waiting for Travis to be done with all

[2015-11-12 23:23] bkon opened #663 "Gray "no data" entries in the updates list, no coverage being reported to our PRs"
Seems to be broken since this morning again.
Repository affected: https://github.com/range-me/range-me

[2015-11-12 23:25] nickmerwin commented on #663
@bkon could you email me the latest build output from Circle?

Closing this issue to take to email. Thanks!

[2015-11-12 23:25] #663 closed

[2015-11-13 00:26] jbn opened #664 "Another Organization Repo Sync Issue"
I perused the prior issues. But, I couldn't get mine to work.

- My membership is public.
- Coveralls is approved as a third party app.

I am trying to add [generativists/ThirdWay](https://github.com/generativists/ThirdWay). Previously, coveralls was working with `jbn/ThirdWay`, now defunct.

Any suggestions?
Thanks

[2015-11-13 10:54] tansaku opened #665 "can we get test coverage for client side javascript?"
From what I see in the docs only server side is supported.  Am I wrong?

[2015-11-13 21:23] nickmerwin commented on #664
Hi @jbn could you try revoking access to Coveralls and re-logging in? The OAuth token we have doesn't seem to have access to the generativists org.

Thanks!

[2015-11-14 01:01] bkon commented on #665
We generate coverage for both server-side Ruby code and client-side JS.
It might require you some manual tweaking (as you'd need to generate lcov files and merge them together), but it's totally possible.

[2015-11-16 05:15] FaridW commented on #661
This has been going on with our repository for a couple of days now. All our builds are showing that message.

The last build that reported coverage successfully: https://coveralls.io/builds/4150167.json
The first build that did not report coverage: https://coveralls.io/builds/4151069.json

We are not getting any output when we send coverage data through (via the npm module), please let us know if

[2015-11-17 12:55] jbn commented on #664
This worked. Thank you!

[2015-11-17 12:55] #664 closed

[2015-11-18 10:14] petemoore commented on #612
@nickmerwin I tried again.... Still no change. :/

https://travis-ci.org/taskcluster/slugid.py/builds/91784410#L154

This time instead of just rebuilding, I even pushed a new commit, but it didn't help.

[2015-11-18 20:35] Thomasdezeeuw opened #666 "Update URL for Golang coverage"
On this page https://coveralls.zendesk.com/hc/en-us/articles/201342809-Go, under install.

This point to `code.google.com/p/go.tools/cmd/cover`, however the new URL is `golang.org/x/tools/cmd/cover`.

[2015-11-18 20:42] nickmerwin commented on #666
Thanks @Thomasdezeeuw, updated!

[2015-11-18 20:42] #666 closed

[2015-11-18 22:54] tldavies commented on #623
We have this problem to. We would want our open source repos to see line-level coverage.

[2015-11-18 23:16] tldavies opened #667 "Can't see files"
Hi!

There are no files with a build. It says that "All 32" but nothing shows. It doesn't show even if I login via Github or the owner also logins in.

Example: https://coveralls.io/builds/4197172

![screen shot 2015-11-18 at 3 15 03 pm](https://cloud.githubusercontent.com/assets/1849225/11257573/409c700e-8e07-11e5-8bc2-56b4a645152b.png)

[2015-11-19 22:37] abesto commented on #329
+1

[2015-11-19 22:51] alechenninger commented on #329
For what it's worth, while I originally opened this issue, I actually would prefer this not change from current behavior now :). I don't mind the psychological nudge to increase test coverage (even if not necessarily a good thing), however I do like that a Coveralls badge of a certain color means the same thing on any repo. It would be a little surprising if you saw a "green" badge with 10% covera

[2015-11-19 22:56] abesto commented on #329
That's a good point; after this, I wouldn't press the issue, it's not quite clear cut. Thanks.

[2015-11-22 16:17] nicolaasuni commented on #409
I am experiencing the same bug.
The the coverage of individual files is reported as 100% but the total is 0%:
https://coveralls.io/builds/4231263

I am using a Clover XML report and my project has no methods, hence:
methods="0" coveredmethods="0"
In this particular case the coverage should be 100% and not 0%

I suppose that in the cloverall code there is some division-by-zero control that set the

[2015-11-22 16:27] nicolaasuni opened #668 "bug: wrong 0% coverage report from Clover XML when there are no methods"
Cloverall is reporting the wrong total coverage for a PHP project without methods.
The coverage of individual files is correctly reported as 100% but the total is wrongly reported as 0%.
Please look at this case: https://coveralls.io/builds/4231263

Since there are no methods, clover reports:

[code]

In this case the coverage should be 100%  (special case of division by zero when the numerator is

[2015-11-22 16:29] nicolaasuni commented on #592
I am experiencing the same issue as detailed here:
https://github.com/lemurheavy/coveralls-public/issues/668

[2015-11-23 14:08] julienbaley commented on #610
We're having exactly the same problem, no increase/decrease is reported as coveralls weirdly seem to believe this is the first build on master.

Can we get some help here? We're trying to keep coverage high by having a fail condition on coverage decrease, and those "first builds" break the feature.

[2015-11-23 16:17] jMyles opened #669 "Yet another "Couldn't find a repository matching this job" issue."
This is for a private github repo on Travis Pro.

So, first, I have read the other similar issues and ensured that the following are in place:

* I have "service_name: travis-pro" (and not "service_name: travis-ci") in my .coveralls.yml
* I have logged out and back in to Coveralls (although my token did not change)
* I have confirmed that the repo token matches the value for "repo_token" in my .co

[2015-11-23 22:06] chrisbra opened #670 "Coverage decrease when adding comments to repository?"
Hi, this just happened on the vim/vim repository:
[PR 497](https://github.com/vim/vim/pull/497), [diff](https://github.com/mgedmin/vim/commit/173d85df1a30dfd33bd0319adeceba06c2a95693)
Coverage decrease by 0.02% Why does this happen? Is there a way to configure coveralls to skip commented lines?

[2015-11-23 22:22] annaswims opened #671 "Wrong subdomain for travis links."
Coveralls links to https://next.travis-ci.com/mobi/mobi/builds/18094832 which gives us a certificate error in the browser.  The correct link is https://travis-ci.com/mobi/mobi/builds/18094832

[2015-11-24 14:19] dokie opened #672 "Can't find source for non-default GitHub branch"
When I commit to a branch (non the default branch which is master) on GitHub, then files which are covered OK in the report cannot be picked up from GitHub as they are not yet on master.

See for example
https://coveralls.io/builds/4250205/source?filename=lib%2Fdatastores%2Ftimeseries%2Fin_memory_store.ex

[2015-11-24 22:28] nickmerwin commented on #672
Hi @dokie we take the branch into consideration when pulling source files from the Github API -- have you tried other combos of the git repo root directory or sub directory settings? That may be the issue.

[2015-11-24 22:32] nickmerwin commented on #671
Hi @annaswims ok that's updated now to use Travis-Pro's new domain, thank you!

[2015-11-24 22:32] #671 closed

[2015-11-24 22:59] nickmerwin commented on #669
Hi @jMyles could you tell me what repo this is for?

[2015-11-24 23:32] nickmerwin commented on #669
Continuing on private support.

[2015-11-24 23:32] #669 closed

[2015-11-24 23:50] dokie commented on #672
I have, and files that get pulled ok are on master and others which are only on the branch do not. If I change the default branch on GitHub to my working branch then that situation reverses - the files that had no source now do and the one that did (that still exists on the working branch), did not.
I do find the settings on that page confusng though and have tried numerous combinations - it shoul

[2015-11-25 00:20] nickmerwin commented on #672
Ok could you link me to a file that is being pulled properly?

Also, I noticed some of your builds came in without a rev sha; that would prevent Coveralls from being able to get the file from Github.

[2015-11-25 07:12] dokie commented on #672
Correct
https://coveralls.io/builds/4253417/source?filename=lib%2Finflownet_server.ex

Incorrect
https://coveralls.io/builds/4253417/source?filename=lib%2Fdatastores%2Ftimeseries%2Fin_memory_store.ex

Those builds were me pushing from local as a test to capture the JSON payload.

[2015-11-25 18:34] nickmerwin commented on #672
@dokie it doesn't appear that either of those are loading the file properly. Was there a previous sub directory value that was correct?

[2015-11-25 19:58] dokie commented on #672
Weird as the top url works for me now as I just clicked it here to try it.

The code lives in apps/inflownet_server/lib... relative to GitHub root dir so I have the subdirectory set as /apps/inflownet_server/

[2015-11-25 20:33] nickmerwin commented on #672
Ah ok I see the issue! Your builds don't have a commit SHA; when using Travis, we get this automatically by querying their API, but on other CI's it needs to be set in the post data to Coveralls.

Here's the spot in excoveralls that needs it:

https://github.com/parroty/excoveralls/blob/00803bf9a8cc291eb67f7b0e8d0290fdce9db9b0/lib/excoveralls/post.ex#L25

There should also be an `id` field in `hea

[2015-11-25 20:33] #672 closed

[2015-11-25 20:42] dokie commented on #672
Ok thanks for digging into it. I can fix it up locally as a test and then if it works, send a PR myself if you'd prefer?

[2015-11-25 20:57] nickmerwin commented on #672
Ok PR sent: https://github.com/parroty/excoveralls/pull/36

And here's the parameter your build command will need added:
`-s ${CIRCLE_SHA1}`

[2015-11-25 22:04] dokie commented on #672
Yup, got that - cheers! 👍

[2015-11-25 22:53] nickmerwin commented on #670
Hi @chrisbra, Coveralls analyzes the coverage data that is posted to us, so you may need to open a ticket with the C coverage library maintainers the project is using; skipping comment lines would happen at that level.

[2015-11-25 22:53] #670 closed

[2015-11-26 01:08] whitneyit opened #673 "Wrong ownership of repo"
I have 2 company repos "managed by whitneyit". These need to be transferred to the company account.

The zendesk request is 475.

[2015-11-26 03:45] nickmerwin commented on #673
Hi @whitneyit ok I'll follow up on Zendesk. Thanks.

[2015-11-26 03:45] #673 closed

[2015-11-26 17:19] radai-rosenblatt opened #674 "file name in coverage report not utilizing the available display width"
my monitor res is 1080p
when drilling down into coverage for one of my builds (https://coveralls.io/builds/4277321) the filename column doesnt utilize all of the space available to it, which makes results needlessly hard to read.
screenshot:
![filename underfit](https://cloud.githubusercontent.com/assets/1042632/11428282/a986c28c-941e-11e5-9ad3-593bd2ef9b32.jpg)

[2015-11-28 01:45] sprowell commented on #592
Ditto.  All files report 100%, but overall is 0%.  Project is sprowell/he4, building on Travis and hosted on Github.

[2015-11-29 20:32] jasnow opened #675 "New gem version of simplecov - 0.11.0"
Please upgrade coveralls-ruby' Gemfile to use new (0.11.0) version of simplecov.
  * https://rubygems.org/gems/simplecov

Thanks.

[2015-11-30 15:18] jnpkrn commented on #573
+1

[2015-11-30 15:20] jnpkrn commented on #646
At least `Signed-off-by` lines (and similar) should be omitted in such
a compressed overview, IMHO.

[2015-11-30 21:49] nickmerwin commented on #675
Thanks @jasnow we're upgraded now:
https://github.com/lemurheavy/coveralls-ruby/releases/tag/v0.8.10

[2015-11-30 21:49] #675 closed

[2015-11-30 22:07] jasnow commented on #675
You are welcome - Happy Holidays

[2015-12-01 03:22] gravyboat opened #676 "Would be nice if `X of Y relevant lines covered` linked to all files section"
Currently when reviewing coverage as a user my eyes are quickly drawn to the following section:

![line_report](https://cloud.githubusercontent.com/assets/1396878/11491498/399d1364-9797-11e5-8d3c-4e030dd7b8b3.PNG)

Yet this doesn't link anywhere. I think it would be nice if this linked to the 'all files' section of the latest build, a simple underline on hover over would to represent it is a link

[2015-12-01 16:14] tdhock opened #677 "suggest org-mode README.org"
Hey guys first of all thanks for your excellent service for the open source community. I just got my first 100% test coverage!

I use org-mode to write my README files on github e.g. https://github.com/tdhock/namedCapture/blob/master/README.org

seems like you guys recognize the badge in that file (the "display your badge" banner has disappeared from the top of https://coveralls.io/github/tdhock/n

[2015-12-01 19:37] anthonycintron commented on #665
@bkon - interested in knowing the best route to accomplish this.

How can I get Coveralls to grab our teaspoon coverage and merge it into our general rspec coverage. I'm assuming we would need something similar to Coveralls.wear_merged! in our spec_helper.coffee file.

*All is executed during a CodeShip.io build*

Ultimately I am running:
` bundle exec teaspoon --coverage=default`

Then:
`bundle e

[2015-12-02 04:18] markelliot opened #678 "after turning private repo public, cannot get to the repo detail page"
I turned one of my private repos public, but can no longer get to the detail page for the repo. I'm an admin for the project on GitHub, and the project is owned by an organization that I'm a member of: https://coveralls.io/github/palantir/resource-identifier?branch=develop

[2015-12-02 13:08] AdrieanKhisbe opened #679 "Detecting Orgmode badge"
I'm reading several of my README in orgmode ,
and I include badge in them, using Org syntax ex: `[[https://coveralls.io/r/AdrieanKhisbe/omni-tags.el][file:https://coveralls.io/repos/AdrieanKhisbe/omni-tags.el/badge.svg]]` for https://github.com/AdrieanKhisbe/omni-tags.el

However when I go to the [coveralls page](https://coveralls.io/github/AdrieanKhisbe/omni-tags.el),
*coveralls* warn me of missi

[2015-12-02 21:51] nickmerwin commented on #678
Hi @markelliot, ok I sync'd the repo's info and it's set to public now.

Thanks!

[2015-12-02 21:51] #678 closed

[2015-12-04 21:49] dwiel opened #680 "Error when testing hipchat notifications"
Error: undefined method `+' for nil:NilClass

![coveralls](https://cloud.githubusercontent.com/assets/29542/11602263/e9d0f108-9aa6-11e5-8739-4ef61d4098a7.png)

[2015-12-04 22:47] forgingdestiny opened #681 "Change color for coveralls slack notification"
When the coverage badge is yellow, it would be great if the slack bar on the left side could also be yellow instead of red, so it's not confused with a failed build or misinterpreted.

<img width="800" alt="pasted_image_12_4_15__5_46_pm" src="https://cloud.githubusercontent.com/assets/595530/11603333/04f7c68e-9aaf-11e5-843a-ff799d401fec.png">

[2015-12-05 11:25] paulofaria commented on #248
NOT SOLVED

[2015-12-05 11:25] #248 closed

[2015-12-06 19:59] RAnders00 opened #682 "Change to new google logo design on front page"
On the front page https://coveralls.io the old google logo is still shown; Google changed their logo design, it now looks like this:

[![Google 2015 logo.svg](https://upload.wikimedia.org/wikipedia/commons/2/2f/Google_2015_logo.svg)](https://commons.wikimedia.org/wiki/File:Google_2015_logo.svg)

The old logo looked like:

[![Logo Google 2013 Official.svg](https://upload.wikimedia.org/wikipedia/com

[2015-12-06 20:07] RAnders00 commented on #682
I made a new image map that has the new google logo (same spot, 1 pixel less on the y-axis, I positioned it up) I also tested it with the built-in developer tools of chrome, and it works fine.

[![http://i.imgur.com/Cx9adCI.png](http://i.imgur.com/Cx9adCI.png)](http://i.imgur.com/Cx9adCI.png)

[2015-12-06 21:58] rekby opened #683 "Bad show utf-8 source files"
For example it doesn't show russian text in
https://coveralls.io/builds/4370746/source?filename=main.go#L69

Line 69-70

[2015-12-06 23:22] arzynik opened #684 "date error on commit date"
![image](https://cloud.githubusercontent.com/assets/27974/11616340/319b1400-9c2d-11e5-8c2b-445ff6cd096a.png)

notice top 3 items

date works fine when clicking an item

![image](https://cloud.githubusercontent.com/assets/27974/11616334/2074f38a-9c2d-11e5-878c-6f58f4f40896.png)

[2015-12-08 03:44] FichteFoll commented on #505
Had the same problem.

As mentioned in https://github.com/lemurheavy/coveralls-public/issues/597, logging off and on again made the synced data available.

[2015-12-08 03:46] FichteFoll commented on #597
This seems to be a rather frequent issue and yes, relogging solved it for me as well.

How about adding it to your [FAQ](https://coveralls.zendesk.com/hc/en-us/sections/200391615-FAQ)?

[2015-12-08 17:01] chfw commented on #281
Same issue here: https://coveralls.io/github/chfw/pyexcel-io , no updates for two month

[2015-12-09 13:23] bubenkoff opened #685 "Can't add organization's repository"
Hi
tried to add this repo https://github.com/InnovativeTravel/it-data-api to coveralls, refreshed repos couple of times, still, it doesn't see it under my account, even though im an admin in that organization

[2015-12-09 14:35] jnpkrn commented on #683
+1
https://coveralls.io/builds/4402686/source?filename=commands%2Fcmd_wrap.py#L6

[2015-12-09 19:49] joshma opened #686 "Allow setting "notify when" to smaller % changes"
It looks like the Notify When functionality (specifically for Slack) only allows integer % changes, while I want to set it to e.g. `0.001`.

[2015-12-11 21:34] nickmerwin commented on #680
Hi @dwiel this is fixed now. Thanks!

[2015-12-11 21:34] #680 closed

[2015-12-11 22:41] nickmerwin commented on #686
Hi @joshma we've just deployed that update. Thanks!

[2015-12-11 22:41] #686 closed

[2015-12-11 22:43] nickmerwin commented on #682
/cc @anjin :+1:

[2015-12-12 00:06] #682 closed

[2015-12-12 00:15] joshma commented on #686
Awesome, thanks @nickmerwin

[2015-12-14 21:38] brandonkane opened #687 "Hipchat integration not working?"
I have confirmed the API token I'm using is correct but when testing in the coveralls UI I get:

Error: Access denied to room `dev'

Tried with several different rooms/tokens but got the same result.  Any ideas?

[2015-12-15 05:46] paddor commented on #653
I get the same error, but for a file in a DIFFERENT repository. So I don't even want that filename to show up in coveralls.

[2015-12-15 05:46] paddor commented on #634
+1

[2015-12-15 05:48] paddor commented on #555
+1. Same here. I get coverage measures for files of **another** one of my repositories.

[2015-12-15 20:02] andela-cganga opened #688 "e"

[2015-12-15 20:03] #688 closed

[2015-12-16 21:41] heckj opened #689 "sparkline badge request"
this is really a feature request - I'd love to have a badge output from the coveralls.io service that represented a sequence of changes in overall coverage for all the pushes to master in the form of a spark-line, so that at a glance you could get a view of if you're heading upwards or downward for an overall trend of recent commits.

For my purposes, I'd be far more interested in a sequence of me

[2015-12-18 15:57] shadowhand commented on #685
I'm having a really similar problem. Tried refreshing every possible thing but my organization is not appearing in the list.

[2015-12-18 15:57] shadowhand commented on #685
https://github.com/destruktphp/destrukt

[2015-12-18 22:55] RudyJessop opened #690 "Could not open input file: vender/bin/coveralls"
I am having a minor issue. I am getting this output in my CI build (Travis).
`Could not open input file: vender/bin/coveralls`

What could possibly be causing this. In my local repo the `build` directory is there. Should i remove it from my `.gitignore`?

You can take a further look at the
`.travis.yml`: https://github.com/Core-Tech-Labs/LAZ/blob/master/.travis.yml
`phpunit.xml`: https://github.co

[2015-12-19 01:32] nickmerwin commented on #687
Hi @brandonkane we haven't gotten any other reports of Hipchat notifications having issues; is it still giving your the error? If yes, what is the repo in question?

[2015-12-19 01:34] nickmerwin commented on #690
Hi @RudyJessop is see this in your Travis logs:

[code]

Which would explain why the coveralls binary wasn't present at build time. Could you check your external library configuration and try again?

Thanks!

[2015-12-19 01:40] nickmerwin commented on #684
Hi @arzynik we use the `run_at` field of the last job from the build that was reported through the API. Depending on your Coveralls integration library, it may have been reported incorrectly.

[2015-12-19 02:06] arzynik commented on #684
Noted. I'll take a look at my phpunit/Travis stuff

[2015-12-19 03:09] nickmerwin commented on #685
hi @shadowhand and @bubenkoff could you guys check your 3rd party access restrictions for the organization?

Also you may need to upgrade your OAuth scope if the org memberships aren't public:
https://coveralls.io/refresh?private=true

[2015-12-19 16:47] shadowhand commented on #685
@nickmerwin that didn't work. I even tried removing Coveralls from my authorized applications and re-connecting. My org membership is public:

<img width="1022" alt="screenshot 2015-12-19 10 47 39" src="https://cloud.githubusercontent.com/assets/38203/11914166/f37e095a-a63d-11e5-8874-d59025c216cc.png">

[2015-12-19 16:52] shadowhand commented on #685
It seems like Coveralls isn't properly requesting access to organizations. For instance, when I do a private repo request with Scrutinizer, this is what comes up:

<img width="501" alt="screenshot 2015-12-19 10 51 33" src="https://cloud.githubusercontent.com/assets/38203/11914185/841ca1c4-a63e-11e5-8592-b39cfd8ca316.png">

Notice how I am given the option to grant access to the Destrukt org. This

[2015-12-19 21:27] RudyJessop commented on #690
@nickmerwin I get that with all composer packages. It still downloads and my test still shows up successful. I find it hard to believe thats this is the reason.

[2015-12-20 14:43] benjaoming commented on #281
Same issue in django-wiki and xhtml2pdf, Coveralls PR feedback gone, but they are still alive and PRs are showing on coveralls.io

[2015-12-23 18:04] meirwah opened #691 "Service is down?"
Getting errors of :
Bad response status from coveralls: 500 - {"message":"Build processing error.","error":true,"url":""}

On 2 different repos...

[2015-12-27 03:19] diogobaeder opened #692 "Repos not synching"
Hi,

I have a sort-of-new repository here:
https://github.com/diogobaeder/convertfrom

However, even if I click the Coveralls button to re-synch repos, I can't add this repo to my profile at Coveralls, it simply doesn't show up - as if it doesn't even exist in my GitHub account.

Am I perhaps doing something wrong?

Thanks!

[2015-12-27 11:36] robertotru commented on #692
I have the same issue with this new repository
https://github.com/ozimov/cirneco/

[2015-12-29 01:40] ghiculescu commented on #687
Hi, having the same issue here. Repo is TandaHQ/payaus.

[2015-12-29 14:44] joke2k opened #693 "Coverall not start"
Hi I use coverall for all my opensource projects and I noticed that for this repos don't work anymore:
https://coveralls.io/github/joke2k/django-environ

What happen?

[2015-12-29 15:53] brandonkane commented on #687
our main one is /VantageAnalytics/vantage/ but this is happening with all our repos.

[2015-12-30 17:07] hpapaxen opened #694 "Seeing another repo commit in my build. I have no clue who the author is."
![screen shot 2015-12-30 at 7 06 13 pm](https://cloud.githubusercontent.com/assets/2028137/12054080/724fb880-af28-11e5-8bc1-bf75588351e3.png)

[2016-01-04 12:02] tansaku opened #695 "Email is being exposed in travis log"
Hi there,

I notice that emails of users sending us pull requests are being added to the travis log as the result of using coveralls, e.g.

https://travis-ci.org/makersacademy/chitter-challenge/builds/100079304

[code]

which doesn't seem ideal since that could then be harvested by spammers.  Is there a simple way to avoid this?

Many thanks in advance

[2016-01-04 14:32] bel2125 commented on #603
I have still no idea how to get "coveralls" to accept `civetweb/civetweb` as a new project source (instead of `bel2125/civetweb`).

If anyone knows, please let me know.

[2016-01-06 19:16] d3ming commented on #687
Also seeing this issue

[2016-01-06 19:18] d3ming commented on #526
Was there eventually a resolution to this issue?  I've also had no luck getting it to work on some repos (but I have seen it work before on others)

[2016-01-06 19:20] d3ming commented on #533
Hitting the same issue, has anyone figured out a workaround or fix for this?

[2016-01-06 20:11] skytreader commented on #692
Similar to my report at #638. Curiously, I've forgotten about the issue I filed then and it only came to my mind recently, when I got back to some of my side projects.

It seems that re-authorizing Coveralls for GitHub does the trick; I can now add my recently-created repos to Coveralls. You may want to try that and see if it works.

(Authorizations being there for the sake of _security_, I still

[2016-01-06 20:12] skytreader commented on #638
It seems that re-authorizing Coveralls on GitHub fixed this complaint. I still wonder what caused this tho.

[2016-01-06 20:12] #638 closed

[2016-01-06 21:36] arschmitz commented on #526
@d3ming no as you can see there was never even a response to this issue

[2016-01-06 23:15] ianjepperson opened #696 "Blank lines and "end" counted as not covered"
We're trying to start using Coveralls for our Rails app.  However, Coveralls is sometimes counting blank lines as not covered where Simplecov is showing them correctly as not relevant.

Here is the coverage report I expect as provided by Simplecov (100%):
![2016-01-06 02 59 38 pm](https://cloud.githubusercontent.com/assets/16088570/12157628/f2b4071a-b487-11e5-96ad-b7070128daea.png)

But here is wh

[2016-01-07 21:28] zzztimbo opened #697 "Where are my GitHub comments?"
We're using Bamboo as our CI build tool and GitHub.
I'm not seeing any GitHub comments on our PR's. Is this feature the responsibility of the CI tool and Bamboo is currently not supported?

[2016-01-08 01:22] nickmerwin commented on #696
Following up via email, thanks @ianjepperson

[2016-01-08 01:22] #696 closed

[2016-01-08 06:47] hpapaxen commented on #694
Anybody???

[2016-01-10 20:51] dnozay opened #698 "coverage reported is clearly wrong (35% -> should be 96%)"
see badges from https://github.com/xmlrunner/unittest-xml-reporting.

https://coveralls.io/github/xmlrunner/unittest-xml-reporting?branch=coveralls, coverage reported is 35% when it should be above 90%.

[2016-01-12 15:25] dannil commented on #654
Also having this problem, but only with newly created repositories. Any information on this?

[2016-01-12 20:53] pklock commented on #654
We never heard any response on this issue. A few weeks after this was posted, they magically started to appear. We now see trends for up to 2 branches (can't choose which branches though, looks like the last 2 'committed to' brances) on the main repos page.

Closing my issue for now, you should open a new one if you have more specific information on what and when trends show up for you.

[2016-01-12 20:53] #654 closed

[2016-01-13 10:41] warden commented on #634
Same here: https://coveralls.io/builds/4680080

[2016-01-13 10:42] warden commented on #634
See also #463

[2016-01-13 13:22] chfw commented on #685
Same problem here. Organisation does not show up no matter how many times it have been tried.

[2016-01-14 00:01] dougthor42 opened #699 "Is there a way to change the check limit on Pull Requests?"
Is there a way to change the check limit on GitHub Pull Requests?

For example, I don't care about a 0.07% decrease in coverage and would actually consider this as **5 of 5 checks passed**:
![image](https://cloud.githubusercontent.com/assets/5386897/12311730/382ed9f6-ba0e-11e5-8dc1-796aa2a95ac4.png)

I think that it should be a setting on a per-repo basis, or perhaps even a config file in the repo

[2016-01-14 12:17] mfrasca commented on #692
I was experiencing the same, and I was not doing **two** things, both on github:
1) make my membership in the new organization **public**.
2) review my settings, applications, coveralls, organization access.

[2016-01-15 12:56] chfw commented on #685
Heads up, codecov.io can see my organisation correctly while coversall.org couldn't.

[2016-01-15 22:14] thisandagain commented on #694
I'm seeing this as well. Random commit messages from other private repos? This is pretty odd.

[2016-01-15 22:16] thisandagain commented on #694
![screen shot 2016-01-15 at 5 15 58 pm](https://cloud.githubusercontent.com/assets/747641/12366831/b08b7a50-bbab-11e5-877c-00d193b92951.png)

[2016-01-18 13:49] eranhirs commented on #698
Your coveralls badge is configured against the "coveralls" branch and not master

[2016-01-18 17:40] meirwah opened #700 "Coveralls seem stuck... is service up?"
![image](https://cloud.githubusercontent.com/assets/6059211/12398283/579d8146-be1b-11e5-9075-0f5763610080.png)

[2016-01-18 18:06] dnozay commented on #698
When I tested turning on reporting coverage status from coveralls, I was using `coveralls` branch which at that point in time had more commits than `master`, the number was wrong in `coveralls` branch. After fixing the branch name in `master` the number is still wrong.

[2016-01-18 19:00] tomvlk commented on #700
Same here. This is a job thats stuck: https://coveralls.io/jobs/11288976

[2016-01-18 19:02] tomvlk commented on #700
Ah, I found out that they are upgrading the infrastructure.
Status page: http://status.coveralls.io/

[2016-01-19 05:10] JohnMaguire opened #701 "Attempting to refresh my repositories results in "Halt!""

[2016-01-19 05:48] nickmerwin commented on #701
Thanks @JohnMaguire that's fixed now.

[2016-01-19 05:48] #701 closed

[2016-01-19 12:07] meirwah commented on #700
seem to be fixed...

[2016-01-19 12:07] #700 closed

[2016-01-20 04:20] kgryte commented on #502
Closing as I have since started moving all my repos over to [Codecov.io](https://codecov.io).

[2016-01-20 04:20] #502 closed

[2016-01-21 11:10] krhubert opened #702 "Could not find badge in README"
I have two repos and on both coveralls can't find badge in README but they are there.

repo: github.com/krhubert

[2016-01-21 15:20] honzajavorek commented on #702
The same:

- https://coveralls.io/github/apiaryio/blueprint-transactions
- https://github.com/apiaryio/blueprint-transactions

<img width="832" alt="screen shot 2016-01-21 at 16 20 04" src="https://cloud.githubusercontent.com/assets/283441/12484494/de1d85d6-c05a-11e5-9988-3aa700833fbc.png">

[2016-01-22 08:41] oanhnn commented on #679
I have same problem, but i using Markdown syntax :(

[2016-01-22 21:05] quocvu commented on #702
Same here https://coveralls.io/github/quocvu/node_test_sample

[2016-01-23 02:04] RazzYoshi commented on #36
I kind of looks to me as if the first branch you run coveralls on gets set as main branch. I set up coverage using a side branch and now can't seem to set main branch to master. Has there been any response about this issue yet?

[2016-01-25 10:45] doodyparizada opened #703 ""Couldn't find a repository matching this job. 'url'" on a private repo"
Hi
After successfully configuring coveralls on a private repo using travis I tried to do the same for a second repo.
I followed the exact same steps (both are python projects), yet my second repo keeps getting:

[code]

After a few days the error changed to success but was sending my coveralls data to someone elses project...:

[code]

I deleted the repo from coveralls and restarted the process (g

[2016-01-25 11:07] oryband commented on #703
:+1:

[2016-01-25 12:05] petemoore commented on #612
@nickmerwin Is this something you can help me with? Many thanks in advance.

[2016-01-25 13:48] AMDmi3 commented on #702
Same here:

https://coveralls.io/github/libSDL2pp/libSDL2pp
https://coveralls.io/github/AMDmi3/streetmangler

Readme is named  README.md though, but the badge code was pasted as-is.

[2016-01-25 16:36] edm00se opened #704 ""Source Not Available""
I've tried some of the remedies listed elsewhere in the issue tracker, but I'm not finding what needs to work for me, it would seem. My [codecov.io](https://coveralls.io/github/edm00se/emoji-transmogrifier) repo is being updated, but the files are showing as 'source not available' and, more importantly, I can't find where to update that. The source is reflecting my primary dev environments path ex

[2016-01-25 18:51] JayThomason commented on #703
We have seen a similar problem. While using travis-pro, setting the repo token and travis `service_job_id` recently stopped working correctly, often linking to different commits from other users/repos or failing to upload with the `Couldn't find a repository` error.

[2016-01-25 18:55] jfeiber commented on #703
^ :+1:

[2016-01-26 03:18] edm00se commented on #704
I found where I can strip leading portions of my path.

[2016-01-26 03:18] #704 closed

[2016-01-26 21:11] nickmerwin commented on #703
Hi all, could you make sure the owner of the repo on Coveralls hasn't been removed from the org, and has up-to-date login creds; they can reset those by following this link:

https://coveralls.io/refresh?private=true

[2016-01-26 22:53] jfeiber commented on #703
@nickmerwin resetting the login credentials worked for us, thanks!

[2016-01-27 17:03] bambielli commented on #703
:+1:, but I'll try resetting the login credentials.

[2016-01-27 17:31] bambielli commented on #703
it work

[2016-01-28 14:43] aeberlin commented on #695
This is bothering me also. I would prefer to be able to configure this display, preferably to hide it entirely.

[2016-01-28 14:45] aeberlin opened #705 "Coverage report in travis is 100%, but no change on coveralls dashboard"
I'm evaluating coveralls currently via an open-source project I've been working on, but I would like to use it for my company eventually. Coverage is being accurately reported inside travis logs, but the actual data doesn't seem to find it's way to the coveralls dashboard for the build.

https://coveralls.io/builds/4886353

https://travis-ci.org/arkbot/rb-injekt/jobs/105430962#L346

Thanks.

[2016-01-29 02:18] alexmurray commented on #702
+1 https://coveralls.io/github/alexmurray/cstyle

[2016-01-29 15:38] timmahrt commented on #702
Same here.
https://coveralls.io/github/timmahrt/praatIO?branch=master

Using the restructured text badge text as suggested by coveralls:

.. image:: https://coveralls.io/repos/github/timmahrt/praatIO/badge.svg?branch=master
    :target: https://coveralls.io/github/timmahrt/praatIO?branch=master

[2016-01-30 20:49] randomdude999 commented on #702
Try putting that text into `README`, not `README.md` or `README.rst`. If it'll work, the code is just checking `README`, not `README.*` or `README.[complex glob pattern used by GitHub to determine readme file]`. That would be an easily fixable issue. If that fails, the issue becomes more complex.

Also, +1 https://github.com/randomdude999/xkcd
https://coveralls.io/github/randomdude999/xkcd

[2016-01-31 14:51] HariSekhon opened #706 "GitHub username case change, Coveralls now shows old repo runs"
I tweaked my GitHub username to be camelcased but Coveralls defaults to showing the last runs of the repos before that time and only shows the new repo runs when giving a more explicit suffix. There doesn't seem to be any way to address this issue in the Coverals.io UI settings?

I've tried unlinking and relinking the GitHub repo, but wasn't prompted for a github url or authentication and it still

[2016-02-01 03:58] kortschak commented on #565
@153957

You can change the threshold for the amount of decrease to result in a failed build, on the projects page on coveralls.io.

That may be the case for the original issue, but we see exactly the same error [where there is a -2 +2 change](https://github.com/gonum/internal/issues/25. So, zero line count difference, but a -0.0 resulting in a failure. In other PRs I see a stated increase of +0.0

[2016-02-01 08:15] 153957 commented on #565
@kortschak You have a different issue that the one my comment was aimed at. There the problem was that there was an actual coverage change, it was just very small. In your case you claim not to have a coverage change but coveralls claims a difference. Please make a new issue for that case.

[2016-02-01 19:32] katerina7479 opened #707 "One of our repos won't update"
We updated our coverage definitions, and while the job says it's 73%, the rest of the analytics show 50%. How do I get it to update?

[2016-02-02 02:55] thisandagain commented on #694
Bump

[2016-02-02 04:36] kortschak opened #708 "-0.0 coverage change reported with zero line net delta (+2 -2)"
We see a coveralls coverage reduction failure [where there is a -2 +2 change](https://github.com/gonum/internal/issues/25); this is a net zero line count change and with no change in test coverage. Note that that PR now shows no failure as we have set the coveralls failure threshold to 1% reduction being acceptable.

[2016-02-02 04:36] kortschak commented on #565
@153957, done #708.

[2016-02-02 07:18] hpapaxen commented on #694
Hey Andrew, the issue for me was that I wasn’t specifying the service name in the pom file i.e. travis-pro. That fixed it.

[2016-02-02 08:03] glenjamin opened #709 "Coverage "changed" by -0.0% - blocks pull request"
You can see an example of this here:

https://github.com/glenjamin/webpack-hot-middleware/pull/68

A docs-only PR is somehow calculated to be a coverage change of -0.0%

This can be overridden on desktop, but not on mobile for some reason.

![img_2867](https://cloud.githubusercontent.com/assets/151272/12743112/6b9b4d40-c983-11e5-97f2-b646c8ecfc3a.jpg)

[2016-02-02 13:28] freefony commented on #562
i clicked on signin and refreshed(even after navigating back to the page after login i still had to refresh for it to work)

[2016-02-02 17:44] dcharbonnier opened #710 "slack integration"
I get this message under the test button :
Error: wrong number of arguments (1 for 0)

[2016-02-02 18:36] RawToast commented on #702
This isn't an issue caused by the readme file's extension. The author's repo has the badge in README.md and coveralls is showing no issues:

https://github.com/lemurheavy/vanity_slug
https://coveralls.io/github/nickmerwin/vanity_slug

[2016-02-02 18:46] quocvu commented on #702
It does show the badge, but the status is stale. It takes a while to update itself.  When my build passed for the first time, it was still showing 'failed' for over 24h.

[2016-02-02 19:11] elmcrest opened #711 "We couldn't charge your card to for your subscription. Your account is now past due. Please update your payment information."
Hey coveralls.io

I get repeatedly the above error Message and the following too:

Your subscription for systori is past due. We couldn't charge your card to for your subscription. Your account is now past due. Please update your payment information.

I tried it with two valid Credit Cards which work just fine everywhere else.

Can you please check this?

[2016-02-03 12:11] apavlenko commented on #702
+1 https://coveralls.io/github/apavlenko/vmf

[2016-02-03 19:53] drobiazko opened #712 "Linking new Github account does not work"
I just unlinked one of our Github accounts and tried to link another one. In the **Linked Services** section I see the green button Link Github, which tells me that unlinking was successful. However, when linking another account I'm getting the following message.

The result is I can't link my new Github account.

[2016-02-03 19:57] drobiazko commented on #712
Never mind. The other account was already linked and I forgot that.

[2016-02-03 19:57] #712 closed

[2016-02-04 01:45] johnthagen commented on #703
@nickmerwin I am getting this same error, but for my public repos. I tried resetting my login credentials, but that did not work.

https://travis-ci.org/johnthagen/cpplint-junit/jobs/106887025
https://travis-ci.org/johnthagen/cppcheck-junit/jobs/106886401

[2016-02-04 04:09] jsdevel opened #713 "Couldn't find a repository matching this job."
I'm randomly getting this error on travis right now.  I have no idea why.  Thoughts?

![2016-02-03-210721_1290x711_scrot](https://cloud.githubusercontent.com/assets/2605980/12805610/56617f52-caba-11e5-970b-2da8bb397fdc.png)

Here's a link to the failed build: https://travis-ci.org/kogosoftwarellc/express-openapi/jobs/106901792

[2016-02-04 04:20] deadprogram commented on #713
Same problem here:

https://travis-ci.org/hybridgroup/gobot/jobs/106904961#L676

[code]

[2016-02-04 05:48] michaelaye commented on #487
Also got this at the end of my Travis job, trying to set up another repo with coveralls

[2016-02-04 06:17] derekcollison commented on #713
Same thing here: https://travis-ci.org/nats-io/gnatsd/builds/106917788

[2016-02-04 06:29] renaesop commented on #713
same issue [address](https://travis-ci.org/renaesop/pss/jobs/106917545)

[2016-02-04 08:12] c58 commented on #702
+1. Yesterday all works fine!

[2016-02-04 08:37] jamiebull1 commented on #703
+1 same problem on a python project. Resetting login credentials hasn't worked.

https://travis-ci.org/jamiebull1/eppy/builds/106929506

[2016-02-04 09:24] doodyparizada commented on #703
I tried resetting my credentials and the account owner's. nothing works

[2016-02-04 10:26] jamiebull1 commented on #703
After several hours trying to get this working I tried with [CodeCov](https://codecov.io) and it worked first time. It seems a little less polished in terms of UI but the backend seems much less flaky. Also the leaking of private repos, though not a concern on my current project, seems like an absolute disaster!

[2016-02-04 10:32] shinnn commented on #713
Having the same problem: https://travis-ci.org/shinnn/modernizr-stream/jobs/106954298#L390

[2016-02-04 10:40] dkatzberg commented on #713
We have the same issue: https://travis-ci.org/dzhw/metadatamanagement/builds/106730060

[2016-02-04 11:29] sangupta opened #714 "Coveralls throw a HTTP 422 with travis-ci and github public repos"
Example log can be seen at https://travis-ci.org/sangupta/dryrun/jobs/106965084

I have the repo configured in coveralls.io - but nothing seems to work.

[2016-02-04 11:35] cliffano commented on #713
Same issue across several repos. https://travis-ci.org/cliffano/cmdt/jobs/106961786#L652

[2016-02-04 11:40] vitorbaptista commented on #487
Having the same issue on https://github.com/okfn/datapackage-py. If it helps, here's a build with `coveralls --verbose` https://travis-ci.org/okfn/datapackage-py/jobs/106964243

[2016-02-04 11:59] Stasik0 commented on #487
Same here

[2016-02-04 12:07] miigotu commented on #487
Also getting this now
https://travis-ci.org/SickRage/SickRage/builds/106970461
.travis.yml simply has `after_success: coveralls` with no local coveralls config.
It was working until about 17 hours ago

[2016-02-04 12:18] weppos commented on #713
I have the same issue. I thought it was isolated to my repo (as I rename it a few days ago), but apparently it seems to affect several repos.
https://travis-ci.org/weppos/dnsimple-go/builds/106972221

[2016-02-04 13:18] dokipen commented on #713
Same.

[2016-02-04 13:24] scorphus commented on #713
Yeah. Same. Moved it to `after_success`, unfortunately: https://travis-ci.org/scorphus/gothumbor/builds/106984372

[2016-02-04 13:24] liry commented on #617
I've got the same problem. No error message anywhere. It's frustrating :(

[2016-02-04 13:34] bitinn commented on #713
same here, would be interesting to see if this is due to travis or coveralls

https://travis-ci.org/bitinn/vdom-parser/builds/106983754

[2016-02-04 13:41] o1egl commented on #714
Have the same issue https://travis-ci.org/o1egl/elogs/jobs/106987802

[2016-02-04 13:42] o1egl commented on #713
I have the same issue https://travis-ci.org/o1egl/elogs/jobs/106987802

[2016-02-04 13:51] javadev commented on #714
+1

[2016-02-04 13:52] PascaleBorscia commented on #714
+1

[2016-02-04 13:52] marcc-orange commented on #714
+1

[2016-02-04 14:07] j-towns commented on #487
Also getting this issue
[https://github.com/j-towns/pymanopt](https://github.com/j-towns/pymanopt)

[2016-02-04 14:24] figurebelow commented on #713
Same error here.
Even running the line from the command line returns the error, so it seems a coverall issue:

cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
C:\testdev\nr\node-red\nodes\svgart\node_modules\coveralls\bin\coveralls.js:18
        throw err;
        ^
Bad response: 422 {"message":"Couldn't find a repository matching this job.","error":true}

[2016-02-04 14:45] javadev commented on #713
+1

[2016-02-04 15:01] cardil commented on #714
This issue blocks our work at: https://github.com/coi-gov-pl/puppet-jboss/pull/54

[2016-02-04 15:42] ioquatix commented on #487
Same issue https://travis-ci.org/ioquatix/http-accept/builds/106922036

[2016-02-04 17:19] lmjohns3 commented on #487
I'm seeing this too: https://travis-ci.org/lmjohns3/theanets/jobs/106906300#L767

[2016-02-04 19:11] cardil commented on #713
Dear Coveralls,

Rollback, please.

Sincerely,
Me

[2016-02-04 19:36] miguelvelezmj25 commented on #511
No answer

[2016-02-04 19:36] #511 closed

[2016-02-04 20:06] saroele commented on #487
Same issue here on a previously working build: https://travis-ci.org/opengridcc/opengrid/jobs/107034976

[2016-02-04 20:22] fisharebest commented on #713
The problems have been fixed (for me).

I guess the coveralls engineers have given the system a kick.  (Thanks guys!)

[2016-02-04 20:25] nickmerwin commented on #487
Hi all, we just deployed a potential fix for that. Could builds be re-triggered now?

Thank you!

[2016-02-04 20:29] nickmerwin commented on #713
Hi all, we've deployed a potential fix for this issue, could you re-trigger builds?

Thanks!

[2016-02-04 20:34] jsdevel commented on #713
Looks good!

[2016-02-04 20:48] saroele commented on #487
Something is indeed working again, but the results are not correct.  I suddenly get 100% coverage on my files (was much lower), and the overall statistics say "coverage remained the same at ?%"
https://coveralls.io/builds/4971869

[2016-02-04 21:01] scorphus commented on #713
All systems are GO! Thanks, Coverallers! :+1:

[2016-02-04 21:10] saroele commented on #487
Everything seems ok now for me.  Thanks.

[2016-02-04 21:11] vitorbaptista commented on #487
Working for me as well, thanks for the quick fix :+1:

[2016-02-04 21:17] cardil commented on #713
Seems to be OK now. Thanks for reaction :smile:

[2016-02-04 21:22] deadprogram commented on #713
Likewise.

[2016-02-04 21:52] Stasik0 commented on #487
+1 for working

[2016-02-05 00:11] figurebelow commented on #713
Thanks for the quick response, up and running again :smiley:

[2016-02-05 00:11] #713 closed

[2016-02-05 05:30] cardil commented on #714
This issue is fixed now. See #713

[2016-02-05 07:06] o1egl commented on #714
Periodicaly I see this error.
https://travis-ci.org/o1egl/elogs/builds/107173217

[2016-02-05 09:44] sangupta commented on #714
Seems to be fixed with #713  - closing this down.

[2016-02-05 09:44] #714 closed

[2016-02-05 12:01] davidsowerby commented on #702
+1 I don't think this is  a "stale" issue - I tried using README (without extension) and README.md, as suggested above, but Coveralls still reports "We detected this repo isn’t badged! "

This was a new addition to Coveralls, but I've tried a few that display the Coveralls badge, clicked through to coveralls, and each reports that the repo is not badged.

https://coveralls.io/github/davidsowerby/q

[2016-02-05 12:40] Skarlso commented on #702
https://github.com/Skarlso/goprogressquest Here as well. The image is fine. Everything is setup nicely. It even updates after Github refreshes the images ( or if I bust Github's image cache ), but it still says that the tag could not be found in the README.

[2016-02-05 17:49] nickmerwin commented on #702
Hi all, we've just deployed a fix for this. Thank you for your patience and happy covering!!

[2016-02-05 17:49] #702 closed

[2016-02-05 18:36] Skarlso commented on #702
Yaay, works! Thanks! :+1:

[2016-02-05 19:45] AMDmi3 commented on #702
Fix confirmed :+1:

[2016-02-06 16:33] Diggsey opened #715 "Couldn't find a repository matching this job"
While trying to submit coverage data using kcov on travis for a public repo, I just get the error:
`kcov: warning: coveralls write failed: {"message":"Couldn't find a repository matching this job.","error":true}`

The travis job ID is correct, as you can see from the build log: https://travis-ci.org/Diggsey/multirust-rs/jobs/106891443

[2016-02-07 14:10] quasiben opened #716 "Successful Job -- Coverage Unknown"
Hi All,

I may be doing something unorthodox in that I'm running my tests in docker.  But I am getting coverage statistics and a successful job submission to coveralls.io.  Still, my badge is `coverage unknown`

- https://travis-ci.org/blaze/knit/jobs/107523266
- https://coveralls.io/github/blaze/knit

[2016-02-08 17:55] ltackmann commented on #544
+1

[2016-02-08 22:47] dhanson358 commented on #660
I have this same issue, but dramatically wider differences.

![image](https://cloud.githubusercontent.com/assets/545837/12901878/7db5a246-ce83-11e5-8fef-f51cf624a8ae.png)

![image](https://cloud.githubusercontent.com/assets/545837/12901893/8bb6fa02-ce83-11e5-9642-37656dce5711.png)

Running simplecov locally, the coverage in the web UI seems to be right (50.76% in this case), but the message gettin

[2016-02-09 15:11] DerMika commented on #329
If you're desperate to increase "coverage", you can always go with `@codeCoverageIgnoreStart` - `@codeCoverageIgnoreEnd` (https://phpunit.de/manual/current/en/code-coverage-analysis.html)

[2016-02-09 15:55] 304NotModified commented on #329
QFT.

Please don't decide for others what is good or not. That you're fine with the current implementation is nice for you, but different projects have different goals.

Don't get this why this is closed. IMO it should be not that technical difficult.

[2016-02-09 17:47] joshma commented on #338
+1 to this, are the coveralls folks still working on the service or addressing issues?

[2016-02-09 18:01] giggio commented on #329
Exactly.

[2016-02-09 19:11] nCrazed commented on #709
Is there an ETA for a fix on this?

[2016-02-09 23:32] justinhelmer opened #717 "Confusion at lack of results"

[2016-02-09 23:40] #717 closed

[2016-02-11 09:23] petemoore commented on #612
@nickmerwin is there anyone else that can help me here? This seems to be a coveralls problem, and has now been open for 5 months. :(

[2016-02-11 11:08] sbts commented on #623
We also have this issue.
As one of the other devs said....
"That's ... stupid"

Is there any indication when this may be fixed?

[2016-02-11 16:54] luismesas opened #718 "Jobs delayed"
Seems like jobs are delayed and take ages to report back to Pull Requests

[2016-02-11 21:56] ewindisch opened #719 "Access denied to repo following conversion private -> public"
We recently moved a repo from private to public and now I'm unable to access, modify, remove, or otherwise access the URL (https://coveralls.io/github/iopipe/iopipe). Coveralls is no longer gating our changes for the repo, either.

[2016-02-11 22:31] ewindisch commented on #719
As a workaround, I managed to delete the private repo from the subscriptions page (although it no longer showed under "repos") and was able to re-add it. History was lost, but I'm back in business.

[2016-02-11 22:56] s-a commented on #716
Same here https://coveralls.io/github/s-a/time-track?branch=master

[2016-02-12 00:36] quasiben commented on #716
After a 1 or 2 things seemed to be working for me.  @s-a feel free to keep this open if you are still having trouble, but I'm good to close

[2016-02-12 03:52] nickmerwin commented on #612
Hi @petemoore apologies this has been lingering for so long!

Looking at your last successful build (https://travis-ci.org/taskcluster/slugid.py/builds/104944842#L161), it appears there's another issue:

[code]

[2016-02-12 06:12] s-a commented on #716
Yes it works. We can close this.

[2016-02-12 06:29] nickmerwin commented on #716
Thanks all! Closing for now.

[2016-02-12 06:29] #716 closed

[2016-02-12 09:28] petemoore commented on #612
Thanks @nickmerwin! No worries at all, and thanks for highlighting the new issue. Indeed the previous issue seems to be resolved now, which is great. :smiley:

[2016-02-12 09:28] #612 closed

[2016-02-14 06:04] llogiq commented on #653
I also get the same error.

[2016-02-14 21:31] ehuelsmann opened #720 "Conflicting message in e-mail vs dashboard -- one says unchanged, the other increased?"
My update mail says my coverage changed:

![capture](https://cloud.githubusercontent.com/assets/2326559/13036540/63be42ee-d36a-11e5-92d3-d7a002b2aece.PNG)

But the dashboard is pretty clear that's not the case:

![capture](https://cloud.githubusercontent.com/assets/2326559/13036549/97ef7650-d36a-11e5-838c-51f12c399caa.PNG)

See https://coveralls.io/builds/5080588

[2016-02-16 11:06] beneills opened #721 "Sync after repo rename gives error"
**Reproduction Steps**
_beneills/ux_ had coverage set up and all was working well.

Renamed _beneills/ux_ to _beneills/legibil_ and pressed "sync" button on _coveralls.io_ page.

This redirected me to [https://coveralls.io/repos/92525/get_new_name](https://coveralls.io/repos/92525/get_new_name) which renders as an error page.

**Next Action**
Going to use "change repo source" feature I just found.

[2016-02-17 02:01] danrbailey opened #722 "Private Access Permissions for Public Repo?"
Hi,

I'd like some help retrieving the repo token for a public open-source project. We have an admin user with public membership to the GitHub organisation that hosts the project and have granted read/write commit access, but _not_ read and write access to public and private repositories (as we don't wish to grant access to private repositories).

Is this possible? Going to this page:

https://cov

[2016-02-17 02:18] larubbio commented on #703
I'm getting this same error.  I just created a travis-pro account (currently in free trial) and a paid account on coveralls.

[2016-02-17 18:22] shahdewang opened #723 "500 Error when attempting to push report from travis-ci"
[ERROR] Failed to execute goal org.eluder.coveralls:coveralls-maven-plugin:4.1.0:report (default-cli) on project algorithms: I/O operation failed: Report submission to Coveralls API failed with HTTP status 500: Internal Server Error (Coveralls API interal error)

[2016-02-17 18:39] jdcrensh commented on #723
+1
Travis CI is reporting a 500 error from Coveralls from a previously passing build:

[code]

[2016-02-17 18:54] kujenga commented on #723
+1 for us as well, we're seeing the same error

[code]

[2016-02-17 19:03] desilinguist commented on #723
Same for [us](https://github.com/EducationalTestingService/skll) since this morning, pretty much.

[2016-02-17 19:05] shahdewang commented on #723
Issue progress status: http://status.coveralls.io/

[2016-02-19 11:14] diwu1989 opened #724 "pull request comment not appearing in BetterWorks/BetterWorks repo"
I'm not seeing comments on pull requests for my private repo

[2016-02-19 14:17] msaspence commented on #30
+1

[2016-02-19 19:55] shahdewang commented on #709
+1
Would be good to have this fixed.

[2016-02-21 00:50] ljbade opened #725 "Github pending status does not show"
I noticed on our PRs at https://github.com/swift-nav/libswiftnav/pull/307 that there is no "pending" status shown for coveralls.

When a new PR is updated the Travis pending status appears, but nothing about coveralls. Sometime later (only if there is a failure) the coveralls failed status suddenly appears.

There is a gap where Travis reports green, but before coveralls reports a failure too, whe

[2016-02-21 02:33] daniele-orlando commented on #84
+1

[2016-02-22 01:20] pcolby opened #726 "Blog's RSS feed gives 404 error"
Hi,

Sorry if this is the wrong place to report this (couldn't see anywhere more appropriate).

The Coveralls.io blog (http://blog.coveralls.io/) includes a link to an RSS feed like:

[code]

However, the specified URL (http://blog.coveralls.io/feed.xml) is returning a 404 error.

Cheers.

[2016-02-22 03:40] yeoupooh commented on #710
Me too

[2016-02-22 16:51] tessi commented on #78
This issue is a little dated now and I didn't follow the issue for quote some time now. So I better close this.

[2016-02-22 16:51] #78 closed

[2016-02-23 14:37] duedal commented on #724
The bot stopped [adding comments 20 days ago](https://github.com/coveralls?tab=activity)? And the status API does not work either for private repos?!

[2016-02-23 14:38] duedal commented on #703
If you are using tox + travis-pro to run your tests, make sure it's tox that runs the `coveralls` command. This fixed the issue for me.

[2016-02-23 14:38] duedal commented on #629
If you are using tox + travis-pro to run your tests, make sure it's tox that runs the `coveralls` command. This fixed the issue for me.

[2016-02-24 01:02] ketiko commented on #696
@nickmerwin We are also having this issue.  Our percentage drops way down after using parallel because of this.

[2016-02-24 11:20] rwd commented on #610
Same here, on the [1246th build](https://coveralls.io/builds/5185616), making it difficult to enforce coverage.

[2016-02-24 22:02] larubbio commented on #703
If I move the coveralls command to tox it works locally but it still fails when run by travis.

My build output on travis:

[code]

What is interesting is in .coveralls.yml I have my `service_name: travis-pro`, but in the verbose output it is travis-ci.  Also config_file is .coveragerc and not .coveralls.yml

[2016-02-24 22:37] duedal commented on #703
Another thing to try if you didn't already, make sure the travis env vars is passed along to the tox env.

Make sure `TRAVIS*` is in your passenv.
[code]

[2016-02-24 22:56] larubbio commented on #703
I was passing the vars explicitly like this:

[code]

Changing to TRAVIS* didn't do anything different

It seems like it isn't picking up the correct service from .coveralls.yml.
Since I'm on a private repo service needs to be travis-pro but it is
sending travis-ci instead.

On Wed, Feb 24, 2016 at 2:37 PM, Hans Duedal <notifications@github.com>
wrote:

[2016-02-26 04:31] iwasrobbed commented on #299
@nickmerwin Getting an error when I try testing to the Slack-provided webhook: `Error: wrong number of arguments (1 for 0)`

[2016-02-26 17:20] dimbleby commented on #709
Duplicates #708 presumably

[2016-02-26 23:22] nknapp commented on #613
I wonder if anyone from the Coveralls-team is reading this, because I think this would be a feature request.

I've noticed that while multiple builds of the same commit are grouped nicely if they are coming from Travis. Reports from Appveyor are coming on build at a time. At https://coveralls.io/github/nknapp/thoughtful-release, build `#72 Collect output in my house` is a Travis build with two sub

[2016-02-27 19:34] dragostis opened #727 "Can't get my organization's repos to show up."
https://github.com/anima-engine

[2016-02-27 20:09] dragostis commented on #727
Solved it.

[2016-02-27 20:09] #727 closed

[2016-02-28 22:25] bel2125 commented on #603
Since I did not find anything in the documentation and did not get any response here, I tried around and finally succeeded.
This is what I did (maybe some steps are unnecessary), maybe it will be helpful for someone:
Login to coveralls with github, go to the "add repo" and push the buttons on the top (resync ...).
Go to github, log in, go to the organisation, go to settings, go to third-party acce

[2016-02-29 07:31] amaembo opened #728 "Inconsistent repo stats"
Here's my project:
https://coveralls.io/github/amaembo/streamex

Currently I see in the Repo stats panel:

As you can see, 4537/4744 = 95.63%, not 98.64%. This discrepancy appears, because 98.64% number goes from the last commit in the Master branch, while 4537 of 4744 numbers are related to the last commit in any branch (I have more recent commit in another branch with much less coverage). I feel

[2016-02-29 16:41] ligurio opened #729 "Source files are not available in CRIU builds"
Source Not Available.

"The file "criu/cr-dump.c" isn't available on github. Either it's been removed, or the repo root directory needs to be updated."

But the path to the file in sources is right - https://github.com/xemul/criu/blob/master/criu/cr-dump.c
For example: https://coveralls.io/builds/5242925/source?filename=criu%2Fcr-dump.c

coverage stats was pushed by cpp-coveralls.
Piece of coverag

[2016-03-01 23:42] #405 closed

[2016-03-02 10:53] mbox opened #730 "Loading indication doesn't show when browsing build files"
STR:
- Load the builds page for a repo that has > 100 files
- Select the files tab, and change filter to load 100 files
- Scroll to bottom of page
- Click "Next" or any of the page numbers
- Nothing appears to happen
- Scroll back up - and see that there's a Loading indicator, but it was drawn outside the visible window

[2016-03-02 17:32] partydrone commented on #299
Same here: `Error: wrong number of arguments (1 for 0)`.

[2016-03-02 17:35] partydrone commented on #299
Also, for the notification boxes, it's unclear whether you mean coverage changes _by_ a certain percent, or _above/below_ a certain percent. I'm guessing the latter.…

[2016-03-03 16:42] matteobachetti commented on #604
Hi, I'm having the same problem with an organization repo. I'm publicly owner of the organization.

[2016-03-04 22:24] valendesigns commented on #719
I'm having this exact same issue. Unfortunately, I cannot use your workaround as the repo does not show up on the Subscription page.

[2016-03-05 13:18] ioncube commented on #715
Did you try the job again? It may have worked a second time. The same issue just occurred for me on a travis job, but rerunning the job with no changes it worked the second time. The GH integration seems flakey.

[2016-03-05 13:31] Diggsey commented on #715
The problem was the command line I was passing to `kcov` was incorrect: this error message is very misleading, I think it can occur if you try to submit empty coverage data.

[2016-03-05 13:31] #715 closed

[2016-03-06 13:11] kkamkou commented on #652
up?

[2016-03-06 17:07] BrotherLogic opened #731 "Coverage is not reported on pull request build"
e.g. https://github.com/BrotherLogic/beer/pull/48

builds from travis and shows up correctly on coveralls (https://coveralls.io/builds/5322800) but the < 99.99 test coverage is not reported to github and so the build suceeds when it should fail.

[2016-03-06 22:15] ehuelsmann opened #732 "All coverage on LedgerSMB/LedgerSMB reported as new"
Hi,

Until a few days ago, coverage was nicely reported relative to the last coverage report and the background of the 'master' branch was showing an increasing graph. Now, the graph is gone and all coverage is reported as "new coverage".

Please advise!

Thanks in advance,

Erik.

[2016-03-07 13:52] ericgross opened #733 "Coverage is >99% but is being reported as always decreasing below 98%"
My coverage is currently 99.11% but somehow every commit, I am notified that my coverage has decreased: `Coverage decreased on ​*proj/web*​ ​_develop_​ from ​*99.107%*​ to ​*97.962%*​` - this happens all the time.
1. Why am I being notified my coverage is ~97% when it is actually >99%?
2. Why is it always decreasing from ~99% and not resetting to 97% after I am notified?

[2016-03-07 16:39] marcjansen commented on #731
Same here: https://github.com/openlayers/ol3/pull/4977

[2016-03-08 01:51] #707 closed

[2016-03-08 18:38] dasfrosty commented on #732
I'm getting similar weirdness.  I keep getting multiple notification emails saying "First build on <branch-name>" for the same branch repeatedly.

And now I just got a notification for build #1 with no branch information at all.  To be specific we were on build #326, but then coveralls just created a new build that is labelled build #1!  (https://coveralls.io/builds/5350685)

[2016-03-08 22:17] asottile opened #734 "Coverage not reported: ?%"
https://coveralls.io/jobs/12626756
https://travis-ci.org/Yelp/yelp_cheetah/jobs/114631795

It's definitely at 100% but not displaying :(

Also

https://travis-ci.org/asottile/setuptools-golang/jobs/114167075
https://coveralls.io/jobs/12565817

[2016-03-08 22:56] nmohoric commented on #734
Same problem here. Very weird, never shows up with any actual data in there. :(

[2016-03-08 23:16] asottile commented on #734
I ran a job with --verbose as well: https://travis-ci.org/Yelp/yelp_cheetah/jobs/114642665

seems on coveralls side?

[2016-03-08 23:29] mattcasey opened #735 "Collaborating admins can't seem to change thresholds for repos"
What the title says. I'm trying to allow people on my project's team that have write access, or at least the collaborators I've added with Admin role, to set the coverage threshold levels per repo, but they cannot see the settings in the UI. Is this supposed to be supported, or on the road map?

[2016-03-09 02:23] blampe commented on #734
Also seeing this.

[2016-03-09 03:41] Layoric commented on #734
Same here, multiple project builds all showing up with no data.

[2016-03-09 03:54] cooperkong commented on #734
just got coveralls setup with CircleCI, getting unknown % now!

[2016-03-09 07:08] dojoteef commented on #734
+1
Mine is also at 100% but not updating :-(

https://travis-ci.org/dojoteef/lualol/jobs/114712451

(btw, hey @asottile it's been a while; hope Yelp's still doing well!)

[2016-03-09 08:00] Risto-Stevcev commented on #734
Same

[2016-03-09 08:18] makots commented on #734
+1

[2016-03-09 09:19] nadar commented on #734
same here, shows "no data".

https://travis-ci.org/luyadev/luya/jobs/114728169
https://coveralls.io/jobs/12640024

[2016-03-09 09:38] rockuw commented on #734
Same

https://coveralls.io/builds/5359587

[2016-03-09 10:05] nickmerwin commented on #734
Sorry all, we're running an emergency database migration to fix this issue.

Stay tuned here: https://status.coveralls.io

Thank you!

[2016-03-09 21:31] ehuelsmann commented on #734
@nickmerwin will that resolve the issue with all builds reported as "new coverage" as well?

[2016-03-10 05:18] geeknam commented on #687
we're also seeing the same error

[2016-03-10 08:30] Layoric commented on #734
Builds now showing data for me, thanks @nickmerwin !

[2016-03-10 09:01] ehuelsmann commented on #734
The database update didn't fix our issue #732 -- which not only our project is experiencing. Was the fix intended to solve that issue too?

[2016-03-10 12:43] liry commented on #724
Pull request comments unfortunately doesn't work even for many public repos for a long time :(

[2016-03-10 19:02] nubs opened #736 "Github status update is going to the wrong commit on a pull request"
I'm using Travis CI on a new PHP project and trying to get things set up so that the coveralls report updates the merge status of pull requests.  The initial pull request however isn't working as expected.  Travis CI is updating its status just fine and is also firing off the report to coveralls, where I can see the coverage report being generated.  However, the GitHub commit in the PR is not bein

[2016-03-10 23:22] chaseajen commented on #718
+1 seeing jobs delayed for long periods (15+ minutes before new results visible)

[2016-03-10 23:45] cooperkong opened #737 "LINES, RELEVANT, COVERED, MISSED, HITS all empty from new coevrage file"
Hi ,

Everything works fine for the repo until I changed the uploaded coverage.xml to a new file which consists of more data. Then all of sudden coveralls stops picking up those data except showing "New Coverage" with No Data besides it.

The File section under Job shows newly covered file as 100% but lacking all the other data, LINES, RELEVANT, COVERED, etc...
https://coveralls.io/builds/5376033

[2016-03-11 02:29] cooperkong commented on #737
for some reasons it's showing up now, looks like there is delays showing those data, all good anyways!

[2016-03-11 02:29] #737 closed

[2016-03-12 12:40] Dawny33 commented on #430
Is there any progress made on this?

As JuliaLang is developing very fast, it would be really good if unicode rendering support is added for the source code.

[2016-03-14 17:44] Miserlou opened #738 "Coverage remained the same from ​0.0% to ​94.215%"
Coverage is being reported as "remained the same", from 0% to whatever it is now. The 'change' box value is at 94% when it should be 0. This is in a Slack integration.

It should be 'remained the same at 95%', I assume.

[2016-03-14 23:32] cjsauer commented on #97
Still experiencing the issue 3 years later. Is anyone reading these issues?

[2016-03-15 01:52] BrotherLogic commented on #731
I deleted the repo in coveralls, and recreated it to no avail.

[2016-03-15 23:52] RussellSmith-Janrain opened #739 "GitHub hook not firing"
issue is that the github hook is never fired so the coveralls notice in github never turns from yellow to green (or red if coverage drops)

this issue was also reported through the "submit a request" form also - apologies for the dupe

[2016-03-16 00:06] nickmerwin commented on #731
Hey all, we've deployed a fix for this. Could you please re-trigger your PR builds?

Thank you!

[2016-03-16 00:06] #731 closed

[2016-03-16 00:44] kako-nawao commented on #734
Still "no data" here. Well, that's inaccurate: the files do show the lines covered properly, but there's no percentage per file, nor overall.

[2016-03-16 00:47] kako-nawao commented on #579
Yep, still happening.

[2016-03-16 04:53] BrotherLogic commented on #731
Hmm, now I get:

$ $HOME/gopath/bin/goveralls -service=travis-ci github.com/BrotherLogic/beer
{"service_job_id":"116299486","service_pull_request":"48","service_name":"travis-ci","source_files":...

In the travis logs, and coveralls doesn't seem to be running on that build.

[2016-03-16 06:22] marcjansen commented on #731
It's working for us again: see e.g. https://github.com/openlayers/ol3/pull/5031

Thanks for the fix!

[2016-03-16 18:58] wjwarren commented on #732
Same thing happens to my builds too.

Similar reported issue: https://github.com/lemurheavy/coveralls-public/issues/738

[2016-03-16 20:18] Risto-Stevcev commented on #734
Same... still no data: https://coveralls.io/builds/5442485

[2016-03-16 20:33] Risto-Stevcev commented on #734
On another note, it would be nice if coveralls provided a way to view the actual coverage file it received so that we won't attempt to debug it on our end if it was properly submitted.

[2016-03-17 01:33] sahilTakiar opened #740 "Coveralls not commenting on Pull Requests"
I recently setup Coveralls for our GitHub project: https://github.com/linkedin/gobblin

The project is public. The coveralls page is: https://coveralls.io/github/linkedin/gobblin

Everything is working correctly, except the coveralls bot is not posting comments on new Pull Requests, even though this feature is enabled in the settings.

How can this be fixed?

[2016-03-17 16:02] greatislander commented on #732
Confirmed for https://github.com/pressbooks/pressbooks too, e.g.: https://coveralls.io/builds/5399979

[2016-03-17 22:59] devights commented on #738
I'm also seeing this when coverage increases, reporting from 0.0% to [current coverage]%. Ex:

`Coverage remained the same on [repo]​ from ​*0.0%*​ to ​*51.078%`

[2016-03-18 08:14] arstrube commented on #708
I have a similar issue. In my case, coverage (percentage) has not changed at all (100% for the file in question), not in the least, but what did change is that in that source file, the total number of times each line was executed, dropped from 119,200 (or so) to 119,108.

I find this is NOT a useful criterium (it might happen due to code optimization, or more efficient testing).

At least I would

[2016-03-18 08:28] arstrube commented on #708
see https://github.com/cpputest/cpputest/pull/904

[2016-03-18 20:09] nickmerwin commented on #740
Hi @sahilTakiar we've recently re-enabled our commenter bot. Your next PR build should receive one.

Please re-open if it doesn't. Thank you!

[2016-03-18 20:09] #740 closed

[2016-03-20 05:34] Risto-Stevcev commented on #734
Seems to work now, I guess it was a server delay

[2016-03-21 16:26] jkinzer commented on #694
Having this same problem with https://github.com/caitp/karma-coveralls

[2016-03-21 16:59] barczaG commented on #97
+1

[2016-03-22 09:06] agauniyal opened #741 "Couldn't find a repository matching this job"
I've already read other past issues mentioned here as well as the repo I'm linking.

See here : https://github.com/JoakimSoderberg/coveralls-cmake/issues/14

[2016-03-23 06:13] agauniyal commented on #741
Had to specify repo token in env variables. You should atleast document this thing.

[2016-03-23 06:13] #741 closed

[2016-03-23 14:32] greatislander commented on #732
Any news on this issue?

[2016-03-23 19:48] cpitclaudel opened #742 "Numbers don't add up and coverage is > 100%"
Hi there,

How does the following screenshot make sense? (https://coveralls.io/builds/5524548)

![screenshot from 2016-03-23 15 47 18](https://cloud.githubusercontent.com/assets/8181630/13998642/8c8eab02-f10e-11e5-8d84-b84240ba063c.png)

In particular, how can the total be > 100%? How can there be 267 covered lines for 266 lines of interest, and still three lines not covered?

And with every file

[2016-03-24 18:16] jodosha opened #743 "Coverage is calculated for test code, not for production"
Hello folks and thanks for Coveralls!
We're using it for Hanami.

A couple of months ago the coverage rate suddenly halved from +95% to ~40%.
Can't tell why, but the builds calculate coverage for test code (under `test/`), not production code (`lib/`).

Here's an example https://coveralls.io/builds/5535192

[2016-03-24 18:40] jodosha commented on #743
I found the turning point build is https://coveralls.io/builds/4325577

[2016-03-25 11:47] jabdoa2 opened #744 "Coverage raise/fell does no longer work when omitting the unit tests"
We test a python module and moved our tests inside the module. To get correct coverage results we exclude them from the calculation in .coveragerc (using omit). Since doing that coveralls no longer tells if coverage raised or fell. It just displays "new coverage" on every commit. This worked when the tests were outside the module. Is there any way to fix that?

https://coveralls.io/github/missionp

[2016-03-27 09:26] McPringle commented on #610
Still not fixed, the same happens here: This is our [109th build](https://coveralls.io/builds/5560626) but the email says `First build on develop …`

[2016-03-27 12:40] andygrunwald opened #745 "Golang + TravisCI + Version "tip""
Hey,

I have a Golang Repo at https://github.com/andygrunwald/go-jira
TravisCI offers a `tip` version of Golang. This is the latest golang version available.
A typical travis ci file could look like:

[code]

But with this the push to Coveralls fails with `Bad response status from coveralls: 422 - {"message":"Couldn't find a repository matching this job.","error":true}`.
See https://travis-ci.org/

[2016-03-29 13:13] willnewton commented on #744
I'm not sure if this is related to the omitting of tests. I only get new coverage on all my repos in Python and Go for all pushes. Pull requests seem to work ok.

I have tried to create a Zendesk issue (I have a "pro" account) but had no response.

[2016-03-30 17:01] naservere commented on #738
Have the same problem. Please give us any comment on it.

[2016-03-30 21:17] carlansley commented on #738
We are still seeing this on all our private repos, for a couple of weeks now.

[2016-03-31 00:56] nholthaus opened #746 "Coverage at 0% even though all files are at 100%"
https://coveralls.io/github/nholthaus/units

All the files in all the builds have 100% coverage, but each build shows a total coverage of 0%.

[2016-03-31 09:56] fommil opened #747 "proprietary project using your open source service"
This project https://github.com/outworkers/phantom is proprietary but is using your open source service.

Please restrict their usage, as it makes it unfair to other organisations who have released free / libre software versions of their software to make use of the community support, not to mention your paying customers.

[2016-03-31 12:21] julmot opened #748 "build behavior"
Hi,
1. I've implemented karma-coveralls to send coverage reports from karma-coverage to coveralls.io. One of my projects is developed in ES6 (ES2015) and because I need to test in ES5 browsers I have to transpile the code to ES5 first. Now, I'm saving the transpiled file in a folder `build`, which will be deleted after the test. Coveralls.io doesn't save the file and just references to it on the r

[2016-04-01 00:04] snarfed opened #749 "deeper coverage history graphs"
the per-repo coverage history graphs on the user page are great!

<img width="857" alt="screen shot 2016-03-31 at 5 02 15 pm" src="https://cloud.githubusercontent.com/assets/778068/14194349/63173230-f762-11e5-93c7-e35c2a0f5836.png">

...but they're pretty bare bones. it'd be nice to expand them into a full feature. rendering in the foreground with labels, customizable time window, etc. bonus point

[2016-04-01 17:43] jsdevel opened #750 "Coverage randomly failing in travis, have to manually re-start builds for it to succeed"
Lately I've been seeing intermittent failures on all of my travis jobs.  It looks like this in travis:

![failures](https://cloud.githubusercontent.com/assets/2605980/14215218/73c96d0c-f7f6-11e5-90b7-b3b2f2b0d890.png)

Every time this happens, I look at the failing job and it reports this:

[code]

Manually rebuilding the failed job works, but it's very annoying.  Could this be a race condition, o

[2016-04-01 21:04] Miserlou opened #751 "Local Coverage Does Not Match Coveralls Coverage"
My local coverage is 100%, but my Coveralls coverage is 96.3%.

Any reason for this? Does Coveralls not respect pragma: no cover?

[2016-04-02 05:34] swapnilsm commented on #742
Same with this https://coveralls.io/builds/2153201

[2016-04-02 11:22] ehuelsmann commented on #732
@greatislander sent a support request through the Coveralls Feedback functionality on March 6. Then sent a reminder 10 days later. Got a response from @nickmerwin telling me a fix had been deployed and needed to be confirmed. Within 2 days, I responded back that the issue *is not* fixed. Unfortunately, no reaction since then, despite reminders :-(

[2016-04-02 14:05] cpitclaudel commented on #742
@swapnilsm 225%? Now that's what I call serious coverage. My 101% looks unprofessional in comparison :P

[2016-04-03 05:49] bitinn opened #752 "Is the random 422 error: `Couldn't find a repository matching this job` a code word for `you are sending coverage request too frequently`?"
If yes, then maybe a better message is needed and I really want to see an example on how to send coverage report less frequently when you have testcases that run multiple times on Travis CI (eg. we run testcases for node v0.10, v0.12 & latest, should I send coverage report only once?)

If no, then I still see random failure for a perfectly fine build, eg. https://travis-ci.org/bitinn/node-fetch/bu

[2016-04-04 13:26] papandreou commented on #752
As far as I know, you are supposed to send the coverage report for every build, as different node.js versions might exercise different lines of code. The combining the coverage reports is part of the service provided by coveralls.

[2016-04-06 21:19] joshrlesch commented on #751
Im getting the same thing with JaCoCo. After running the coverage tool locally and viewing the generated html, it says that I have 7% coverage. But coveralls says I only have 5.931%

[2016-04-07 04:25] VelizarVESSELINOV opened #753 "Be able to have billing manager like GitHub"
GitHub billing management is done very well, my suggestion is to have the same Coveralls, be able to assign billing manager for a company.

[2016-04-07 05:45] daurnimator commented on #732
I'm getting same issue on https://coveralls.io/github/daurnimator/lua-http

[2016-04-08 10:47] JonatanSalas opened #754 "Coverage shows an increment when it really decreases"
Hi guys! I'm working as collaborator for SugarORM project. I have submitted a pull request because I have make a migration of instrumentation tests, and when coveralls take a look at code It shows that coverage increased from 70.293 to 70.062. That's a decrease.

The PR in question is this satyan/sugar#569

[2016-04-08 19:01] julmot commented on #748
As no one replies and there are still open issues from 2013 without any comment, I'm assuming to not get any reply in the near future. So I will stop using this service and test the competition...

[2016-04-08 19:44] brookslyrette commented on #738
Also seeing on our private repos

[2016-04-08 22:13] mumbleskates opened #755 "Off-by-one in "files" list when viewing a build for a repo"
The page declares that it will show items 1 through 10, on the first page, but shows 1 through 11. You can count them:

![image](https://cloud.githubusercontent.com/assets/6464813/14398842/31a2c044-fd9c-11e5-88c4-6f04a0c26e33.png)

The 11th also shows up on the next page, which shows the 11th through 13th.

[2016-04-09 03:52] stevemao opened #756 "merge two repos"
I have transferred my repo to an org. Another owner then created another coverall project on the new location. Now we have two coverall projects for the same repo.

[2016-04-11 14:50] tleunen opened #757 "Coveralls sent twice the report on the PR"
On this PR https://github.com/tleunen/react-mdl/pull/282 Coveralls sent twice the same report for the same commit.

[2016-04-11 17:30] dmcnulla opened #758 "Inaccurate line coverage shown"
[Inaccurate line coverage](https://coveralls.io/jobs/13488674/source_files/212754266)
Logically, I cannot agree with the coverage for the lines shown with no coverage for other lines. It just isn't possible. If I am setting it up incorrectly, I'd like to know. I have 100% coverage on other repositories. I have tried variations in my [env.rb](https://github.com/dmcnulla/ntp/blob/coverage_investigat

[2016-04-12 02:08] dmcnulla commented on #758
I am getting the same coverage from codeclimate, so I think it's a problem with simplecov (basis for their code coverage too).

[2016-04-12 08:41] gerddie commented on #734
For me there is also a build that is not showing up:
https://coveralls.io/builds/5729655
Only when I go to the last build on the dashboard I can move to this one, and then the covered line numbers are reported, but no overall or percentage.

[2016-04-12 14:00] pigri opened #759 "Billing email support"
Please support for send invoice to email.

Thanks!

[2016-04-12 16:34] mweibel commented on #487
Getting this randomly as well, example links:

https://travis-ci.org/mweibel/lcov-result-merger/jobs/122562586
https://travis-ci.org/mweibel/lcov-result-merger/jobs/122562588

[2016-04-12 16:39] miigotu commented on #487
@mweibel me too, seems to happen when both PR and PUSH jobs are submitting near the same time. I have added a `-` to the beginning of the coveralls line in my tox.ini so it submits when it succeeds but doesnt fail the build if coveralls fails to submit.

[2016-04-12 16:48] michaelaye commented on #487
@miigotu Could you please show an explicit example tox.ini with the positioning of that dash? thx

[2016-04-12 17:43] miigotu commented on #487
https://github.com/SickRage/SickRage/blob/master/tox.ini#L17

[2016-04-12 21:34] dmcnulla commented on #758
[SimpleCov issue](https://github.com/colszowka/simplecov/issues/489)

[2016-04-12 21:34] #758 closed

[2016-04-13 15:57] gilles-duboscq commented on #487
Same thing there:
https://travis-ci.org/chimpler/pyhocon/builds/122821766
2 jobs worked and 2 jobs failed
https://github.com/chimpler/pyhocon/blob/master/tox.ini

[2016-04-14 00:53] s-a opened #760 "Badge does not update"
The badges of my projects will not update and are in state "unknown" forever at https://github.com/s-a/user-appdata and https://github.com/s-a/ntcc.

[2016-04-14 08:39] adnam commented on #710
I also have this issue

[2016-04-14 17:22] jbboehr commented on #652
I'm having this issue as well:
- https://coveralls.io/github/jbboehr/handlebars.php
- https://coveralls.io/github/jbboehr/zsql.php

If you're using nginx, a potential solution is to hard-code the script name instead of using rewrite or `location ~ \.php$`. This prevents access to any file in the docroot that isn't whitelisted by another rule.

[code]

[2016-04-15 11:13] naservere commented on #738
Dear Coveralls! Any reaction on this? It's already one month since the issue was reported...

[2016-04-17 03:03] mr337 commented on #30
+1 for Jenkins, just signed up, but quickly noticed if your not using Travis you lose some features. Is this ture?